/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messengercompose.css ===========================================
  == Styles for the main Messenger Compose window.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://messenger/skin/shared/messengercompose.css");

@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: special toolbar colors ::::: */

@media (-moz-os-version: windows-win10) and (-moz-windows-default-theme) {
  #menubar-items > #mail-menubar > menu[disabled="true"] {
    background-color: transparent;
  }

  #menubar-items > #mail-menubar >
    menu:not([disabled="true"])[_moz-menuactive="true"] {
    background-color: hsla(0, 0%, 0%, .12);
  }

  #menubar-items > #mail-menubar >
    menu:not([disabled="true"])[_moz-menuactive="true"]:-moz-lwtheme-brighttext {
    background-color: hsla(0, 0%, 100%, .2);
  }
}

#composeContentBox {
  appearance: none;
  color: -moz-dialogtext;
  background-color: -moz-Dialog;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
  border-top-width: 0;
}

#composeContentBox:-moz-window-inactive {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset;
}

#headers-box {
  appearance: none;
  padding-bottom: 2px;
}

#MsgHeadersToolbar {
  color: -moz-DialogText;
  text-shadow: none;
}

#msgheaderstoolbar-box {
  padding-bottom: 2px;
}

#addresses-box {
  padding-top: 4px;
}

#subjectLabel {
  margin-bottom: 0;
}

@media (-moz-windows-classic) {
  :root:not(:-moz-lwtheme) .autocomplete-richlistitem {
    --arrowpanel-dimmed: Highlight;
  }
}

@media (prefers-contrast) {
  #msgSubject:not(:-moz-lwtheme),
  #msgIdentity:not(:-moz-lwtheme),
  .address-container:not(:-moz-lwtheme) {
    --toolbarbutton-hover-bordercolor: ThreeDShadow;
  }

  #msgSubject:not(:-moz-lwtheme):hover,
  #msgIdentity:not(:-moz-lwtheme):hover,
  .address-container:not(:-moz-lwtheme):hover {
    --toolbarbutton-hover-bordercolor: ThreeDDarkShadow;
  }

  #MsgHeadersToolbar:not(:-moz-lwtheme) .address-pill {
    box-shadow: inset 0 0 0 1px ThreeDShadow;
  }

  #MsgHeadersToolbar:not(:-moz-lwtheme) .address-pill:hover:not(.editing),
  #MsgHeadersToolbar:not(:-moz-lwtheme) .address-pill:focus:not(.editing) {
    box-shadow: inset 0 0 0 1px SelectedItem;
  }

  #MsgHeadersToolbar:not(:-moz-lwtheme) .address-pill[selected] {
    color: SelectedItemText;
    background-color: SelectedItem;
    box-shadow: inset 0 0 0 1px SelectedItem, inset 0 0 0 2em SelectedItem;
  }

  #MsgHeadersToolbar:not(:-moz-lwtheme) .address-pill[selected]:hover:not(.editing),
  #MsgHeadersToolbar:not(:-moz-lwtheme) .address-pill[selected]:focus:not(.editing) {
    box-shadow: inset 0 0 0 1px SelectedItemText, inset 0 0 0 2em SelectedItem;
    text-shadow: none;
  }

  #MsgHeadersToolbar:not(:-moz-lwtheme) .address-pill:not([selected]) .pill-indicator {
    fill: ThreeDShadow;
  }

  #MsgHeadersToolbar:not(:-moz-lwtheme)
    .address-pill:not([selected],.editing):hover .pill-indicator {
    fill: SelectedItem;
  }
}

#identityLabel-box {
  margin-top: 1px;
}

#msgIdentity {
  line-height: 1;
  box-shadow: none;
}

#msgIdentity:-moz-focusring:not([open="true"])::part(label-box) {
  outline: none;
}

@media (prefers-contrast) {
  #msgIdentity::part(label-box) {
    background-color: transparent !important;
    color: inherit !important;
  }
}

#msgIdentity::part(text-input) {
  background-color: inherit;
  color: inherit;
  margin-block: 2px;
}

@media not (-moz-windows-non-native-menus) {
  :root[lwt-tree] #msgIdentityPopup {
    --panel-background: transparent;
    --panel-border-color: var(--arrowpanel-border-color);
  }
}

.address-label-container {
  padding-top: 5px;
}

.address-container {
  padding: 0 4px;
}

#msgIdentity,
.address-container {
  min-height: 28px;
}

#msgSubject {
  min-height: 26px;
  margin-top: 0;
  padding-inline-start: 5px;
}

/* ::::: format toolbar ::::: */

#FormatToolbox {
  appearance: none;
}

#FontFaceSelect {
  max-width: 35ch;
}

toolbarbutton.formatting-button {
  margin: 1px;
}

/* ..... smiley menu ..... */

@media not (-moz-windows-non-native-menus) {
  #smileyPopup > menuitem > .menu-text {
    margin-inline-start: -1.45em !important;
  }
}

@media (-moz-windows-non-native-menus) {
  #smileyPopup > menuitem {
    padding-inline-start: 14px;
  }
}

/* ..... fg/bg color picker ..... */

.color-button {
  border: 1px inset ThreeDFace;
  padding: 0;
  width: 14px;
  height: 12px;
  margin: 2px;
}

.color-button:hover {
  border: 1px solid ThreeDDarkShadow;
}

.color-button[disabled="true"],
.color-button[disabled="true"]:hover {
  border: 1px inset ThreeDFace;
  opacity: 0.5;
}

/* ::::: address book sidebar ::::: */

.ab-closebutton > .toolbarbutton-icon {
  margin-inline-end: 0; /* override toolkit's default value */
}

#compose-toolbox {
  appearance: none;
  border-bottom: 1px solid var(--chrome-content-separator-color);
}

@media (-moz-windows-default-theme) {
  @media (-moz-os-version: windows-win8),
         (-moz-os-version: windows-win10) {
    #compose-toolbox:not(:-moz-lwtheme) {
      --chrome-content-separator-color: #c2c2c2;
    }
  }
}

toolbar:not(:-moz-lwtheme) {
  appearance: none;
}

#compose-toolbox > toolbar:not([type="menubar"]) {
  padding: 2px 1px;
}

#compose-toolbox > toolbar:not([type="menubar"]):-moz-lwtheme {
  text-shadow: none;
}

/* ::::: primary toolbar buttons ::::: */

#compose-toolbar-sizer {
  border-block-width: 0;
}

/* ::::: autocomplete icons ::::: */

.ac-site-icon {
  display: -moz-box;
  margin: 1px 5px;
}

/* ::::: address book sidebar ::::: */

#sidebar {
  background-color: -moz-Dialog;
}

@media (-moz-windows-glass) {
  #compose-toolbox:not(:-moz-lwtheme) {
    color: black;
    text-shadow: 0 0 .7em white, 0 0 .7em white, 0 1px 0 rgba(255, 255, 255, .4);
  }
}
