/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/attachmentList.css");

/* styles for the attachment list */

.attachmentItem:where(:hover) {
  background-color: hsla(0, 0%, 50%, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root:-moz-lwtheme-brighttext .attachmentList .attachmentItem[selected="true"] {
    color: var(--lwt-text-color);
    background: rgba(249, 249, 250, .1);
  }

  :root:-moz-lwtheme-brighttext .attachmentList:focus .attachmentItem[selected="true"] {
    background: var(--dark-lwt-highlight-color);
  }
}
