/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/folderPane.css");

/* ::::: All Servers ::::: */

treechildren::-moz-tree-image(folderNameCol) {
  margin-top: 2px;
}

@media (-moz-windows-default-theme: 0) {
  :root {
    --unread-folder-color: FieldText;
  }

  treechildren::-moz-tree-image(folderNameCol, selected) {
    --unread-folder-color: SelectedItemText;
  }

  #folderTree treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true) {
    padding-inline-start: 23px !important;
  }

  treechildren::-moz-tree-image(folderNameCol, newMessages-true) {
    fill: SelectedItem !important;
  }

  :root:not(:-moz-lwtheme) treechildren::-moz-tree-image(folderNameCol) {
    --default: FieldText;
    --primary: SelectedItem;
  }
}

@media (prefers-contrast) {
  treechildren::-moz-tree-image(folderNameCol, newMessages-true, selected, focus) {
    fill: SelectedItemText !important;
  }
}

#folderTree treechildren::-moz-tree-indentation {
  width: 8px;
}

/* ..... Mode Header ..... */

treechildren::-moz-tree-row(modeHeader) {
  margin-inline: 0;
  border-inline-style: none;
}

/* UI Density customization */

#folderTree > treechildren::-moz-tree-row {
  min-height: 1.8rem;
}

:root[uidensity="compact"] #folderTree > treechildren::-moz-tree-row {
  min-height: 1.6rem;
}

:root[uidensity="touch"] #folderTree > treechildren::-moz-tree-row {
  min-height: 2.4rem;
}

