/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/glodaFacetView.css");

#body {
  --popupColor: Menu;
  --popupBorder: ThreeDShadow;
  --popupHLColor: SelectedItem;
  --popupHLTextColor: SelectedItemText;
  --barColor: SelectedItem;
  --barHlColor: -moz-nativehyperlinktext;
  --dateColor: rgba(0,0,0,0.1);
  --dateHLColor: SelectedItem;
  --borderRadius: 0;
  --buttonHoverColor: ButtonShadow;
  --buttonHoverTextColor: -moz-ButtonHoverText;
}

.facets-sidebar {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

@media (-moz-windows-default-theme) and (-moz-os-version: windows-win7) {
  #main-column {
    --borderRadius: 2px;
  }

  .facets-sidebar {
    background-color: #eef3fa;
  }
}

.barry {
  border-top: 1px solid GrayText;
}

.bar {
  border-bottom: 1px solid GrayText;
}

.bar-link {
  color: -moz-NativehyperlinkText;
}

.bar:hover > .bar-link,
.bar:focus > .bar-link {
  color: SelectedItemText;
}
