/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messenger.css ==================================================
  == Styles shared throughout the Messenger application.
  ======================================================================= */

@import url("chrome://global/skin/global.css");
@import url("chrome://messenger/skin/shared/messenger.css");
@import url("chrome://messenger/content/webextensions.css");

:root {
  --autocomplete-popup-url-color: -moz-nativehyperlinktext;
  --tabline-color: SelectedItem;
  --glassShadowColor: hsla(240, 5%, 5%, .3);
  --new-folder-color: -moz-hyperlinktext;
  --noselect-folder-color: GrayText;
  --toolbar-non-lwt-bgcolor: -moz-dialog;
  --toolbar-non-lwt-textcolor: -moz-dialogText;
  --toolbar-non-lwt-bgimage: linear-gradient(rgba(255, 255, 255, .15),
                                             rgba(255, 255, 255, .15));
  --chrome-content-separator-color: ThreeDShadow;
  --row-grouped-header-bg-color: -moz-dialog;
  --row-grouped-header-bg-color-selected: SelectedItem;
  --panel-separator-color: ThreeDLightShadow;
  --splitter-color: ThreeDShadow;
}

@media (-moz-windows-default-theme) {
  :root {
    --lwt-tabs-border-color: rgba(0,0,0,.3);
    --tabline-color: #0a84ff;
    --toolbar-non-lwt-bgcolor: #f9f9fa;
    --toolbar-non-lwt-textcolor: #0c0c0d;
    --toolbar-non-lwt-bgimage: none;
    --panel-separator-color: hsla(210,4%,10%,.14);
    --autocomplete-popup-url-color: hsl(210, 77%, 47%);
    --splitter-color: #a9b7c9;
    --select-focus-text-color: SelectedItemText;
  }
}

:root:-moz-lwtheme {
  --lwt-tabs-border-color: rgba(0, 0, 0, .3);
  --panel-separator-color: hsla(210, 4%, 10%, .14);
}

:root[lwt-popup-brighttext] {
  --panel-separator-color: rgba(249, 249, 250, .1);
}

:root[lwt-tree] {
  --splitter-color: var(--sidebar-border-color);
  --row-grouped-header-bg-color: hsla(0,0%,50%,.15);
  --row-grouped-header-bg-color-selected: var(--sidebar-highlight-background-color, hsla(0,0%,80%,.6));
}

:root[lwt-tree-brighttext] {
  --row-grouped-header-bg-color-selected: var(--sidebar-highlight-background-color, rgba(249,249,250,.3));
}

@media (prefers-color-scheme: dark) {
  :root:-moz-lwtheme-brighttext {
    --autocomplete-popup-highlight-color: var(--lwt-text-color);
    --dark-lwt-highlight-color: #0a84ff;
  }
}

@media (prefers-contrast) {
  :root {
    --select-focus-text-color: SelectedItemText;
    --lwt-tabs-border-color: ThreeDShadow;
    --tabline-color: SelectedItem;
    --item-focus-selected-border-color: SelectedItemText;
    --new-folder-color: Highligt;
    --menuitem-vertical-padding: 3px;
    --arrowpanel-dimmed: SelectedItem;
    --arrowpanel-dimmed-further: SelectedItem;
    --toolbar-field-focus-border-color: SelectedItem;
  }

  :root:not(:-moz-lwtheme) .themeable-full,
  :root:not(:-moz-lwtheme) .themeable-brighttext,
  :root:not(:-moz-lwtheme) #navigation-toolbox > toolbar,
  :root:not(:-moz-lwtheme) #todaypane-new-event-button,
  :root:not(:-moz-lwtheme) #CardViewBox {
    --toolbarbutton-hover-background: SelectedItem;
    --toolbarbutton-hover-bordercolor: SelectedItemText !important;
    --toolbarbutton-active-background: SelectedItem;
    --toolbarbutton-active-bordercolor: SelectedItemText;
    --toolbarbutton-checked-background: SelectedItem;
    --toolbarbutton-icon-fill-attention: SelectedItem;
  }

  :root:not(:-moz-lwtheme) .toolbarbutton-1.message-header-view-button {
    --toolbarbutton-header-bordercolor: WindowText;
    --toolbarbutton-active-bordercolor: WindowText;
  }

  :root:not(:-moz-lwtheme) .toolbarbutton-1:not(.qfb-tag-button):hover,
  :root:not(:-moz-lwtheme) #calendar-add-task-button:hover,
  :root:not(:-moz-lwtheme) #todaypane-new-event-button:hover,
  :root:not(:-moz-lwtheme) .toolbarbutton-1[checked="true"],
  :root:not(:-moz-lwtheme) .toolbarbutton-menubutton-button:hover {
    color: SelectedItemText !important;
    fill: currentColor;
  }

  menulist {
    --toolbarbutton-hover-background: ButtonFace;
  }
}

@media (-moz-windows-non-native-menus) {
  :root:not([lwt-tree]):-moz-lwtheme-brighttext menupopup {
    --panel-background: var(--arrowpanel-background) !important;
    --panel-color: var(--arrowpanel-color) !important;
    --panel-border-color: var(--arrowpanel-border-color) !important;
    --menu-color: var(--arrowpanel-color) !important;
    --menu-disabled-color: color-mix(in srgb, var(--arrowpanel-color) 35%, transparent) !important;
    --menuitem-hover-background-color: color-mix(in srgb, var(--arrowpanel-color) 13%, transparent) !important;
  }
}

@media not (-moz-windows-non-native-menus) {
  .menu-iconic > .menu-iconic-left,
  .menuitem-iconic > .menu-iconic-left {
    display: -moz-box;
    padding-top: 0;
  }
}

@media (-moz-windows-non-native-menus) {
  /* UI Density customization */
  :root {
    --menuitem-vertical-padding: 3px;
  }
  :root[uidensity="compact"] {
    --menuitem-vertical-padding: 1px;
  }

  :root[uidensity="touch"] {
    --menuitem-vertical-padding: 8px;
  }

  menupopup > menu,
  menupopup > menuitem {
    padding-block: var(--menuitem-vertical-padding);
  }

  menulist > menupopup > menu,
  menulist > menupopup > menuitem {
    padding-inline-end: 0;
  }

  menulist > menupopup:not([needsgutter]) > menu:not([icon], .menu-iconic),
  menulist > menupopup:not([needsgutter]) > menuitem:not([icon], .menuitem-iconic) {
    padding-inline-start: 1em;
  }

  menupopup:not([needsgutter]) > menu:not([icon], .menu-iconic),
  menupopup:not([needsgutter]) > menuitem:not([icon], .menuitem-iconic) {
    padding-inline-start: 36px;
  }

  menupopup[needsgutter] > .menu-iconic > .menu-iconic-left,
  menupopup[needsgutter] > .menuitem-iconic > .menu-iconic-left {
    margin-inline-start: -2px;
  }

  .folderMenuItem > .menu-iconic-left,
  .menuitem-iconic > .menu-iconic-left {
    display: -moz-box;
  }
}

@media (-moz-windows-default-theme: 0),
       (-moz-os-version: windows-win10) and (-moz-windows-default-theme) {
  #menubar-items > #mail-menubar > menu {
    appearance: none;
    color: inherit;
  }
}

@media (-moz-windows-default-theme: 0) {
  #menubar-items > #mail-menubar > menu[_moz-menuactive="true"] {
    color: -moz-MenuHoverText;
  }
}

.titlebar-buttonbox-container {
  -moz-box-align: stretch;
}

@media (-moz-os-version: windows-win7),
       (-moz-os-version: windows-win8) {
  /* Preserve window control buttons position at the top of the button box. */
  .titlebar-buttonbox-container {
    -moz-box-align: start;
  }
}

@media (-moz-windows-classic) {
  :root[tabsintitlebar][sizemode="normal"] #toolbar-menubar {
    margin-top: 4px;
  }
}

#tabbar-toolbar[customizing="true"] {
  min-width: 24px;
}

.inline-toolbar {
  appearance: none;
}

.inline-toolbar toolbarpaletteitem toolbarseparator,
.inline-toolbar toolbarseparator {
  height: 24px;
}

.inline-toolbar toolbarspacer {
  height: 20px;
}

/* ::::: menubar ::::: */

#menubar-items {
  -moz-box-orient: vertical; /* for flex hack */
  margin-bottom: 1px;
}

#menubar-items > menubar {
  -moz-box-flex: 1; /* make menu items expand to fill toolbar height */
}

menubar > menu[disabled="true"]:-moz-lwtheme {
  color: inherit;
  opacity: .4;
}

/* ::::: Toolbar customization ::::: */

toolbarpaletteitem[place="toolbar"] > toolbarspacer {
  width: 11px;
}

/* ::::: toolbarbutton menu-button ::::: */

toolbarbutton[type="menu-button"] {
  -moz-box-align: stretch;
  -moz-box-orient: horizontal !important;
  padding: 0 !important;
}

/* .......... dropmarker .......... */

.toolbarbutton-menubutton-dropmarker {
  appearance: none;
  padding: 3px 7px;
  width: auto;
}

.toolbarbutton-icon {
  margin-inline-end: 0;
}

/* Has to be !important to overrule toolkit's dropmarker.css for the
   dropmarker[disabled="true"] case. */
.toolbarbutton-menu-dropmarker {
  padding-inline-start: 3px !important;
}

.sidebar-header .toolbarbutton-text:not([value]) {
  display: none;
}

menulist.folderMenuItem menu:not(.folderMenuItem) {
  padding-top: 3px;
  padding-bottom: 3px;
}

treecol[sortDirection="ascending"]:not([hideheader="true"]) > .treecol-sortdirection {
  list-style-image: url("chrome://global/skin/icons/arrow-up-12.svg");
}

treecol[sortDirection="descending"]:not([hideheader="true"]) > .treecol-sortdirection {
  list-style-image: url("chrome://global/skin/icons/arrow-down-12.svg");
}

.thread-tree-col-picker image,
.thread-tree-icon-header img {
  padding-inline-start: 1px;
  padding-inline-end: 2px;
  padding-bottom: 2px;
}

treechildren::-moz-tree-row(multicol, odd) {
  background-color: transparent;
}

treechildren::-moz-tree-cell-text {
  padding-inline-start: 2px;
  padding-bottom: 2px;
}

@media (prefers-color-scheme: dark) {
  /* Override the toolkit color. */
  :root:-moz-lwtheme-brighttext tree > treechildren::-moz-tree-row(selected) {
    background-color:  rgba(249, 249, 250, .1);
  }

  :root:-moz-lwtheme-brighttext tree > treechildren::-moz-tree-row(selected, focus) {
    background-color: var(--dark-lwt-highlight-color);
  }

  :root:-moz-lwtheme-brighttext treechildren::-moz-tree-twisty(selected),
  :root:-moz-lwtheme-brighttext tree:not(:focus) treechildren::-moz-tree-image(selected),
  :root:-moz-lwtheme-brighttext #threadTree:not(:focus) treechildren::-moz-tree-cell-text(untagged, selected),
  :root:-moz-lwtheme-brighttext tree:not(#threadTree,:focus) treechildren::-moz-tree-cell-text(selected) {
    color: FieldText;
  }

  :root:-moz-lwtheme-brighttext tree:not(#threadTree) treechildren::-moz-tree-image(selected, focus),
  :root:-moz-lwtheme-brighttext #threadTree treechildren::-moz-tree-image(untagged, selected, focus),
  :root:-moz-lwtheme-brighttext #threadTree treechildren::-moz-tree-cell-text(untagged, selected),
  :root:-moz-lwtheme-brighttext tree:not(#threadTree) treechildren::-moz-tree-cell-text(selected) {
    color: FieldText;
    fill: currentColor;
    stroke: currentColor;
  }

  :root:-moz-lwtheme-brighttext tree:not(#threadTree) treechildren::-moz-tree-twisty(selected),
  :root:-moz-lwtheme-brighttext #threadTree treechildren::-moz-tree-twisty(untagged, selected),
  :root:-moz-lwtheme-brighttext treechildren::-moz-tree-image(folderNameCol, selected, focus) {
    fill: FieldText !important;
  }
}

@media (-moz-windows-default-theme: 0) {
  tree > treechildren::-moz-tree-row(hover) {
    border-color: SelectedItemText !important;
    border-style: solid;
    background-color: transparent;
  }

  #folderTree > treechildren::-moz-tree-row(modeHeader, hover) {
    border-color: ThreeDShadow !important;
    border-inline-style: none;
  }

  tree > treechildren::-moz-tree-row(modeHeader, firstHeader, hover) {
    border-top-style: none;
  }

  tree > treechildren::-moz-tree-row(tagged, selected) {
    background-color: transparent;
    border-color: SelectedItem;
  }

  #threadTree > treechildren::-moz-tree-row(untagged, selected),
  tree:not(#threadTree) > treechildren::-moz-tree-row(selected) {
    border-color: SelectedItem;
    background-color: transparent;
  }

  #threadTree > treechildren::-moz-tree-cell-text(untagged, selected),
  tree:not(#threadTree) > treechildren::-moz-tree-cell-text(selected) {
    color: WindowText;
  }

  #threadTree > treechildren::-moz-tree-row(untagged, selected, focus),
  tree:not(#threadTree) > treechildren::-moz-tree-row(selected, focus) {
    border-color: SelectedItemText;
    background-color: SelectedItem;
  }

  tree > treechildren::-moz-tree-twisty {
    color: WindowText;
  }

  tree > treechildren::-moz-tree-cell-text(dropOn),
  #threadTree > treechildren::-moz-tree-twisty(untagged, selected, focus),
  tree:not(#threadTree) > treechildren::-moz-tree-twisty(selected, focus),
  #threadTree > treechildren::-moz-tree-image(untagged, selected, focus),
  tree:not(#threadTree) > treechildren::-moz-tree-image(selected, focus),
  #threadTree > treechildren::-moz-tree-cell-text(untagged, selected, focus),
  tree:not(#threadTree) > treechildren::-moz-tree-cell-text(selected, focus) {
    color: SelectedItemText;
    fill: currentColor;
  }

  treechildren::-moz-tree-cell-text {
    padding-inline-start: 4px !important;
  }

  .autocomplete-richlistitem:hover {
    color: SelectedItemText;
  }
}

treechildren::-moz-tree-indentation {
  width: 12px;
}

@media (-moz-windows-classic) {
  treecol[hideheader="true"],
  treecolpicker[hideheader="true"] {
    border-width: 0;
  }

  :root[lwt-tree] treecol:not([hideheader="true"]),
  :root[lwt-tree] treecolpicker:not([hideheader="true"]) {
    border-top-width: 0;
    border-inline-start-width: 0;
  }

  :root:not(:-moz-lwtheme) treechildren::-moz-tree-row(hover) {
    border-color: transparent;
    background-color: transparent;
  }

  :root:not(:-moz-lwtheme) treechildren::-moz-tree-row(selected) {
    border-color: transparent;
    background-color: -moz-cellhighlight;
  }

  :root:not(:-moz-lwtheme) tree:not(#threadTree) > treechildren::-moz-tree-row(selected, focus),
  :root:not(:-moz-lwtheme) #threadTree > treechildren::-moz-tree-row(untagged, selected, focus) {
    border-color: SelectedItemText;
    background-color: SelectedItem;
  }

  /* Add a window top border for webextension themes */
  :root[tabsintitlebar][sizemode="normal"] #navigation-toolbox:-moz-lwtheme {
    background-image: linear-gradient(to bottom,
          ThreeDLightShadow 0, ThreeDLightShadow 1px,
          ThreeDHighlight 1px, ThreeDHighlight 2px,
          ActiveBorder 2px, ActiveBorder 4px, transparent 4px),
          var(--lwt-header-image), var(--lwt-additional-images);
  }
}

:root[lwt-tree] treechildren::-moz-tree-row(current, focus) {
  border-color: var(--sidebar-highlight-background-color, hsla(0,0%,80%,.6));
  outline: none;
}

:root[lwt-tree-brighttext] treechildren::-moz-tree-row(current, focus) {
  border-color: var(--sidebar-highlight-background-color, rgba(249,249,250,.3));
}

:root[lwt-tree] treechildren::-moz-tree-row(hover) {
  background-color: hsla(0,0%,50%,.15);
  border-color: transparent;
  background-image: none;
}

menulist {
  padding: 0 5px 1px !important;
}

menulist.folderMenuItem::part(label) {
  margin-inline-start: 2px !important;
}

button[type="menu-button"] > .button-box > button {
  margin-block: -1px;
}

button.notification-button[type="menu-button"] {
  padding-inline-end: 1px;
}

.messageCloseButton > .toolbarbutton-icon {
  margin-inline-end: 12px;
}

.toolbarbutton-menu-dropmarker {
  margin-top: 0;
}

@media (-moz-windows-default-theme: 0) {
  #tabmail:not(:-moz-lwtheme) {
    background-color: ActiveCaption;
  }

  #tabmail:not(:-moz-lwtheme):-moz-window-inactive {
    background-color: InactiveCaption;
  }
}

@media (-moz-windows-compositor: 0) {
  #print-preview-toolbar:not(:-moz-lwtheme) {
    appearance: auto;
    -moz-default-appearance: -moz-win-browsertabbar-toolbox;
  }
}

/* ::::: primary toolbar buttons ::::: */

.toolbarbutton-1[disabled=true] .toolbarbutton-icon,
.toolbarbutton-1[disabled=true] .toolbarbutton-text,
.toolbarbutton-1[disabled=true] .toolbarbutton-menu-dropmarker,
.toolbarbutton-1[disabled=true] > .toolbarbutton-menubutton-dropmarker {
  opacity: .4;
}

toolbar[mode="text"] .toolbarbutton-text {
  margin: 0 !important;
  padding-inline: 2px !important;
}

toolbox[labelalign="end"] > toolbar[mode="full"] .toolbarbutton-1
.toolbarbutton-text {
  padding-inline-end: 2px;
}

.toolbarbutton-1,
.toolbarbutton-1 > .toolbarbutton-menubutton-button,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  appearance: none;
}

menulist > menupopup:not([is="folder-menupopup"]) > menuseparator {
  appearance: none;
  margin-block: 3px;
  padding-block: 0;
  border-top-color: #d7d7d7;
}

@media (-moz-windows-compositor) {
  #unifinder-searchBox,
  #task-addition-box {
    border-top: none;
    background-color: -moz-dialog;
  }
}

/* Status bar */

.statusbar:-moz-lwtheme {
  appearance: none;
}

.statusbar:-moz-lwtheme-brighttext {
  --lwt-tabs-border-color: hsla(0,0%,60%,.4);
}

.statusbarpanel {
  appearance: none;
  border-inline-end: 1px solid ThreeDLightShadow;
}

.statusbarpanel:-moz-lwtheme {
  border-inline-end-color: var(--lwt-tabs-border-color);
}

@media (-moz-os-version: windows-win7) and (-moz-windows-default-theme),
       (-moz-os-version: windows-win8) and (-moz-windows-default-theme) {
  #status-bar:not(:-moz-lwtheme) {
    appearance: none;
    border-style: none;
    border-top: 1px solid ThreeDShadow;
    background-color: var(--toolbar-bgcolor);
  }
}

@media (-moz-windows-classic) {
  .statusbarpanel:not(:-moz-lwtheme) {
    appearance: auto;
    -moz-default-appearance: statusbarpanel;
  }

  label.statusbarpanel {
    margin: 1px;
    padding-block: 2px;
  }
}

/* Status panel */

.statuspanel-label {
  margin: 0;
  padding: 2px 4px;
  background-color: -moz-dialog;
  border: 1px none ThreeDLightShadow;
  border-top-style: solid;
  color: -moz-dialogText;
  text-shadow: none;
}

@media (-moz-windows-default-theme) {
  .statuspanel-label {
    background-color: #f9f9fa;
    color: #444;
  }
}

.statuspanel-label:-moz-locale-dir(ltr):not([mirror]),
.statuspanel-label:-moz-locale-dir(rtl)[mirror] {
  border-right-style: solid;
  /* disabled for triggering grayscale AA (bug 659213)
  border-top-right-radius: .3em;
  */
  margin-right: 1em;
}

.statuspanel-label:-moz-locale-dir(rtl):not([mirror]),
.statuspanel-label:-moz-locale-dir(ltr)[mirror] {
  border-left-style: solid;
  /* disabled for triggering grayscale AA (bug 659213)
  border-top-left-radius: .3em;
  */
  margin-left: 1em;
}

.contentTabInstance {
  background-color: -moz-dialog;
}

.contentTabInstance:-moz-lwtheme {
  background-color: transparent;
  background-image: linear-gradient(transparent 40px, -moz-dialog 40px);
}

/* ::::: groupbox ::::: */

fieldset {
  border: 0.5px groove ThreeDLightShadow;
  border-radius: 3px;
  margin: 1em 3px 3px 3px;
  padding: 3px 0 6px;
}

legend {
  font-weight: normal;
  margin-top: -1em;
  margin-inline-start: 3px;
  padding-right: 3px;
  padding-left: 3px;
  background-color: -moz-dialog;
  font-weight: bold;
}

fieldset > hbox,
fieldset > vbox,
fieldset > radiogroup {
  width: -moz-available;
}

#navigation-toolbox {
  appearance: none;
}

/* UI Density customization */

treechildren::-moz-tree-row {
  height: 1.8rem;
}

:root[uidensity="compact"] treechildren::-moz-tree-row {
  height: 1.6rem;
}

:root[uidensity="touch"] treechildren::-moz-tree-row {
  height: 2.4rem;
}
