/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/message-bar.css");

.notification-button.small-button {
  padding-block: 3px;
}

@media (-moz-windows-non-native-menus) {
  #reminderBarPopup {
    appearance: none;
    -moz-window-shadow: cliprounded;
    background-color: var(--menu-background-color);
    border-color: transparent;
    border-radius: 3px;
    color: var(--menu-color);
  }

  #reminderBarPopup > menuitem {
    appearance: none;
    padding: 0.5em 1em;
  }

  #reminderBarPopup > menuitem[_moz-menuactive="true"] {
    background-color: var(--menuitem-hover-background-color);
    color: var(--menu-color);
  }
}
