/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/quickFilterBar.css");

@media (-moz-os-version: windows-win7) {
  #qfb-qs-textbox {
    margin-block: 4px;
  }
}

@media (-moz-os-version: windows-win8),
       (-moz-os-version: windows-win10) {
  #qfb-qs-textbox {
    margin-block: 5px;
  }
}

#tabbar-toolbar #qfb-show-filter-bar {
  padding-inline: 4px !important;
}

/* :::: Filter Bar :::: */

#quick-filter-bar-main-bar {
  padding-inline-start: 2px;
}

#quick-filter-bar-tab-bar,
#quick-filter-bar-filter-text-bar {
  margin-top: -2px;
  padding: 2px;
}

@media (-moz-windows-default-theme: 0) {
  #quick-filter-bar-filter-text-bar {
    padding-block: 3px;
  }
}

/* :::: Filter Buttons :::: */

#quick-filter-bar toolbarbutton {
  padding: 2px 3px;
  margin-inline: 1px;
}

#quick-filter-bar-main-bar toolbarbutton {
  min-width: 22px;
  margin-inline: 1px;
}

/* keep that hideous outline focus ring from showing on the checked buttons */
#quick-filter-bar-main-bar toolbarbutton:focus {
  outline: none;
}

#quick-filter-bar-filter-text-bar > toolbarbutton {
  margin-block: 1px 0;
}

#qfb-boolean-mode {
  margin: 0 1px;
}

#quick-filter-bar-tab-bar > .qfb-tag-button {
  margin-block: 0;
}

#quick-filter-bar-collapsible-buttons toolbarbutton .toolbarbutton-text {
  margin-inline-start: 3px !important;
}
