/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/tabmail.css");

#tabs-toolbar {
  appearance: none;
}

/* Add extra space to titlebar for dragging */
:root[sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] ~ #tabs-toolbar {
  padding-top: var(--space-above-tabbar);
}

/**
 * Tabmail Tabs
 */

#tabpanelcontainer:-moz-lwtheme {
  color: inherit;
}

/**
 * Tab
 */

tabpanels {
  appearance: none;
  background-color: transparent;
}

/* tabmail-tab focus ring */
.tabmail-tab .tab-label-container {
  border: 1px dotted transparent;
}

.tabmail-tab:focus .tab-label-container {
  border-color: -moz-DialogText;
}

#tabmail-arrowscrollbox[overflow="true"] > .tabmail-tab:first-child::before {
  content: '';
  display: -moz-box;
  margin-inline-start: 0;
}

/**
 * Tab Scrollbox Arrow Buttons
 */

#tabmail-arrowscrollbox::part(scrollbutton-up),
#tabmail-arrowscrollbox::part(scrollbutton-down) {
  appearance: none;
  border-style: none !important;
  padding: 0 3px !important;
  margin: 0 !important;
  margin-inline-end: 1px !important;
}

#tabmail-arrowscrollbox[scrolledtostart=true]::part(scrollbutton-up),
#tabmail-arrowscrollbox[scrolledtoend=true]::part(scrollbutton-down) {
  --toolbarbutton-icon-fill-opacity: .4;
}

#tabmail-arrowscrollbox:-moz-locale-dir(rtl)::part(scrollbutton-up),
#tabmail-arrowscrollbox:-moz-locale-dir(ltr)::part(scrollbutton-down) {
  margin-inline-start: 1px !important;
  margin-inline-end: 0 !important;
}

/**
 * All Tabs Button
 */

#tabmail-arrowscrollbox:not([scrolledtostart=true])::part(scrollbutton-up):hover,
#tabmail-arrowscrollbox:not([scrolledtoend=true])::part(scrollbutton-down):hover {
  background: var(--toolbarbutton-active-background);
}

@media (-moz-windows-glass) {
  /* Set to full fill-opacity to improve visibility of toolbar buttons on aero glass. */
  :root[tabsintitlebar] #tabs-toolbar {
    --toolbarbutton-icon-fill-opacity: 1;
  }

  :root[tabsintitlebar][sizemode=normal] #tabs-toolbar {
    margin-top: 6px;
  }

  #alltabs-button:not(:-moz-lwtheme,[disabled]) {
    border-color: transparent;
    margin-top: 0;
    margin-bottom: -1px;
  }

  #alltabs-button:not(:-moz-lwtheme,[disabled]):hover,
  #tabmail-arrowscrollbox:not(:-moz-lwtheme,[scrolledtostart=true])::part(scrollbutton-up):hover,
  #tabmail-arrowscrollbox:not(:-moz-lwtheme,[scrolledtoend=true])::part(scrollbutton-down):hover {
    background-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
                      rgba(255, 255, 255, .5)),
                      linear-gradient(transparent, rgba(0, 0, 0, .25) 30%),
                      linear-gradient(transparent, rgba(0, 0, 0, .25) 30%);
    background-position: 1px -1px, 0 -1px, 100% -1px;
    background-size: calc(100% - 2px) 100%, 1px 100%, 1px 100%;
    background-repeat: no-repeat;
  }

  #tabs-toolbar[brighttext]
    #tabmail-arrowscrollbox:not(:-moz-lwtheme,[scrolledtostart=true])::part(scrollbutton-up):hover,
  #tabs-toolbar[brighttext]
    #tabmail-arrowscrollbox:not(:-moz-lwtheme,[scrolledtoend=true])::part(scrollbutton-down):hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0),
                      rgba(255, 255, 255, .5)),
                      linear-gradient(transparent, rgba(255, 255, 355, .25) 30%),
                      linear-gradient(transparent, rgba(255, 255, 255, .25) 30%);
  }
}

#alltabs-button {
  padding-right: 3px !important;
  padding-left: 3px !important;
}

.tabs-alltabs-button > hbox > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* Content Tabs */
.contentTabAddress {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (-moz-os-version: windows-win7) and (-moz-windows-default-theme) {
  @media (-moz-windows-glass: 0) {
    :root[tabsintitlebar][sizemode=normal] #toolbar-menubar[autohide=true][inactive] ~
      #tabs-toolbar > *:not(.titlebar-buttonbox-container) {
      margin-top: 6px;
    }
  }
}

@media (-moz-windows-glass) {
  /* draw always a top border with Glass */
  #tabs-toolbar {
    --tabs-top-border-width: 1px;
  }

  .tab-background {
    border-top-style: solid;
  }
}

@media (-moz-windows-glass),
       (-moz-os-version: windows-win8) and (-moz-windows-default-theme) {
  :root[sizemode=normal] .tabmail-tab[visuallyselected]:first-child::before {
    content: '';
    display: -moz-box;
    --lwt-tabs-border-color: var(--glassShadowColor);
  }

  :root[sizemode=normal] .tabmail-tab:not([visuallyselected]):first-child {
    margin-inline-start: 1px;
  }

  :root[sizemode=normal] .tabmail-tab:first-child::before {
    margin-inline-start: 0;
  }
}

@media (-moz-os-version: windows-win8) and (-moz-windows-default-theme) {
  #messengerWindow[darkwindowframe="true"]
  #tabs-toolbar:not(:-moz-lwtheme,:-moz-window-inactive),
  #messengerWindow[darkwindowframe="true"]
  .tabmail-tab:not([selected="true"],:-moz-lwtheme,:-moz-window-inactive) {
    color: white;
  }
}

@media (-moz-os-version: windows-win10) and (-moz-windows-default-theme) {
  .tab-label:-moz-window-inactive {
    /* Calculated to match the opacity change of Windows Explorer
       titlebar text change for inactive windows. */
    opacity: .6;
  }
}
