/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/themeableDialog.css");

@namespace html url("http://www.w3.org/1999/xhtml");

html|input {
  padding: 2px 4px;
}

html|input[type="number"]::-moz-number-spin-up,
html|input[type="number"]::-moz-number-spin-down {
  min-height: 0.55em;
}

menulist[is="menulist-editable"][editable="true"]::part(text-input) {
  padding: 2px 4px;
  margin-block: -1px -2px;
  margin-inline: -6px 4px;
}

@media not (-moz-windows-non-native-menus) {
  menulist menupopup,
  button[type="menu-button"] menupopup,
  menupopup[is="folder-menupopup"],
  panel[type="autocomplete-richlistbox"] {
    appearance: none;
    border: 1px solid var(--box-border-color);
    border-radius: var(--button-border-radius);
    background-color: var(--box-background-color);
  }

  button menupopup menu,
  button menupopup menuitem,
  menulist menupopup menu,
  menulist menupopup menuitem {
    appearance: none;
    color: var(--box-text-color);
  }

  button menupopup > menu:not([disabled="true"])[_moz-menuactive="true"],
  button menupopup > menuitem:not([disabled="true"])[_moz-menuactive="true"],
  menulist menupopup > menu:not([disabled="true"])[_moz-menuactive="true"],
  menulist menupopup > menuitem:not([disabled="true"])[_moz-menuactive="true"] {
    color: var(--popup-item-hover-text);
    background-color: var(--popup-item-hover);
  }

  button menupopup > menu[disabled="true"],
  button menupopup > menuitem[disabled="true"],
  menulist menupopup > menu[disabled="true"],
  menulist menupopup > menuitem[disabled="true"] {
    color: #999;
    /* override the [_moz-menuactive="true"] background color from
       global/menu.css */
    background-color: transparent;
  }

  menulist > menupopup {
    --panel-background: transparent;
  }

  menulist menupopup menu,
  menulist menupopup menuitem,
  button menupopup menu,
  button menupopup menuitem {
    padding-block: 2px;
  }

  menulist > menupopup > menuitem > .menu-iconic-left,
  menulist > menupopup > menu > .menu-iconic-left {
    display: -moz-box;
  }

  menupopup::part(content) {
    border-width: 0;
  }
}

menu > menupopup > menuitem,
menu > menupopup > menu {
  padding-inline: 5px;
}

.menu-right {
  height: 12px;
}

.menu-right:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.radio-label-box {
  margin-inline-start: 0;
  padding-inline-start: 0;
}
