/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

:root {
  --viewColor: #000;
  --viewBackground: #fff;
  --viewBorderColor: #d2d2d2;
  --viewCalendarHeaderBackground: rgba(0, 0, 0, 0.03);
  --viewHighlightBorderColor: #67acd8;
  --viewTodayBorderColor: #7fb9ee;
  --viewTodayColor: inherit;
  --viewTodayBackground: #e1f0fd;
  --viewTodayLabelColor: #fff;
  --viewTodayLabelBackground: var(--primary);
  --viewTodayOffBackground: #d7e8f8;
  --viewTodayDayLabelBackground: #d2e3f3;
  --viewTodayWeekendBackground: #e1f0fd;
  --viewWeekendBackground: #f7ffe3;
  --viewHeaderSelectedBackground: #fffcd8;
  --viewDayBoxSelectedBackground: #fffcd8;
  --viewDayBoxOffSelectedBackground: #f2edb2;
  --viewDayBoxOtherSelectedBackground: #fffcd8;
  --viewMonthOtherBackground: #f3f3f3;
  --viewMonthDayBoxSelectedColor: #616163;
  --viewMonthDayBoxLabelColor: #616163;
  --viewMonthDayOtherBackground: #e8e8e8;
  --viewMonthDayOffLabelBackground: #eaf7ca;
  --viewOffTimeBackground: #f0f0f0;
  --viewTimeBoxColor: #6a6969;
  --viewDayLabelSelectedColor: #000;
  --viewDayLabelSelectedBackground: #fffabc;
  --viewDragboxColor: -moz-dialogtext;
  --viewDragboxBackground: #45a1ff;
  --viewDropshadowBackground: #ffa47d;
}

:root[lwt-tree]:not([lwt-tree-brighttext]) {
  --viewColor: var(--sidebar-text-color);
  --viewBackground: var(--sidebar-background-color, Field);
  --viewBorderColor: var(--sidebar-border-color, var(--splitter-color));
  --viewTodayColor: var(--sidebar-highlight-text-color, SelectedItemText);
  --viewTodayBackground: var(--sidebar-highlight-background-color, SelectedItem);
  --viewTodayDayLabelBackground: var(--sidebar-highlight-background-color, SelectedItem);
  --viewMonthOtherBackground: rgba(0, 0, 0, 0.1);
  --viewMonthDayBoxLabelColor: var(--sidebar-text-color, FieldText);
  --viewMonthDayOtherBackground: rgba(0, 0, 0, 0.2);
  --viewOffTimeBackground: rgba(0, 0, 0, 0.15);
  --viewTimeBoxColor: var(--sidebar-text-color, FieldText);
}

@media (prefers-color-scheme: dark) {
  :root {
    --calview-border-color: var(--splitter-color);
    --calview-border-bottom-color: var(--splitter-color);
    --viewColor: var(--sidebar-text-color);
    --viewBackground: var(--sidebar-background-color, Field);
    --viewBorderColor: var(--sidebar-border-color, var(--splitter-color));
    --viewTodayColor: var(--sidebar-highlight-text-color, SelectedItemText);
    --viewTodayBackground: var(--sidebar-highlight-background-color, SelectedItem);
    --viewTodayDayLabelBackground: var(--sidebar-highlight-background-color, SelectedItem);
    --viewMonthOtherBackground: rgba(0, 0, 0, 0.1);
    --viewMonthDayBoxLabelColor: var(--sidebar-text-color, FieldText);
    --viewMonthDayOtherBackground: rgba(0, 0, 0, 0.2);
    --viewOffTimeBackground: rgba(0, 0, 0, 0.15);
    --viewTimeBoxColor: var(--sidebar-text-color, FieldText);
    --viewCalendarHeaderBackground: rgba(255, 255, 255, 0.05);
    --viewHighlightBorderColor: #9fa3d9;
    --viewTodayColor: var(--sidebar-highlight-text-color, #fff);
    --viewTodayBackground: var(--sidebar-highlight-background-color, #5358a4);
    --viewTodayDayLabelBackground: var(--sidebar-highlight-background-color, #393b66);
    --viewMonthOtherBackground: rgba(255, 255, 255, 0.3);
    --viewOffTimeBackground: rgba(255, 255, 255, 0.05);
    --viewTodayOffBackground: #5358a4;
    --viewTodayWeekendBackground: #5358a4;
    --viewWeekendBackground: #646a56;
    --viewHeaderSelectedBackground: #8b8bbd;
    --viewDayBoxSelectedBackground: #8b8bbd;
    --viewDayBoxOffSelectedBackground: #676795;
    --viewDayBoxOtherSelectedBackground: #fffcd8;
    --viewMonthDayBoxSelectedColor: #d7d7ec;
    --viewMonthDayOtherBackground: rgba(255, 255, 255, 0.3);
    --viewMonthDayOffLabelBackground: #4f5935;
  }
}

:root[systemcolors] {
  --viewColor: WindowText;
  --viewBackground: Field;
  --viewBorderColor: ThreeDShadow;
  --viewHighlightBorderColor: SelectedItem;
  --viewTodayColor: inherit;
  --viewTodayBorderColor: SelectedItem;
  --viewTodayBackground: Field;
  --viewTodayLabelColor: SelectedItemText;
  --viewTodayLabelBackground: SelectedItem;
  --viewTodayOffBackground: ButtonFace;
  --viewTodayDayLabelBackground: ButtonFace;
  --viewTodayWeekendBackground: ButtonFace;
  --viewWeekendBackground: rgba(0, 0, 0, .1);
  --viewHeaderSelectedBackground: ButtonFace;
  --viewDayBoxSelectedBackground: Field;
  --viewDayBoxOffSelectedBackground: rgba(0, 0, 0, .2);
  --viewDayBoxOtherSelectedBackground: rgba(0, 0, 0, .2);
  --viewMonthOtherBackground: ButtonFace;
  --viewMonthDayBoxSelectedColor: SelectedItem;
  --viewMonthDayBoxLabelColor: WindowText;
  --viewMonthDayOtherBackground: ButtonFace;
  --viewMonthDayOffLabelBackground: rgba(0, 0, 0, .1);
  --viewOffTimeBackground: rgba(0, 0, 0, .1);
  --viewTimeBoxColor: GrayText;
  --viewDayLabelSelectedColor: SelectedItemText;
  --viewDayLabelSelectedBackground: SelectedItem;
  --viewDragboxColor: GrayText;
  --viewDragboxBackground: SelectedItem;
  --viewDropshadowBackground: SelectedItem !important;
}

:root[lwt-tree] #calendar-nav-control {
  background-color: var(--lwt-accent-color);
  background-image: var(--lwt-header-image);
  color: var(--lwt-text-color);

  --calview-tabline-color: var(--lwt-tab-line-color, --calview-tabline-color);
  --calview-border-color: var(--sidebar-border-color);
  --calview-border-bottom-color: var(--sidebar-border-color);
}

/* Calendar Items */

.calendar-item-grid {
  display: grid;
  /* NOTE: area "b" may be empty when the location is hidden, so we want it to
   * be able to shrink to 0 height.
   * Moreover, "a" will be calendar-item-flex, which is padded.
   * Therefore, we don't use the "gap" attribute, but provide a margin for each
   * child individually. */
  grid-template: "a c" auto
                 "b c" auto
                 ". c" 1fr / 1fr auto;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

.calendar-item-grid > .calendar-item-flex {
  grid-area: a;
}

.calendar-item-grid > .location-desc {
  grid-area: b;
  /* Margin matches the padding of .calendar-item-flex. */
  margin: 2px;
}

.calendar-item-grid > .calendar-category-box {
  grid-area: c;
  /* Margin matches the padding of .calendar-item-flex. */
  margin: 2px;
}

.calendar-item-flex {
  display: flex;
  align-items: baseline;
  gap: 4px;
  padding: 2px;
  overflow-x: hidden;
}

.calendar-item-flex > .alarm-icons-box {
  display: contents;
}

.item-time-label {
  flex: 0 0 auto;
}

.calendar-item-flex img {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
}

.calendar-item-flex .calendar-category-box {
  flex: 0 0 auto;
  align-self: stretch;
}

.item-type-icon {
  -moz-context-properties: fill;
  fill: currentColor;
}

.item-type-icon:not([src]) {
  display: none;
}

.item-type-icon.rotated-to-read-direction:-moz-locale-dir(ltr) {
  transform: rotate(-90deg);
}

.item-type-icon.rotated-to-read-direction:-moz-locale-dir(rtl) {
  transform: rotate(90deg);
}

.event-name-input,
.event-name-label,
.location-desc {
  font-weight: normal;
  overflow-x: hidden;
}

.event-name-label,
.location-desc {
  text-overflow: ellipsis;
}

.event-name-label {
  white-space: nowrap;
}

:is(calendar-day-view, calendar-week-view) .event-name-label {
  white-space: normal;
}

.event-name-input,
.event-name-label {
  flex: 1 1 auto;
}

.event-name-input {
  padding: 0;
  margin: 0;
  background: transparent;
  color: inherit;
}

.location-desc {
  opacity: 0.5;
  white-space: pre;
}

.item-classification-icon {
  -moz-context-properties: fill;
  fill: currentColor;
}

.item-classification-icon:not([src]) {
  display: none;
}

.calendar-category-box {
  width: 7px;
}

/* Multiday view */

:is(calendar-day-view, calendar-week-view):not([hidden]) {
  display: grid;
  height: 0;
  width: 0;
}

.multiday-grid {
  overflow: auto;
  display: grid;
  grid-auto-flow: column;
  /* Columns: timebar, days, multiday-end-border.
   * --multiday-num-days is set in javascript on the grid. */
  grid-template-columns: min-content repeat(var(--multiday-num-days), 1fr) min-content;
  /* Rows: heading, all-day header, event column.
   * NOTE: We use "min-content" instead of "auto" because otherwise the grid
   * will grow "auto" rows if it has extra vertical space, and this can effect
   * calculating the pixelsPerMinute for the view. */
  grid-template-rows: min-content min-content min-content;
}

.multiday-grid.multiday-grid-rotated {
  grid-auto-flow: row;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: min-content repeat(var(--multiday-num-days), 1fr) min-content;
}

.multiday-header-corner {
  position: sticky;
  z-index: 3;
  inset-block-start: 0;
  inset-inline-start: 0;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.multiday-grid-rotated .multiday-header-corner {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.multiday-timebar {
  /* NOTE: This also helps position multiday-timebar-now-indicator. */
  position: sticky;
  z-index: 2;
}

.multiday-grid:not(.multiday-grid-rotated) .multiday-timebar {
  min-width: 10ex;
  inset-inline-start: 0;
}

.multiday-grid.multiday-grid-rotated .multiday-timebar {
  min-height: 40px;
  inset-block-start: 0;
}

.multiday-timebar-time {
  color: var(--viewTimeBoxColor);
  text-align: end;
  padding: 1px 5px;
}

.day-column-container {
  /* Container children become grid items. */
  display: contents;
}

.day-column-heading {
  color: var(--viewColor);
  font-size: inherit;
  box-sizing: border-box;
  white-space: nowrap;
  padding-inline: 5px;
  padding-block: 1px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.day-column-heading > * {
  flex: 0 0 auto;
}

.day-column-heading {
  position: sticky;
  z-index: 2;
  inset-block-start: 0;
  inset-inline-start: auto;
}

.multiday-grid-rotated .day-column-heading {
  inset-block-start: auto;
  inset-inline-start: 0;
}

calendar-header-container {
  position: sticky;
  z-index: 2;
  /* NOTE: calendar-header-container must have its inset-*-start set in
   * javascript, when we know the height/width of the .day-column-heading. */
  /* Give child all available space. */
  display: grid;
}

.allday-events-list {
  display: block;
  min-height: 30px;
  max-height: 120px;
  min-width: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding-block: 0;
  padding-inline: 1px 6px;
  /* Prevent overscrolling from moving into the parent view.
   * NOTE: This only works if the list is overflowing. For cases where it does
   * not overflow, we must prevent scrolling the parent in javascript. */
  overscroll-behavior: none;
}

.multiday-grid-rotated .allday-events-list:not(:empty) {
  min-width: 150px;
}

.allday-event-listitem {
  display: block;
  margin: 2px;
}

.multiday-events-list {
  padding: 0;
  position: relative;
}

.multiday-event-listitem {
  /* This acts as sized wrapper to an calendar-event-box, so we use the grid
   * display to give it the same dimensions. */
  display: grid;
  position: absolute;
  padding: 1px;
  box-sizing: border-box;
}

/* Margin that allows event creation by click and drag when the time slot is
   full of events. On the right side in normal view ... */
calendar-event-column .multiday-events-list {
  margin-inline: 0 5px;
  margin-block: 0;
}
/* ... and on bottom in rotate view. */
.multiday-grid-rotated calendar-event-column .multiday-events-list {
  margin-block: 0 5px;
  margin-inline: 0;
}

.multiday-end-border {
  grid-row: 1 / 4;
  grid-column: auto;
}

.multiday-grid-rotated .multiday-end-border {
  grid-row: auto;
  grid-column: 1 / 4;
}

.multiday-hour-box-container {
  display: flex;
  flex-direction: column;
}

.multiday-grid-rotated .multiday-hour-box-container {
  flex-direction: row;
}

.multiday-hour-box {
  flex: 1 1 0;
}

/* Borders. */

.multiday-header-corner {
  border-inline-start: none;
  border-inline-end: 2px solid var(--viewBorderColor);
  border-block-start: none;
  border-block-end: 2px solid var(--viewBorderColor);
}

.multiday-timebar {
  border-inline-start: none;
  border-inline-end: 2px solid var(--viewBorderColor);
  border-block: none;
}

.multiday-grid-rotated .multiday-timebar {
  border-block-start: 1px solid var(--viewBorderColor);
  border-block-end: 2px solid var(--viewBorderColor);
  border-inline: none;
}

.day-column-heading {
  border-block: 1px solid var(--viewBorderColor);
  border-inline-start: 1px solid var(--viewBorderColor);
  border-inline-end: none;
}

.multiday-grid-rotated .day-column-heading {
  border-inline: 1px solid var(--viewBorderColor);
  border-block-start: 1px solid var(--viewBorderColor);
  border-block-end: none;
}

calendar-header-container {
  /* Block start border is given by .day-column-heading. */
  border-block-start: none;
  border-block-end: 2px solid var(--viewBorderColor);
  border-inline-start: 1px solid var(--viewBorderColor);
  /* Inline end border is given by the next header. */
  border-inline-end: none;
}

.multiday-grid-rotated calendar-header-container {
  border-inline-start: none;
  border-inline-end: 2px solid var(--viewBorderColor);
  border-block-start: 1px solid var(--viewBorderColor);
  border-block-end: none;
}

calendar-event-column,
.multiday-end-border {
  /* NOTE: For calendar-event-column, the calendar-header-container and last
   * .multiday-hour-box elements provide the starting end ending block borders,
   * respectively. */
  border-inline-start: 1px solid var(--viewBorderColor);
  border-inline-end: none;
  border-block: none;
}

.multiday-grid-rotated :is(
  calendar-event-column,
  .multiday-end-border
) {
  border-block-start: 1px solid var(--viewBorderColor);
  border-block-end: none;
  border-inline: none;
}

.multiday-hour-box {
  border-block-start: none;
  border-block-end: 1px solid var(--viewBorderColor);
  border-inline: none;
}

.multiday-grid:not(.multiday-grid-rotated) .multiday-timebar .multiday-hour-box {
  /* Timebar has same border as in the calendar-event-column, so that they
   * align, but we make it transparent to hide it. */
  border-color: transparent;
}

.multiday-grid-rotated .multiday-hour-box {
  border-inline-start: none;
  border-inline-end: 1px solid var(--viewBorderColor);
  border-block: none;
}

/* If we have more than one day column, and one of them is today, we change the
 * border color. */
.day-column-container:not(:only-of-type).day-column-today :is(
  .day-column-heading,
  calendar-header-container,
  calendar-event-column,
  .multiday-hour-box:last-child
) {
  border-color: var(--viewHighlightBorderColor);
}

/* If a column is after .day-column-today, we match its starting border. */
.multiday-grid:not(.multiday-grid-rotated) :is(
  .day-column-today + .day-column-container :is(
    .day-column-heading,
    calendar-header-container,
    calendar-event-column
  ),
  .day-column-today + .multiday-end-border
) {
  border-inline-start-color: var(--viewHighlightBorderColor);
}

.multiday-grid.multiday-grid-rotated :is(
  .day-column-today + .day-column-container :is(
    .day-column-heading,
    calendar-header-container,
    calendar-event-column
  ),
  .day-column-today + .multiday-end-border
) {
  border-block-start-color: var(--viewHighlightBorderColor);
}

/* Background.
 * Styling priority, from lowest to highest:
 * + .day-column-weekend
 * + .day-column-today
 * + .day-column-selected
 */

.multiday-header-corner,
.day-column-heading,
calendar-header-container,
calendar-event-column,
.multiday-hour-box {
  background-color: var(--viewBackground);
}

.day-column-weekend :is(
  calendar-header-container,
  .multiday-hour-box
) {
  background-color: var(--viewWeekendBackground);
}

.day-column-today :is(
  calendar-header-container,
  .multiday-hour-box
) {
  background-color: var(--viewTodayBackground);
}

.day-column-today.day-column-weekend:not(.day-column-selected) :is(
  calendar-header-container,
  .multiday-hour-box
) {
  background-color: var(--viewTodayWeekendBackground);
}

.day-column-selected :is(
  calendar-header-container,
  .multiday-hour-box
) {
  background-color: var(--viewHeaderSelectedBackground);
}

.multiday-hour-box.multiday-hour-box-off-time {
  background-color: var(--viewOffTimeBackground);
}

.day-column-weekend .multiday-hour-box.multiday-hour-box-off-time {
  background-color: var(--viewMonthDayOffLabelBackground);
}

.day-column-today .multiday-hour-box.multiday-hour-box-off-time {
  background-color: var(--viewTodayOffBackground);
}

.day-column-selected .multiday-hour-box.multiday-hour-box-off-time {
  background-color: var(--viewDayBoxOffSelectedBackground);
}

.fgdragbox {
  -moz-box-orient: inherit;
  display: none;
}

.fgdragbox[dragging="true"] {
  display: -moz-box;
  background: var(--viewDragboxBackground);
  border: 5px var(--viewBackground);
  opacity: 0.5;
  min-height: 2px;
  min-width: 2px;
}

.fgdragcontainer {
  -moz-box-orient: inherit;
  display: none;
}

.fgdragcontainer[dragging="true"] {
  display: -moz-box;
  /* This is a workaround for a stack bug and display: hidden in underlying
   * elements -- the display: hidden bits get misrendered as being on top.
   * Setting an opacity here forces a view to be created for this element, too.
   */
  opacity: 0.9999;
}

.fgdragbox-label {
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  color: var(--viewDragboxColor);
}

.timeIndicator {
  opacity: 0.7;
}

.multiday-grid:not(.multiday-grid-rotated) .timeIndicator {
  min-width: 1px;
  margin-inline: -1px;
  border-block-start: 2px solid red;
}

.multiday-grid.multiday-grid-rotated .timeIndicator {
  min-height: 1px;
  margin-block: -1px;
  border-inline-start: 2px solid red;
}

.multiday-timebar-now-indicator {
  background-color: red;
  position: absolute;
  display: block;
  border-radius: 2px;
}

.multiday-grid:not(.multiday-grid-rotated) .multiday-timebar-now-indicator {
  margin-block-start: -1px;
  height: 4px;
  width: 8px;
  inset-inline-end: 0;
}

.multiday-grid.multiday-grid-rotated .multiday-timebar-now-indicator {
  margin-inline-start: -1px;
  height: 8px;
  width: 4px;
  inset-block-end: 0px;
}

/* Take care to ensure the dummy event box in a calendar-event-column remains hidden. */
calendar-event-box:not([hidden]) {
  /* Be the containing block for the gripbar-start/gripbar-end elements. */
  display: block;
  position: relative;
}

calendar-month-day-box-item[selected="true"].calendar-color-box,
calendar-event-box[selected="true"].calendar-color-box,
calendar-editable-item[selected="true"].calendar-color-box {
  color: #000 !important;
  background-color: #FDF5A0 !important;
  box-shadow: 1px 2px 5px rgba(30, 20, 0, 0.6);
}

calendar-day-label {
  color: var(--viewColor);
  background-color: var(--viewBackground);
}

calendar-day-label[relation="today"] {
  background-color: var(--viewTodayDayLabelBackground);
  color: var(--viewTodayColor);
}

.calendar-day-label-name {
  text-align: center;
}

/* Multiweek/Month View */
calendar-month-view,
calendar-multiweek-view {
  padding: 0px 2px 2px;
  /* Only have a single child. Grid display will automatically stretch to fill
   * the given space. */
  display: grid;
}

calendar-month-view[hidden],
calendar-multiweek-view[hidden] {
  display: none;
}

.monthtable {
  display: grid;
  /* Equal-width columns. To ensure they remain equal width when spacing
   * becomes small, we must make sure each variable width element has
   * overflow-x set to ensure they can shrink.
   * NOTE: we don't set the number of columns to a fixed 7 days of the week
   * since some days of the week can be hidden. This requires the grid-row
   * to be set for each child to ensure they end up on the correct row. */
  grid-auto-columns: 1fr;
  /* The first row is headers, and should not be stretched. */
  grid-template-rows: auto;
  /* All other rows share equal height. Again, variable height elements should
   * have overflow-y set so they can shrink. */
  grid-auto-rows: 1fr;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  /* Complete the end borders. */
  border-inline-end: 1px solid var(--viewBorderColor);
  border-block-end: 1px solid var(--viewBorderColor);
}

.monthtable :is(tbody, thead, tr, td, th) {
  /* Allow the calendar-month-day-box and calendar-day-label elements be the
   * children of the grid. */
  display: contents;
}

.monthtable :is(tr, th, td)[hidden] {
  /* NOTE: Need this CSS rule because the hidden attribute behaviour is
   * overridden by the "display: contents" rule above. */
  display: none;
}

.monthtable :is(td, th) > * {
  /* Hidden overflow ensures each cell has the same width/height, even when the
   * space becomes limited, because this allows the cells to shrink. */
  overflow: hidden;
}

.monthtable :is(td, th) > * {
  /* Every cell in the body gets a starting border, which acts as the end border
   * for the previous cell. */
  border-inline-start: 1px solid var(--viewBorderColor);
  border-block-start: 1px solid var(--viewBorderColor);
}

.monthtable td > :is(
  .calendar-month-day-box-current-month[relation="today"],
  .calendar-month-day-box-day-off[relation="today"],
  .calendar-month-day-box-other-month[relation="today"],
) {
  border-color: var(--viewTodayBorderColor);
}

.monthtable th > calendar-day-label[relation="today"] {
  border-color: var(--viewHighlightBorderColor);
}

.monthtable td > :is(
  .calendar-month-day-box-current-month[relation="today"],
  .calendar-month-day-box-day-off[relation="today"],
  .calendar-month-day-box-other-month[relation="today"]
),
.monthtable th > calendar-day-label[relation="today"] {
  /* Border on all sides. */
  position: relative;
  border-width: 1px;
  border-style: solid;
  /* Overlap the next cell's starting border,
   * or the table's ending border if it is the last cell. */
  margin-inline-end: -1px;
  margin-block-end: -1px;
}

.monthtable calendar-day-label {
  display: block;
}

calendar-month-day-box {
  display: flex;
  flex-direction: column;
}

.calendar-month-day-box-dates {
  flex: 0 0 auto;
  overflow-x: hidden;
}

calendar-month-day-box[relation="today"] > .calendar-month-day-box-dates {
  background-color: var(--viewTodayLabelBackground);
}

.calendar-month-day-box-list {
  display: block;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  flex: 1 1 0;
}

.calendar-month-day-box-list-item {
  display: block;
  margin: 2px;
}

.calendar-month-day-box-current-month {
  background-color: var(--viewBackground);
}

.calendar-month-day-box-day-off {
  background-color: var(--viewWeekendBackground);
}

.calendar-month-day-box-other-month {
  background-color: var(--viewMonthOtherBackground);
}

.calendar-month-day-box-other-month.calendar-month-day-box-day-off {
  background-color: var(--viewMonthDayOtherBackground);
}

.calendar-month-day-box-current-month[relation="today"],
.calendar-month-day-box-day-off[relation="today"],
.calendar-month-day-box-other-month[relation="today"] {
  background-color: var(--viewTodayBackground);
}

.calendar-month-day-box-date-label[relation="today"] {
  color: var(--viewTodayLabelColor);
  font-weight: bold;
}

.calendar-month-day-box-current-month[selected="true"] {
  background-color: var(--viewDayBoxSelectedBackground);
}

.calendar-month-day-box-day-off[selected="true"] {
  background-color: var(--viewDayBoxSelectedBackground);
}

.calendar-month-day-box-other-month[selected="true"] {
  background-color: var(--viewDayBoxOtherSelectedBackground);
}

.calendar-month-day-box-date-label[selected="true"] {
  color: var(--viewMonthDayBoxSelectedColor);
}

.calendar-month-day-box-date-label[relation="today"][selected="true"] {
  color: var(--viewTodayLabelColor);
}

.calendar-month-day-box-date-label {
  color: var(--viewMonthDayBoxLabelColor);
  font-size: 0.9em;
  text-align: right;
  margin: 0;
  padding: 2px;
}

.calendar-month-day-box-week-label {
  text-align: left;
  padding-inline-start: 2px;
  font-weight: normal !important;
  color: var(--viewMonthDayBoxLabelColor);
  opacity: 0.6;
}

.calendar-color-box {
  /* FIXME: Is min-height needed? */
  min-height: 13px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: var(--item-backcolor);
  color: var(--item-forecolor);
}

calendar-month-day-box calendar-month-day-box-item[allday="true"].calendar-color-box {
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset -1px -1px 0 rgba(255, 255, 255, 0.7), inset 1px 1px 0 rgba(255, 255, 255, 0.7);
}

.dropshadow {
  height: 1.2em;
  background-color: var(--viewDropshadowBackground);
  box-shadow: 1px 1px 3px rgba(68, 35, 0, 0.7) inset;
}

:is(.gripbar-start, .gripbar-end) {
  /* Invisible by default. */
  visibility: hidden;
  pointer-events: auto;
  position: absolute;
  /* Center the image. */
  display: grid;
  align-content: center;
  justify-content: center;
  overflow: clip;
}

.event-readonly :is(.gripbar-start, .gripbar-end),
:is(.gripbar-start, .gripbar-end)[hidden] {
  display: none;
}

calendar-event-box:hover :is(.gripbar-start, .gripbar-end) {
  visibility: visible;
}

.gripbar-start {
  cursor: n-resize;
  inset-block: 0 auto;
  inset-inline: 0;
  padding-block: 1px 0;
  padding-inline: 0;
}

.gripbar-end {
  cursor: s-resize;
  inset-block: auto 0;
  inset-inline: 0;
  padding-block: 0 1px;
  padding-inline: 0;
}

/* Rotate the event-grippy.png image in rotated view. */
.multiday-grid-rotated :is(.gripbar-start, .gripbar-end) img:-moz-locale-dir(ltr) {
  transform: rotate(-90deg);
}

.multiday-grid-rotated :is(.gripbar-start, .gripbar-end) img:-moz-locale-dir(rtl) {
  transform: rotate(90deg);
}

.multiday-grid-rotated :is(.gripbar-start, .gripbar-end) {
  /* Explicitly set the content width to 3px (the height of the event-grippy.png
   * img src) since we rotated the image. Otherwise the auto-width uses the
   * width of the src. */
  width: 3px;
}

.multiday-grid-rotated .gripbar-start {
  inset-inline: 0 auto;
  inset-block: 0;
  padding-inline: 1px 0;
  padding-block: 0;
}

.multiday-grid-rotated .gripbar-end {
  inset-inline: auto 0;
  inset-block: 0;
  padding-inline: 0 1px;
  padding-block: 0;
}

.multiday-grid-rotated :is(
  .gripbar-start:-moz-locale-dir(ltr),
  .gripbar-end:-moz-locale-dir(rtl),
) {
  cursor: w-resize;
}

.multiday-grid-rotated :is(
  .gripbar-end:-moz-locale-dir(ltr),
  .gripbar-start:-moz-locale-dir(rtl),
) {
  cursor: e-resize;
}

/* tooltips */
.tooltipBox {
  max-width: 40em;
}

.tooltipValueColumn {
  max-width: 35em; /* tooltipBox max-width minus space for label */
}

.tooltipHeaderTable {
  border-spacing: 0;
}

.tooltipHeaderLabel {
  text-align: end;
  padding-inline-end: 0.5em;
}

.tooltipBodySeparator {
  height: 1ex; /* 1ex space above body text, below last header. */
}

.tooltipBody {
  font-weight: normal;
  white-space: normal;
  overflow-wrap: anywhere;
  margin: 0pt;
}

#conflicts-vbox .tooltipBody {
  overflow: auto;
  min-height: 250px;
}

#calendar-view-context-menu[type="event"] .todo-only,
#calendar-view-context-menu[type="todo"] .event-only,
#calendar-view-context-menu[type="mixed"] .event-only,
#calendar-view-context-menu[type="mixed"] .todo-only,
#calendar-item-context-menu[type="event"] .todo-only,
#calendar-item-context-menu[type="todo"] .event-only,
#calendar-item-context-menu[type="mixed"] .event-only,
#calendar-item-context-menu[type="mixed"] .todo-only {
  display: none;
}

.attendance-menu[itemType="single"] > menupopup > *[scope="all-occurrences"] {
  display: none;
}

.calendar-context-heading-label {
  font-weight: bold;
  color: menutext;
}

calendar-event-box,
calendar-editable-item,
calendar-month-day-box-item {
  opacity: 0.99;
  /* Do not change next line, since it would break item selection */
  -moz-user-focus: normal;
  overflow: hidden;
}

calendar-event-box[invitation-status="NEEDS-ACTION"],
calendar-editable-item[invitation-status="NEEDS-ACTION"],
calendar-month-day-box-item[invitation-status="NEEDS-ACTION"],
.agenda-listitem[status="NEEDS-ACTION"] .agenda-listitem-details {
  outline: 2px dotted black;
  outline-offset: -2px;
  opacity: 0.6;
}

calendar-event-box[invitation-status="TENTATIVE"],
calendar-editable-item[invitation-status="TENTATIVE"],
calendar-month-day-box-item[invitation-status="TENTATIVE"],
calendar-event-box[status="TENTATIVE"],
calendar-editable-item[status="TENTATIVE"],
calendar-month-day-box-item[status="TENTATIVE"],
.agenda-listitem[status="TENTATIVE"] .agenda-listitem-details {
  opacity: 0.6;
}

calendar-event-box[invitation-status="DECLINED"],
calendar-editable-item[invitation-status="DECLINED"],
calendar-month-day-box-item[invitation-status="DECLINED"],
.agenda-listitem[status="DECLINED"] .agenda-listitem-details,
calendar-event-box[status="CANCELLED"],
calendar-editable-item[status="CANCELLED"],
calendar-month-day-box-item[status="CANCELLED"],
.agenda-listitem[status="CANCELLED"] .agenda-listitem-details {
  opacity: 0.5;
}

calendar-month-day-box-item[status="CANCELLED"],
calendar-event-box[status="CANCELLED"],
calendar-editable-item[status="CANCELLED"],
.agenda-listitem[status="CANCELLED"] .agenda-event-start .agenda-listitem-details {
  text-decoration: line-through;
}

/* Navigation controls for the views */
#view-box {
  border: solid ThreeDShadow;
}

:root[lwt-tree] #view-box {
  background-color: var(--sidebar-background-color);
  border-color: var(--sidebar-border-color);
}

:root[systemcolors] #view-box {
  background-color: Field;
}

.navigation-inner-box {
  border-bottom: 1px solid var(--calview-border-bottom-color);
}

.navigation-spacer-box {
  min-width: 15px;
  border-bottom: 1px solid var(--calview-border-bottom-color);
}

radiogroup#view-tabs{
  margin: 0;
}

radio.calview {
  appearance: none;
  min-width: unset;
  border-inline: 1px solid var(--calview-border-color);
  border-bottom: 1px solid var(--calview-border-bottom-color);
  margin: 0;
  padding: 3px 6px;
  -moz-user-focus: normal;
  background-color: transparent;
  color: inherit;
  font-size: 14px;
}

radio.calview > image {
  display: none;
}

radio.calview > hbox {
  margin: 2px;
}

radio.calview:not(:first-child) {
  margin-inline-start: -1px;
}


radio.calview[selected="true"] {
  background-image: linear-gradient(to bottom, var(--calview-tabline-color) 2px, transparent 2px);
  border-bottom-width: 0;
  padding-bottom: 4px;
  color: ButtonText;
  font-weight: bold;
}

radio.calview:not([selected=true]):hover {
  background-color: rgba(0,0,0,.1);
}

:root[lwt-tree-brighttext] radio.calview:not([selected=true]):hover {
  background-color: rgba(249,249,250,.3);
}

:root[lwt-tree] #view-tabs > radio.calview[selected="true"] {
  background-color: var(--toolbar-bgcolor);
  color: var(--toolbar-color);
}

:root[lwt-tree] .navigation-bottombox {
  background-color: var(--toolbar-bgcolor) !important;
}

.view-header {
  font-weight: normal;
  font-size: 14px;
  color: inherit;
}

.view-header[type="end"] {
  text-align: right;
  margin-inline-end: 6px;
}

.navigation-inner-box {
  padding-inline-start: 6px;
  padding-inline-end: 6px;
  padding-bottom: 1px;
}

.navigation-bottombox {
  min-height: 4px;
  max-height: 4px;
}

.today-navigation-button {
  -moz-user-focus: normal;
  appearance: none;
  border: 1px solid transparent;
  border-radius: var(--toolbarbutton-border-radius);
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  color: inherit;
  font-size: 14px;
}

.today-navigation-button:not([disabled="true"]):hover {
  background: var(--toolbarbutton-hover-background);
  border-color: var(--toolbarbutton-hover-bordercolor);
  box-shadow: var(--toolbarbutton-hover-boxshadow);
  color: inherit;
  outline: none;
}

:root[lwt-tree-brighttext] .today-navigation-button:not([disabled="true"]):hover {
  background: rgba(255, 255, 255, .25);
  border-color: rgba(255, 255, 255, .5);
}

.today-navigation-button:not([disabled="true"]):hover:active {
  background: var(--toolbarbutton-active-background);
  border-color: var(--toolbarbutton-active-bordercolor);
  box-shadow: var(--toolbarbutton-active-boxshadow);
  transition-duration: 10ms;
}

:root[lwt-tree-brighttext] .today-navigation-button:not([disabled="true"]):hover:active {
  background: rgba(255, 255, 255, .4);
  border-color: rgba(255, 255, 255, .7);
  box-shadow: inset 0 0 rgba(255, 255, 255, .4);
}

.today-navigation-button > .toolbarbutton-icon {
  display: none;
}

.fgdragspacer {
  display: inherit;
  overflow: hidden;
}

.fgdragcontainer {
  min-width: 1px;
  min-height: 1px;
  overflow:hidden;
}

.multiday-events-list,
.timeIndicator {
  pointer-events: none;
}
