/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --dialog-background: #fefefe;
  --dialog-box-color: #222;
  --client-box-background: #f7f7f7;
  --link-color: -moz-nativehyperlinktext;
  --link-decoration: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dialog-background: #222;
    --dialog-box-color: #f7f7f7;
    --client-box-background: #444;
    --link-color: #f7f7f7;
    --link-decoration: underline;
  }
}

@media (prefers-contrast) {
  :root {
    --dialog-background: -moz-Dialog;
    --dialog-box-color: -moz-DialogText;
    --client-box-background: -moz-Dialog;
    --link-color: -moz-nativehyperlinktext;
    --link-decoration: inherit;
  }
}

#aboutDialog {
  width: 670px;
  /* Set an explicit line-height to avoid discrepancies in 'auto' spacing
     across screens with different device DPI, which may cause font metrics
     to round differently. */
  line-height: 1.5;
}

#aboutDialogContainer {
  color: var(--dialog-box-color);
  background-color: var(--dialog-background);
  /* Needed to hide a 1px line on macOS. */
  margin-bottom: -1px;
}

#rightBox {
  background-image: url("chrome://branding/content/about-wordmark.svg");
  background-repeat: no-repeat;
  /* padding-top creates room for the wordmark */
  padding-top: 38px;
  margin-top: 20px;
  margin-inline: 30px;
  -moz-context-properties: fill;
  fill: currentColor;
}

#rightBox:-moz-locale-dir(rtl) {
  background-position: 100% 0;
}

#bottomBox {
  padding: 15px 10px 0;
}

#version {
  font-weight: bold;
  margin-top: 10px;
  margin-inline-start: 0;
  user-select: text;
  -moz-user-focus: normal;
  cursor: text;
}

#distribution,
#distributionId {
  display: none;
  margin-block: 0;
}

.text-blurb {
  margin-bottom: 10px;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

.update-deck-container {
  display: flex;
  align-items: center;
}

.update-deck-container > * {
  flex: 0 0 auto;
}

.update-deck-container:not(.selected) {
  visibility: hidden;
}

.update-deck-container span {
  font-style: italic;
}

.update-deck-container span > a {
  font-style: normal;
}

.update-throbber {
  width: 16px;
  height: 16px;
  margin-inline-end: 3px;
}

.trademark-label,
.text-link,
.text-link:focus {
  margin: 0;
  padding: 0;
}

.bottom-link,
.bottom-link:focus {
  text-align: center;
  margin: 0 40px;
}

.text-link {
  color: var(--link-color);
}

.text-link:not(:hover) {
  text-decoration: var(--link-decoration);
}

#currentChannel {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
