# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

#ifndef BROWSER_POPUPS_ONLY
  <menupopup id="emailAddressPopup" position="after_start" class="emailAddressPopup"
             onpopupshowing="setupEmailAddressPopup(event.target.triggerNode); goUpdateCommand('cmd_createFilterFromPopup')"
             onpopuphiding="hideEmailNewsPopup(event.target.triggerNode);">
    <menuitem id="emailAddressPlaceHolder"
              disabled="true"/>
    <menuseparator/>
    <menuitem id="addToAddressBookItem"
              label="&AddDirectlyToAddressBook.label;"
              accesskey="&AddDirectlyToAddressBook.accesskey;"
              oncommand="AddContact(this.parentNode.triggerNode)"/>
    <menuitem id="editContactItem" label="&EditContact1.label;" hidden="true"
              accesskey="&EditContact1.accesskey;"
              oncommand="EditContact(this.parentNode.triggerNode)"/>
    <menuitem id="viewContactItem" label="&ViewContact.label;" hidden="true"
              accesskey="&ViewContact.accesskey;"
              oncommand="EditContact(this.parentNode.triggerNode)"/>
    <menuitem id="sendMailToItem" label="&SendMessageTo.label;"
              accesskey="&SendMessageTo.accesskey;"
              oncommand="SendMailToNode(this.parentNode.triggerNode, event)"/>
    <menuitem id="copyEmailAddressItem" label="&CopyEmailAddress.label;"
              accesskey="&CopyEmailAddress.accesskey;"
              oncommand="CopyEmailNewsAddress(this.parentNode.triggerNode)"/>
    <menuitem id="copyNameAndEmailAddressItem" label="&CopyNameAndEmailAddress.label;"
              accesskey="&CopyNameAndEmailAddress.accesskey;"
              oncommand="CopyEmailNewsAddress(this.parentNode.triggerNode, true)"/>
#ifdef MOZ_OPENPGP
    <menuseparator class="openpgp-item"/>
    <menuitem id="searchKeysOpenPGP" data-l10n-id="openpgp-search-keys-openpgp"
              class="openpgp-item"
              oncommand="Enigmail.msg.searchKeysOnInternet(this.parentNode.triggerNode)"/>
#endif
    <menuseparator/>
    <menuitem id="createFilterFromItem" label="&CreateFilterFrom.label;"
              accesskey="&CreateFilterFrom.accesskey;"
              oncommand="CreateFilter(this.parentNode.triggerNode, gMessageDisplay.displayedMessage)"
              observes="cmd_createFilterFromPopup"/>
  </menupopup>

  <menupopup id="copyPopup">
    <menuitem id="copyMenuitem"
              data-l10n-id="text-action-copy"
              oncommand="Cc['@mozilla.org/widget/clipboardhelper;1']
                           .getService(Ci.nsIClipboardHelper)
                           .copyString(window.getSelection().isCollapsed ?
                             this.parentNode.triggerNode.textContent :
                             window.getSelection().toString());"/>
    <menuitem id="createFilterFromMenuItem" label="&CreateFilterFrom.label;"
              accesskey="&CreateFilterFrom.accesskey;"
              oncommand="CreateFilter(this.parentNode.triggerNode, gMessageDisplay.displayedMessage)"
              observes="cmd_createFilterFromPopup"/>
  </menupopup>
#endif
#ifndef NO_MAILCONTEXT
  <!-- "Please keep all items and separators up to date in nsContextMenu.js when making changes here" -->
  <menupopup id="mailContext"
             onpopupshowing="return fillMailContextMenu(event);"
             onpopuphiding="mailContextOnPopupHiding(event);">
    <!-- Spellchecking suggestions -->
    <menuitem id="mailContext-spell-no-suggestions"
              disabled="true"
              data-l10n-id="text-action-spell-no-suggestions"/>
    <menuitem id="mailContext-spell-add-to-dictionary"
              data-l10n-id="text-action-spell-add-to-dictionary"
              oncommand="gSpellChecker.addToDictionary();"/>
    <menuitem id="mailContext-spell-undo-add-to-dictionary"
              data-l10n-id="text-action-spell-undo-add-to-dictionary"
              oncommand="gSpellChecker.undoAddToDictionary();" />
    <menuseparator id="mailContext-spell-suggestions-separator"/>

    <menuitem id="mailContext-openInBrowser"
              label="&openInBrowser.label;"
              accesskey="&openInBrowser.accesskey;"
              oncommand="gContextMenu.openInBrowser();"/>
    <menuitem id="mailContext-openLinkInBrowser"
              label="&openLinkInBrowser.label;"
              accesskey="&openLinkInBrowser.accesskey;"
              oncommand="gContextMenu.openLinkInBrowser();"/>
    <menuseparator id="mailContext-sep-open-browser"/>
    <menuitem id="mailContext-reload"
              label="&reloadCmd.label;"
              accesskey="&reloadCmd.accesskey;"
              command="cmd_reload"/>
    <menuitem id="mailContext-stop"
              label="&stopCmd.label;"
              accesskey="&stopCmd.accesskey;"
              command="cmd_stop"/>
    <menuseparator id="mailContext-sep-link"/>
    <menuitem id="mailContext-undo"
              label="&undoDefaultCmd.label;"
              accesskey="&undoDefaultCmd.accesskey;"
              command="cmd_undo"/>
    <menuseparator id="mailContext-sep-undo"/>
    <menuitem id="mailContext-cut"
              data-l10n-id="text-action-cut"
              command="cmd_copy"/>
    <menuitem id="mailContext-copy"
              data-l10n-id="text-action-copy"
              command="cmd_copy"/>
    <menuitem id="mailContext-paste"
              data-l10n-id="text-action-paste"
              command="cmd_paste"/>
    <menuitem id="mailContext-selectall"
              data-l10n-id="text-action-select-all"
              command="cmd_selectAll"/>
    <menuseparator id="mailContext-sep-clipboard"/>

    <menuitem id="mailContext-searchTheWeb"
              label="[glodaComplete.webSearch1.label]"
              oncommand="openWebSearch(event.target.value)"/>

    <!-- Spellchecking general menu items (enable, add dictionaries...) -->
    <menuseparator id="mailContext-spell-separator"/>
    <menuitem id="mailContext-spell-check-enabled"
              data-l10n-id="text-action-spell-check-toggle"
              type="checkbox"
              oncommand="gSpellChecker.toggleEnabled();"/>
    <menuitem id="mailContext-spell-add-dictionaries-main"
              label="&spellAddDictionaries.label;"
              accesskey="&spellAddDictionaries.accesskey;"
              oncommand="gContextMenu.addDictionaries();"/>
    <menu id="mailContext-spell-dictionaries"
          data-l10n-id="text-action-spell-dictionaries">
        <menupopup id="mailContext-spell-dictionaries-menu">
            <menuseparator id="mailContext-spell-language-separator"/>
            <menuitem id="mailContext-spell-add-dictionaries"
                      label="&spellAddDictionaries.label;"
                      accesskey="&spellAddDictionaries.accesskey;"
                      oncommand="gContextMenu.addDictionaries();"/>
        </menupopup>
    </menu>
#ifndef BROWSER_POPUPS_ONLY
    <menuitem id="mailContext-editDraftMsg"
              label="&contextEditDraftMsg.label;"
              default="true"
              oncommand="MsgEditDraftMessage(event);"/>
    <menuitem id="mailContext-newMsgFromTemplate"
              label="&contextNewMsgFromTemplate.label;"
              default="true"
              oncommand="MsgNewMessageFromTemplate(event);"/>
    <menuseparator id="mailContext-sep-editTemplate"/>
    <menuitem id="mailContext-editTemplateMsg"
              label="&contextEditTemplate.label;"
              accesskey="&contextEditTemplate.accesskey;"
              oncommand="MsgEditTemplateMessage(event);"/>
    <menuseparator id="mailContext-sep-open"/>
    <menuitem id="mailContext-media-play"
              label="&contextPlay.label;"
              accesskey="&contextPlay.accesskey;"
              oncommand="gContextMenu.mediaCommand('play');"/>
    <menuitem id="mailContext-media-pause"
              label="&contextPause.label;"
              accesskey="&contextPause.accesskey;"
              oncommand="gContextMenu.mediaCommand('pause');"/>
    <menuitem id="mailContext-media-mute"
              label="&contextMute.label;"
              accesskey="&contextMute.accesskey;"
              oncommand="gContextMenu.mediaCommand('mute');"/>
    <menuitem id="mailContext-media-unmute"
              label="&contextUnmute.label;"
              accesskey="&contextUnmute.accesskey;"
              oncommand="gContextMenu.mediaCommand('unmute');"/>
    <menuitem id="threadPaneContext-openNewTab"
              label="&contextOpenNewTab.label;"
              accesskey="&contextOpenNewTab.accesskey;"
              oncommand="OpenMessageInNewTab(gFolderDisplay.selectedMessage, event);"/>
    <menuitem id="mailContext-openNewWindow"
              label="&contextOpenNewWindow.label;"
              accesskey="&contextOpenNewWindow.accesskey;"
              oncommand="MsgOpenNewWindowForMessage();"/>
    <menuitem id="mailContext-openConversation"
              label="&contextOpenConversation.label;"
              accesskey="&contextOpenConversation.accesskey;"
              oncommand="gConversationOpener.openConversationForMessages(gFolderDisplay.selectedMessages);"/>
    <menuitem id="mailContext-openContainingFolder"
              label="&contextOpenContainingFolder.label;"
              accesskey="&contextOpenContainingFolder.accesskey;"
              oncommand="OpenContainingFolder();"/>
    <menuseparator id="mailContext-sep-open2"/>
    <menuitem id="mailContext-replyNewsgroup"
              label="&contextReplyNewsgroup2.label;"
              accesskey="&contextReplyNewsgroup2.accesskey;"
              oncommand="MsgReplyGroup(event);"/>
    <menuitem id="mailContext-replySender"
              label="&contextReplySender.label;"
              accesskey="&contextReplySender.accesskey;"
              oncommand="MsgReplySender(event);"/>
    <menuitem id="mailContext-replyAll"
              label="&contextReplyAll.label;"
              accesskey="&contextReplyAll.accesskey;"
              oncommand="MsgReplyToAllMessage(event);"/>
    <menuitem id="mailContext-replyList"
              label="&contextReplyList.label;"
              accesskey="&contextReplyList.accesskey;"
              oncommand="MsgReplyToListMessage(event);"/>
    <menuitem id="mailContext-forward"
              label="&contextForward.label;"
              accesskey="&contextForward.accesskey;"
              oncommand="MsgForwardMessage(event);"/>
    <menu id="mailContext-forwardAsMenu"
          label="&contextForwardAsMenu.label;"
          accesskey="&contextForwardAsMenu.accesskey;">
      <menupopup id="mailContext-forwardAsPopup">
        <menuitem id="mailContext-forwardAsInline"
                  label="&contextForwardAsInline.label;"
                  accesskey="&contextForwardAsInline.accesskey;"
                  command="cmd_forwardInline"/>
        <menuitem id="mailContext-forwardAsAttachment"
                  label="&contextForwardAsAttachmentItem.label;"
                  accesskey="&contextForwardAsAttachmentItem.accesskey;"
                  command="cmd_forwardAttachment"/>
      </menupopup>
    </menu>
    <menuitem id="mailContext-multiForwardAsAttachment"
              label="&contextMultiForwardAsAttachment.label;"
              accesskey="&contextMultiForwardAsAttachment.accesskey;"
              oncommand="MsgForwardAsAttachment(event);"/>
    <menuitem id="mailContext-redirect"
              data-l10n-id="context-menu-redirect-msg"
              oncommand="MsgRedirectMessage(event);"/>
    <!-- The following item (mailContext-editAsNew) is not hooked to its command
         because we need to enable it even in some cases there is no real
         selected message yet, only a rightclick on a message. -->
    <menuitem id="mailContext-editAsNew"
              label="&contextEditMsgAsNew.label;"
              accesskey="&contextEditMsgAsNew.accesskey;"
              oncommand="MsgEditMessageAsNew(event);"/>
    <menuseparator id="mailContext-sep-reply"/>
    <menu id="mailContext-tags" label="&tagMenu.label;" accesskey="&tagMenu.accesskey;">
      <menupopup id="mailContext-tagpopup"
                 onpopupshowing="InitMessageTags(this);">
        <menuitem id="mailContext-addNewTag"
                  label="&addNewTag.label;"
                  accesskey="&addNewTag.accesskey;"
                  command="cmd_addTag"/>
        <menuitem id="mailContext-manageTags"
                  label="&manageTags.label;"
                  accesskey="&manageTags.accesskey;"
                  command="cmd_manageTags"/>
        <menuseparator id="mailContext-sep-afterTagAddNew"/>
        <menuitem id="mailContext-tagRemoveAll"
                  command="cmd_removeTags"/>
        <menuseparator id="mailContext-sep-afterTagRemoveAll"/>
      </menupopup>
    </menu>
    <menu id="mailContext-mark"
          label="&markMenu.label;"
          accesskey="&markMenu.accesskey;">
      <menupopup id="mailContext-markPopup"
                 onpopupshowing="InitMessageMark()">
        <menuitem id="mailContext-markRead"
                  label="&markAsReadCmd.label;"
                  accesskey="&markAsReadCmd.accesskey;"
                  command="cmd_markAsRead"/>
        <menuitem id="mailContext-markUnread"
                  label="&markAsUnreadCmd.label;"
                  accesskey="&markAsUnreadCmd.accesskey;"
                  command="cmd_markAsUnread"/>
        <menuitem id="mailContext-markThreadAsRead"
                  label="&markThreadAsReadCmd.label;"
                  accesskey="&markThreadAsReadCmd.accesskey;"
                  command="cmd_markThreadAsRead"/>
        <menuitem id="mailContext-markReadByDate"
                  label="&markReadByDateCmd.label;"
                  accesskey="&markReadByDateCmd.accesskey;"
                  command="cmd_markReadByDate"/>
        <menuitem id="mailContext-markAllRead"
                  label="&markAllReadCmd.label;"
                  accesskey="&markAllReadCmd.accesskey;"
                  command="cmd_markAllRead"/>
        <menuseparator id="mailContext-sep-afterMarkAllRead"/>
        <menuitem id="mailContext-markFlagged"
                  type="checkbox"
                  label="&markStarredCmd.label;"
                  accesskey="&markStarredCmd.accesskey;"
                  command="cmd_markAsFlagged"/>
        <menuseparator id="mailContext-sep-afterMarkFlagged"/>
        <menuitem id="mailContext-markAsJunk"
                  label="&markAsJunkCmd.label;"
                  accesskey="&markAsJunkCmd.accesskey;"
                  command="cmd_markAsJunk"/>
        <menuitem id="mailContext-markAsNotJunk"
                  label="&markAsNotJunkCmd.label;"
                  accesskey="&markAsNotJunkCmd.accesskey;"
                  command="cmd_markAsNotJunk"/>
        <menuitem id="mailContext-recalculateJunkScore"
                  label="&recalculateJunkScoreCmd.label;"
                  accesskey="&recalculateJunkScoreCmd.accesskey;"
                  command="cmd_recalculateJunkScore"/>
      </menupopup>
    </menu>
    <menuseparator id="mailContext-sep-afterMarkMenu"/>
    <menuitem id="mailContext-copyMessageUrl"
              label="&copyMessageLocation.label;"
              accesskey="&copyMessageLocation.accesskey;"
              oncommand="CopyMessageUrl()"/>
    <menuitem id="mailContext-archive"
              label="&contextArchive.label;"
              accesskey="&contextArchive.accesskey;"
              oncommand="MsgArchiveSelectedMessages(event);"/>
    <menu id="mailContext-moveMenu"
          label="&contextMoveMsgMenu.label;"
          accesskey="&contextMoveMsgMenu.accesskey;"
          oncommand="MsgMoveMessage(event.target._folder)">
      <menupopup is="folder-menupopup" id="mailContext-fileHereMenu"
                 mode="filing"
                 showFileHereLabel="true"
                 showRecent="true"
                 recentLabel="&contextMoveCopyMsgRecentMenu.label;"
                 recentAccessKey="&contextMoveCopyMsgRecentMenu.accesskey;"
                 showFavorites="true"
                 favoritesLabel="&contextMoveCopyMsgFavoritesMenu.label;"
                 favoritesAccessKey="&contextMoveCopyMsgFavoritesMenu.accesskey;"/>
    </menu>
    <menu id="mailContext-copyMenu"
          label="&contextCopyMsgMenu.label;"
          accesskey="&contextCopyMsgMenu.accesskey;"
          oncommand="MsgCopyMessage(event.target._folder)">
      <menupopup is="folder-menupopup" id="mailContext-copyHereMenu"
                 mode="filing"
                 showFileHereLabel="true"
                 showRecent="true"
                 recentLabel="&contextMoveCopyMsgRecentMenu.label;"
                 recentAccessKey="&contextMoveCopyMsgRecentMenu.accesskey;"
                 showFavorites="true"
                 favoritesLabel="&contextMoveCopyMsgFavoritesMenu.label;"
                 favoritesAccessKey="&contextMoveCopyMsgFavoritesMenu.accesskey;"/>
    </menu>
    <menuitem id="mailContext-moveToFolderAgain"
              command="cmd_moveToFolderAgain"
              label="&moveToFolderAgain.label;"
              accesskey="&moveToFolderAgain.accesskey;"/>

#ifdef MOZ_OPENPGP
    <menu id="mailContext-decryptToFolder"
          class="openpgp-item"
          data-l10n-id="context-menu-decrypt-to-folder"
          data-l10n-attrs="accesskey"
          oncommand="Enigmail.msg.decryptToFolder(event.target._folder, false);">
      <menupopup is="folder-menupopup"
                 id="mailContext-decryptToTargetFolder"
                 mode="filing"
                 showFileHereLabel="true"
                 showRecent="true"
                 recentLabel="&contextMoveCopyMsgRecentMenu.label;"
                 recentAccessKey="&contextMoveCopyMsgRecentMenu.accesskey;"
                 showFavorites="true"
                 favoritesLabel="&contextMoveCopyMsgFavoritesMenu.label;"
                 favoritesAccessKey="&contextMoveCopyMsgFavoritesMenu.accesskey;"
                 hasbeenopened="false" />
    </menu>
#endif

    <menu id="mailContext-calendar-convert-menu"
          class="hide-when-calendar-deactivated"
          label="&calendar.context.convertmenu.label;"
          accesskey="&calendar.context.convertmenu.accesskey.mail;">
      <menupopup id="mailContext-calendar-convert-menupopup">
        <menuitem id="mailContext-calendar-convert-event-menuitem"
                  label="&calendar.context.convertmenu.event.label;"
                  accesskey="&calendar.context.convertmenu.event.accesskey;"
                  oncommand="calendarExtract.extractFromEmail(true)" />
        <menuitem id="mailContext-calendar-convert-task-menuitem"
                  label="&calendar.context.convertmenu.task.label;"
                  accesskey="&calendar.context.convertmenu.task.accesskey;"
                  oncommand="calendarExtract.extractFromEmail(false)" />
      </menupopup>
    </menu>

    <menuitem id="mailContext-delete"
              command="cmd_delete"/>

    <menuseparator id="paneContext-afterMove"/>
    <menuitem id="mailContext-ignoreThread"
              type="checkbox"
              label="&contextKillThreadMenu.label;"
              accesskey="&contextKillThreadMenu.accesskey;"
              command="cmd_killThread"/>
    <menuitem id="mailContext-ignoreSubthread"
              type="checkbox"
              label="&contextKillSubthreadMenu.label;"
              accesskey="&contextKillSubthreadMenu.accesskey;"
              command="cmd_killSubthread"/>
    <menuitem id="mailContext-watchThread"
              type="checkbox"
              label="&contextWatchThreadMenu.label;"
              accesskey="&contextWatchThreadMenu.accesskey;"
              command="cmd_watchThread"/>
    <menuseparator id="mailContext-afterWatchThread"/>
    <menuitem id="mailContext-saveAs"
              label="&contextSaveAs.label;"
              accesskey="&contextSaveAs.accesskey;"
              oncommand="MsgSaveAsFile();"/>
    <menuitem id="mailContext-print"
              label="&contextPrint.label;"
              accesskey="&contextPrint.accesskey;"
              observes="cmd_print"
              command="cmd_print"/>
#endif
    <menuitem id="downloadSelected"
              label="&downloadSelectedCmd.label;"
              accesskey="&downloadSelectedCmd.accesskey;"
              command="cmd_downloadSelected"/>
    <menuseparator id="mailContext-sep-edit"/>
    <menuitem id="mailContext-copylink"
              label="&copyLinkCmd.label;"
              accesskey="&copyLinkCmd.accesskey;"
              command="cmd_copyLink"/>
    <menuitem id="mailContext-copyimage"
              label="&copyImageAllCmd.label;"
              accesskey="&copyImageAllCmd.accesskey;"
              command="cmd_copyImage"/>
    <menuitem id="mailContext-addemail"
              label="&AddToAddressBook.label;"
              accesskey="&AddToAddressBook.accesskey;"
              oncommand="addEmail();"/>
    <menuitem id="mailContext-composeemailto"
              label="&SendMessageTo.label;"
              accesskey="&SendMessageTo.accesskey;"
              oncommand="composeEmailTo(gContextMenu.linkURL);"/>
    <menuitem id="mailContext-copyemail"
              label="&copyEmailCmd.label;"
              accesskey="&copyEmailCmd.accesskey;"
              oncommand="gContextMenu.copyEmail();"/>
    <menuseparator id="mailContext-sep-copy"/>
    <menuitem id="mailContext-savelink"
              label="&saveLinkAsCmd.label;"
              accesskey="&saveLinkAsCmd.accesskey;"
              oncommand="gContextMenu.saveLink();"/>
    <menuitem id="mailContext-saveimage"
              label="&saveImageAsCmd.label;"
              accesskey="&saveImageAsCmd.accesskey;"
              oncommand="gContextMenu.saveImage();"/>
    <menuseparator id="mailContext-sep-reportPhishing"/>
    <menuitem id="mailContext-reportPhishingURL"
              label="&reportPhishingURL.label;"
              accesskey="&reportPhishingURL.accesskey;"
              oncommand="PhishingDetector.reportPhishingURL(gContextMenu.linkURL);"/>
  </menupopup>
#endif
#ifndef BROWSER_POPUPS_ONLY
  <menupopup id="folderPaneContext"
             onpopupshowing="return fillFolderPaneContextMenu(event);"
             onpopuphiding="if (event.target == this) { folderPaneOnPopupHiding(); }">
    <menuitem id="folderPaneContext-getMessages"
              label="&folderContextGetMessages.label;"
              accesskey="&folderContextGetMessages.accesskey;"
              oncommand="MsgGetMessage();"/>
    <menuitem id="folderPaneContext-pauseAllUpdates"
              type="checkbox"
              label="&folderContextPauseAllUpdates.label;"
              accesskey="&folderContextPauseUpdates.accesskey;"
              oncommand="MsgPauseUpdates(undefined, this.getAttribute('checked') == true);"/>
    <menuitem id="folderPaneContext-pauseUpdates"
              type="checkbox"
              label="&folderContextPauseUpdates.label;"
              accesskey="&folderContextPauseUpdates.accesskey;"
              oncommand="MsgPauseUpdates(undefined, this.getAttribute('checked') == true);"/>
    <menuseparator id="folderPaneContext-sepPause"/>
    <menuitem id="folderPaneContext-openNewTab"
              label="&folderContextOpenNewTab.label;"
              accesskey="&folderContextOpenNewTab.accesskey;"
              oncommand="FolderPaneContextMenuNewTab(event);"/>
    <menuitem id="folderPaneContext-openNewWindow"
              label="&folderContextOpenInNewWindow.label;"
              accesskey="&folderContextOpenInNewWindow.accesskey;"
              oncommand="MsgOpenNewWindowForFolder(null, -1);"/>
    <menuitem id="folderPaneContext-searchMessages"
              label="&folderContextSearchForMessages.label;"
              accesskey="&folderContextSearchForMessages.accesskey;"
              oncommand="gFolderTreeController.searchMessages();"/>
    <menuitem id="folderPaneContext-subscribe"
              label="&folderContextSubscribe.label;"
              accesskey="&folderContextSubscribe.accesskey;"
              oncommand="MsgSubscribe();"/>
    <menuitem id="folderPaneContext-newsUnsubscribe"
              label="&folderContextUnsubscribe.label;"
              accesskey="&folderContextUnsubscribe.accesskey;"
              oncommand="MsgUnsubscribe();"/>
    <menuseparator id="folderPaneContext-sep1"/>
    <menuitem id="folderPaneContext-new"
              label="&folderContextNew.label;"
              accesskey="&folderContextNew.accesskey;"
              oncommand="gFolderTreeController.newFolder();"/>
    <menuitem id="folderPaneContext-remove"
              label="&folderContextRemove.label;"
              accesskey="&folderContextRemove.accesskey;"
              oncommand="gFolderTreeController.deleteFolder();"/>
    <menuitem id="folderPaneContext-rename"
              label="&folderContextRename.label;"
              accesskey="&folderContextRename.accesskey;"
              oncommand="gFolderTreeController.renameFolder();"/>
    <menuseparator id="folderPaneContext-sep2"/>
    <menuitem id="folderPaneContext-compact"
              label="&folderContextCompact.label;"
              accesskey="&folderContextCompact.accesskey;"
              oncommand="gFolderTreeController.compactFolders();"/>
    <menuitem id="folderPaneContext-markMailFolderAllRead"
              label="&folderContextMarkMailFolderRead.label;"
              accesskey="&folderContextMarkMailFolderRead.accesskey;"
              oncommand="MsgMarkAllRead();"/>
    <menuitem id="folderPaneContext-markNewsgroupAllRead"
              label="&folderContextMarkNewsgroupRead.label;"
              accesskey="&folderContextMarkNewsgroupRead.accesskey;"
              oncommand="MsgMarkAllRead();"/>
    <menuitem id="folderPaneContext-emptyTrash"
              label="&folderContextEmptyTrash.label;"
              accesskey="&folderContextEmptyTrash.accesskey;"
              oncommand="gFolderTreeController.emptyTrash();"/>
    <menuitem id="folderPaneContext-emptyJunk"
              label="&folderContextEmptyJunk.label;"
              accesskey="&folderContextEmptyJunk.accesskey;"
              oncommand="gFolderTreeController.emptyJunk();"/>
    <menuitem id="folderPaneContext-sendUnsentMessages"
              label="&folderContextSendUnsentMessages.label;"
              accesskey="&folderContextSendUnsentMessages.accesskey;"
              oncommand="goDoCommand('cmd_sendUnsentMsgs')"/>
    <menuseparator id="folderPaneContext-sep3"/>
    <menuitem id="folderPaneContext-favoriteFolder"
              type="checkbox"
              label="&folderContextFavoriteFolder.label;"
              accesskey="&folderContextFavoriteFolder.accesskey;"
              checked="false"
              oncommand="ToggleFavoriteFolderFlag();"/>
    <menuitem id="folderPaneContext-properties"
              label="&folderContextProperties2.label;"
              accesskey="&folderContextProperties2.accesskey;"
              oncommand="gFolderTreeController.editFolder();"/>
    <menuitem id="folderPaneContext-markAllFoldersRead"
              label="&folderContextMarkAllFoldersRead.label;"
              oncommand="MsgMarkAllFoldersRead();"/>
    <menuseparator id="folderPaneContext-sep4"/>
    <menuitem id="folderPaneContext-settings"
              label="&folderContextSettings2.label;"
              accesskey="&folderContextSettings2.accesskey;"
              oncommand="gFolderTreeController.editFolder();"/>
  </menupopup>

  <menupopup id="aboutPagesContext"
             onpopupshowing="goUpdateCommand('cmd_copy'); goUpdateCommand('cmd_paste'); goUpdateCommand('cmd_selectAll');">
    <menuitem id="aboutPagesContext-copy"
              data-l10n-id="text-action-copy"
              command="cmd_copy"/>
    <menuitem id="aboutPagesContext-paste"
              data-l10n-id="text-action-paste"
              command="cmd_paste"/>
    <menuitem id="aboutPagesContext-selectall"
              data-l10n-id="text-action-select-all"
              command="cmd_selectAll"/>
  </menupopup>

  <menupopup id="toolbar-context-menu"
             onpopupshowing="calendarOnToolbarsPopupShowing(event); ToolbarContextMenu.updateExtension(this);">
    <menuseparator id="customizeMailToolbarMenuSeparator"/>
    <menuitem id="CustomizeMailToolbar"
              command="cmd_CustomizeMailToolbar"
              label="&customizeToolbar.label;"
              accesskey="&customizeToolbar.accesskey;"/>
    <menuseparator id="extensionsMailToolbarMenuSeparator"/>
    <menuitem oncommand="ToolbarContextMenu.openAboutAddonsForContextAction(this.parentElement)"
              data-l10n-id="toolbar-context-menu-manage-extension"
              class="customize-context-manageExtension"/>
    <menuitem oncommand="ToolbarContextMenu.removeExtensionForContextAction(this.parentElement)"
              data-l10n-id="toolbar-context-menu-remove-extension"
              class="customize-context-removeExtension"/>
  </menupopup>

  <menupopup id="remoteContentOptions" value=""
             onpopupshowing="onRemoteContentOptionsShowing(event);">
    <menuitem id="remoteContentOptionAllowForMsg"
              label="&remoteContentOptionsAllowForMsg.label;"
              accesskey="&remoteContentOptionsAllowForMsg.accesskey;"
              oncommand="LoadMsgWithRemoteContent();"/>
    <menuseparator id="remoteContentSettingsMenuSeparator"/>
    <menuitem id="editRemoteContentSettings"
#ifdef XP_WIN
              label="&editRemoteContentSettings.label;"
              accesskey="&editRemoteContentSettings.accesskey;"
#else
              label="&editRemoteContentSettingsUnix.label;"
              accesskey="&editRemoteContentSettingsUnix.accesskey;"
#endif
              oncommand="editRemoteContentSettings();"/>
    <menuseparator id="remoteContentOriginsMenuSeparator"/>
    <menuseparator id="remoteContentAllMenuSeparator"/>
    <menuitem id="remoteContentOptionAllowAll"
              oncommand="allowRemoteContentForAll(this.parentNode);"/>
  </menupopup>

  <menupopup id="phishingOptions">
    <menuitem id="phishingOptionIgnore"
              label="&phishingOptionIgnore.label;"
              accesskey="&phishingOptionIgnore.accesskey;"
              oncommand="IgnorePhishingWarning();"/>
    <menuitem id="phishingOptionSettings"
#ifdef XP_WIN
              label="&phishingOptionSettings.label;"
              accesskey="&phishingOptionSettings.accesskey;"
#else
              label="&phishingOptionSettingsUnix.label;"
              accesskey="&phishingOptionSettingsUnix.accesskey;"
#endif
              oncommand="OpenPhishingSettings();"/>
  </menupopup>

  <tooltip id="qfb-text-search-upsell"
           level="parent"
           style="background-color: #ffeeee;">
    <vbox>
      <label id="qfb-upsell-line-one"
             class="header"
             fmt="&quickFilterBar.glodaUpsell.continueSearch;"
             value=""/>
      <label id="qfb-upsell-line-two"
             fmt="&quickFilterBar.glodaUpsell.pressEnterAndCurrent;"
             value=""/>
    </vbox>
  </tooltip>
#endif
  <panel id="DateTimePickerPanel"
         type="arrow"
         orient="vertical"
         noautofocus="true"
         norolluponanchor="true"
         consumeoutsideclicks="never"
         level="parent"
         tabspecific="true">
  </panel>

  <!-- For select dropdowns. The menupopup is what shows the list of options,
       and the popuponly menulist makes things like the menuactive attributes
       work correctly on the menupopup. ContentSelectDropdown expects the
       popuponly menulist to be its immediate parent. -->
  <menulist popuponly="true" id="ContentSelectDropdown" hidden="true">
    <menupopup rolluponmousewheel="true"
               activateontab="true" position="after_start"
               level="parent"
#ifdef XP_WIN
               consumeoutsideclicks="false" ignorekeys="shortcuts"
#endif
      />
  </menulist>

  <panel is="autocomplete-richlistbox-popup" id="PopupAutoComplete"
         type="autocomplete"
         role="group"
         noautofocus="true"/>
