# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

    <vbox id="quick-filter-bar" class="themeable-brighttext">
      <hbox id="quick-filter-bar-main-bar" align="center"
            onoverflow="QuickFilterBarMuxer.onOverflow();"
            >
        <toolbarbutton id="qfb-sticky" type="checkbox"
                       class="toolbarbutton-1" orient="horizontal"
                       crop="none" style="min-width:16px;"
                       tooltiptext="&quickFilterBar.sticky.tooltip;"
                       />
        <!-- Extensions, put your labeled buttons in the following box. -->
        <hbox id="quick-filter-bar-collapsible-buttons">
          <toolbarseparator id="qfb-separator"/>
          <toolbarbutton id="qfb-unread" type="checkbox"
                         class="toolbarbutton-1" orient="horizontal"
                         crop="none" style="min-width:16px;"
                         label="&quickFilterBar.unread.label;"
                         tooltiptext="&quickFilterBar.unread.tooltip;"
                         />
          <toolbarbutton id="qfb-starred" type="checkbox"
                         class="toolbarbutton-1" orient="horizontal"
                         crop="none" style="min-width:16px;"
                         label="&quickFilterBar.starred.label;"
                         tooltiptext="&quickFilterBar.starred.tooltip;"
                         />
          <toolbarbutton id="qfb-inaddrbook" type="checkbox"
                         class="toolbarbutton-1" orient="horizontal"
                         crop="none" style="min-width:16px;"
                         label="&quickFilterBar.inaddrbook.label;"
                         tooltiptext="&quickFilterBar.inaddrbook.tooltip;"
                         />
          <toolbarbutton id="qfb-tags" type="checkbox"
                         class="toolbarbutton-1" orient="horizontal"
                         crop="none" style="min-width:16px;"
                         label="&quickFilterBar.tags.label;"
                         tooltiptext="&quickFilterBar.tags.tooltip;"
                         />
          <toolbarbutton id="qfb-attachment" type="checkbox"
                         class="toolbarbutton-1" orient="horizontal"
                         crop="none" style="min-width:16px;"
                         label="&quickFilterBar.attachment.label;"
                         tooltiptext="&quickFilterBar.attachment.tooltip;"/>
        </hbox>
        <toolbarspacer id="qfb-filter-bar-spacer" flex="1" align="end"/>
        <!-- I added a minwidth and end text-align because otherwise the change
             in dimensions causes ugly flex rearrangement of the textbox. -->
        <label id="qfb-results-label"
               style="min-width:&quickFilterBar.resultsLabel.minWidth;"
               value=""
               somefmtstring="&quickFilterBar.resultsLabel.some.formatString;"
               noresultsstring="&quickFilterBar.resultsLabel.none;"
               />
        <search-textbox id="qfb-qs-textbox"
                        flex="3"
                        class="themeableSearchBox"
                        placeholder=""
                        emptytextbase="&quickFilterBar.textbox.emptyText.base1;"
                        keyLabelNonMac="&quickFilterBar.textbox.emptyText.keyLabel2.nonmac;"
                        keyLabelMac="&quickFilterBar.textbox.emptyText.keyLabel2.mac;"
                        timeout="500"
                        maxlength="192"
                        width="320"
                        style="min-width:280px;"/>
      </hbox>
      <hbox id="quick-filter-bar-expando">
        <arrowscrollbox id="quick-filter-bar-tab-bar"
                        orient="horizontal"
                        collapsed="true"
                        flex="2">
        <menulist id="qfb-boolean-mode"
                  tooltiptext="&quickFilterBar.booleanMode.tooltip;"
                  persist="value">
          <menupopup id="qfb-boolean-mode-popup">
            <menuitem id="qfb-boolean-mode-or" value="OR"
                      label="&quickFilterBar.booleanModeAny.label;"
                      tooltiptext="&quickFilterBar.booleanModeAny.tooltip;"/>
            <menuitem id="qfb-boolean-mode-and" value="AND"
                      label="&quickFilterBar.booleanModeAll.label;"
                      tooltiptext="&quickFilterBar.booleanModeAll.tooltip;"/>
          </menupopup>
        </menulist>
        </arrowscrollbox>
        <hbox id="quick-filter-bar-filter-text-bar"
              collapsed="true"
              pack="end"
              align="center"
              flex="1">
          <label id="qfb-qs-label"
                 value="&quickFilterBar.textFilter.explanation.label;"/>
          <toolbarbutton id="qfb-qs-sender" type="checkbox"
                         class="toolbarbutton-1" orient="horizontal"
                         label="&quickFilterBar.textFilter.sender.label;" />
          <toolbarbutton id="qfb-qs-recipients" type="checkbox"
                         class="toolbarbutton-1" orient="horizontal"
                         label="&quickFilterBar.textFilter.recipients.label;" />
          <toolbarbutton id="qfb-qs-subject" type="checkbox"
                         class="toolbarbutton-1" orient="horizontal"
                         label="&quickFilterBar.textFilter.subject.label;" />
          <toolbarbutton id="qfb-qs-body" type="checkbox"
                         class="toolbarbutton-1" orient="horizontal"
                         label="&quickFilterBar.textFilter.body.label;" />
        </hbox>
      </hbox>
    </vbox>
