/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

@media not (prefers-contrast) {
  :root {
    --in-content-categories-background: #ebebef;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --in-content-categories-background: rgba(249, 249, 250, 0.1);
    }
  }
}

body {
  display: grid;
  grid-template-columns: max-content auto;
  text-shadow: none;
}

h1 {
  padding-top: 1em;
  margin: 0 0 8px;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.3em;
}

h3 {
  margin: 0 0 4px;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.4em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.8em;
  margin: 0;
}

dialog {
  border: none;
  padding: 1.25em;
  min-width: 20em;
  box-sizing: border-box;
}

dialog > * {
  user-select: none;
}

dialog footer {
  margin-top: 1em;
  text-align: end;
}

progress {
  width: 100%;
}

#leftNav {
  color: var(--in-content-page-color);
  background-color: var(--in-content-categories-background);
  padding-top: 60px;
}

#main {
  padding: 40px 28px;
  overflow-y: auto;
}

#main .buttons-container {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}

.tab {
  line-height: 48px;
  padding: 0 1.25em;
}

.tab.is-selected {
  color: var(--in-content-accent-color);
}

.tabPane {
  min-width: 400px;
  max-width: 600px;
}

.source-list {
  padding: 1em;
}

.profile-list {
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
}

.option-list {
  display: grid;
  grid-template-columns: max-content;
  grid-row-gap: 0.5em;
  padding: 1em 0;
  list-style: none;
}

/* Override common.css */
.toggle-container-with-text {
  grid-template-columns: min-content;
  display: grid;
  grid-template-areas:
    "i text"
    ". text";
}
