/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/preferences/subdialog.css");

:root {
  --in-content-button-border-radius: 3px;
}

@media not (prefers-contrast) {
  :root {
    --in-content-button-background: var(--grey-90-a10);
    --in-content-button-background-hover: var(--grey-90-a20);
    --in-content-button-background-active: var(--grey-90-a30);
    --in-content-categories-background: #ebebef;
    --in-content-item-selected-unfocused: var(--grey-20);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --in-content-categories-background: rgba(249, 249, 250, 0.1);
      --in-content-item-selected-unfocused: rgba(249, 249, 250, 0.05);
      --in-content-button-background: rgba(249, 249, 250, 0.1);
      --in-content-button-background-hover: rgba(249, 249, 250, 0.15);
      --in-content-button-background-active: rgba(249, 249, 250, 0.2);
      --in-content-primary-button-background: #45a1ff;
      --in-content-primary-button-background-hover: #65c1ff;
      --in-content-primary-button-background-active: #85e1ff;
      --in-content-focus-outline-color: #45a1ff;
    }
  }
}

button {
  padding: 0 12px;
  border-radius: var(--in-content-button-border-radius);
}

:root {
  appearance: none;
  font: message-box;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
}

/* Page layout */

body {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: max-content max-content auto;
  text-shadow: none;
}

#dialogStack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Toolbar */

#toolbox {
  grid-column: 1 / -1;
  font: message-box;
}

#toolbarCreateBook {
  list-style-image: url("chrome://messenger/skin/icons/new-addressbook.svg");
}

#toolbarCreateContact {
  list-style-image: url("chrome://messenger/skin/icons/addcontact.svg");
}

#toolbarCreateList {
  list-style-image: url("chrome://messenger/skin/icons/addlist.svg");
}

#toolbarImport {
  list-style-image: url("chrome://messenger/skin/icons/import.svg");
}

/* Books pane */

#booksPane {
  width: 18em;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  color: var(--in-content-page-color);
  background-color: var(--in-content-categories-background);
}

#books {
  flex: 1;
  font-size: 15px;
  line-height: 30px;
  scroll-behavior: smooth;
  -moz-user-select: none;
}

#books:focus-visible {
  outline: none;
}

#books,
#books ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#allAddressBooks {
  margin-block-end: 10px;
}

.bookRow-container,
.listRow-container {
  display: flex;
  align-items: center;
  -moz-context-properties: fill;
  margin-inline: 6px;
  border-radius: var(--in-content-button-border-radius);
  fill: currentColor;
  cursor: default;
}

.bookRow.selected > .bookRow-container,
.listRow.selected > .listRow-container {
  background-color: var(--in-content-button-background);
}

.bookRow > .bookRow-container:hover,
.listRow > .listRow-container:hover {
  background-color: var(--in-content-item-hover);
}

#books:focus .bookRow.selected > .bookRow-container,
#books:focus .listRow.selected > .listRow-container {
  background-color: var(--in-content-item-selected);
  color: var(--in-content-item-selected-text);
}

.bookRow .twisty {
  width: 26px;
  height: 26px;
}

.bookRow:not(.children) .twisty-icon {
  display: none;
}

.bookRow .twisty-icon {
  margin: 7px;
}

.bookRow.children.collapsed .twisty-icon {
  transform: rotate(-90deg);
}

.bookRow.children.collapsed:dir(rtl) .twisty-icon {
  transform: rotate(90deg);
}

@media (prefers-reduced-motion: no-preference) {
  .bookRow .twisty-icon {
    transition: transform 200ms ease;
  }
}

.bookRow-icon,
.listRow-icon {
  width: 16px;
  height: 16px;
  background-image: url("chrome://messenger/skin/icons/address.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.bookRow.remote .bookRow-icon {
  background-image: url("chrome://messenger/skin/icons/globe.svg");
}

.bookRow-name,
.listRow-name {
  flex: 1;
  margin-inline: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.bookRow > ul {
  overflow: hidden;
  height: auto;
}

.bookRow > ul:empty,
.bookRow.collapsed > ul {
  height: 0;
}

.bookRow-menu,
.listRow-menu {
  background-image: url("chrome://global/skin/icons/more.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: none;
}

.bookRow-container:hover .bookRow-menu,
.listRow-container:hover .listRow-menu {
  display: unset;
}

.listRow-container {
  padding-inline-start: 51px;
}

.listRow-icon {
  background-image: url("chrome://messenger/skin/icons/ablist.svg");
}

/* Cards pane */

#cardsPane {
  width: 27em;
  padding-block-start: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  color: var(--in-content-page-color);
  background-color: var(--in-content-box-background);
}

#cardsHeader {
  display: flex;
  margin-block-end: 8px;
  margin-inline: 6px;
}

#searchInput {
  height: 30px;
  flex: 1;
  margin: 0;
  margin-inline-end: 8px;
  padding-inline: 8px;
  box-sizing: border-box;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: var(--in-content-button-border-radius);
  color: inherit;
  background-color: var(--in-content-box-background);
}

#searchInput:focus {
  border-color: transparent;
  outline: 2px solid var(--in-content-focus-outline-color);
  outline-offset: -1px;
}

#sortButton {
  min-width: 0;
  min-height: 0;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 6px;
  -moz-context-properties: fill;
  fill: currentColor;
}

#sortButton dropmarker {
  display: none;
}

#cards {
  flex: 1;
  font-size: 15px;
  -moz-context-properties: fill;
  fill: currentColor;
}

ab-card-listrow {
  height: 36px;
  margin-inline: 6px;
  border-radius: var(--in-content-button-border-radius);
  padding-block: 5px;
  padding-inline: 38px 8px;

  background-image: url("chrome://messenger/skin/icons/contact.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
}

ab-card-listrow.MailList {
  background-image: url("chrome://messenger/skin/icons/ablist.svg");
}

ab-card-listrow:dir(rtl) {
  background-position-x: right 15px;
}

ab-card-listrow:hover {
  background-color: var(--in-content-item-hover);
}

ab-card-listrow > div {
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ab-card-listrow > div.address {
  font-size: 13.333px;
}

ab-card-listrow:not(.selected) > div.address {
  color: var(--in-content-deemphasized-text);
}

/* Details pane */

#detailsPane {
  padding-top: 30px;
  overflow: auto;
  color: var(--in-content-page-color);
  background-color: var(--in-content-categories-background);
}

#detailsPane > * {
  padding-inline: 20px;
}

#detailsHeader {
  min-width: 27.5em;
  max-width: 54.5em;
  display: flex;
  align-items: center;
}

#detailsHeader h1 {
  margin-block: 0 0.25em;
  flex: 1;
  font-size: 1.75em;
  font-weight: 400;
}

#detailsPane.is-editing .view {
  display: none;
}

#detailsPane:not(.is-editing) .edit,
#detailsPane:not(.is-editing) .noValue {
  display: none !important;
}

#photoOuter {
  margin-inline-start: 1em;
  width: 150px;
  height: 150px;
  display: grid;
}

#photo,
#photoOverlay {
  grid-column: 1;
  grid-row: 1;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#photo {
  background-size: cover;
  background-position: center;
  background-color: var(--in-content-button-background);
  background-image: url("chrome://messenger/skin/icons/contact.svg");
  box-shadow: 0 0 3px var(--in-content-button-background);
  -moz-context-properties: fill;
  fill: var(--in-content-box-background);
}

#photoOverlay {
  display: none;
}

#detailsPane.is-editing #photoOverlay {
  display: block;
}

#photoOverlay:focus {
  outline: 2px solid var(--in-content-focus-outline-color);
  outline-offset: 2px;
}

#photoOverlay:is(:focus, :hover) {
  background-color: #0003;
  background-image: url("chrome://messenger/skin/icons/more.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 48px;
  -moz-context-properties: fill;
  fill: #fff;
  cursor: pointer;
}

#detailsPane h2 {
  margin-block: 0.75em 0.25em;
  font-size: 1.25em;
  font-weight: 400;
}

.view > ul:empty {
  display: none;
}

.editGrid {
  min-width: 27em;
  max-width: 54em;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 0.5em;
}

.editGrid > .labelledField:not([hidden]) {
  display: flex;
  flex-direction: column;
  margin: 0; /* Overrides fieldset. */
  border: none; /* Overrides fieldset. */
  padding: 0; /* Overrides fieldset. */
}

.editGrid > div.labelledField > label:first-child,
.editGrid > fieldset.labelledField > legend:first-child {
  margin-block-end: 0.25em;
  font-size: 13.333px;
  font-weight: unset; /* Overrides legend. */
}

.editGrid > fieldset.labelledField > legend {
  margin-top: 0;
  margin-inline-start: 0;
  padding-inline: 0;
}

.editGrid > div.spans2columns {
  grid-column: 1 / 3;
}

.editGrid div.inlineField:not([hidden]) {
  display: flex;
  align-items: baseline;
  justify-content: start;
}

.editGrid div.inlineField > label {
  margin-inline-end: 0.5em;
}

.editGrid div.inlineField > input,
.editGrid div.inlineField > select {
  margin-inline-start: 0;
}

.editGrid input:not([type="checkbox"]),
.editGrid textarea {
  flex: 1;
  margin: 0;
}

.editGrid div.inlineField > input {
  flex: unset;
}

/* Address fields have two neighbouring inputs. */
.editGrid input + input {
  border-top: none;
}

.editGrid select {
  line-height: 2;
  margin-block: 0;
  padding-block: 0;
  padding-inline: 9px 24px;
  border-radius: var(--in-content-button-border-radius);
}

.editGrid select:not([size], [multiple]) {
  background-position-x: right 10px;
}

.editGrid select:not([size], [multiple]):dir(rtl) {
  background-position-x: left 24px;
}

.editGrid select > button {
  padding-block: 0;
}

input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"]) {
  border-radius: var(--in-content-button-border-radius);
  padding-block: initial;
  min-height: 30px; /* it should be 32px but input doesn't include the border */
}

#BirthDay > option:disabled {
  display: none;
}

#detailsFooter {
  position: sticky;
  bottom: 0;
  min-width: 27.5em;
  max-width: 54.5em;
  padding-block: 15px;
  background-color: var(--in-content-categories-background);
  text-align: end;
}

@media (prefers-color-scheme: dark) {
  #detailsPane,
  #detailsFooter {
    background-color: var(--in-content-page-background);
  }
}

input[type="number"] {
  min-height: 28px;
  padding: 1px;
  border-radius: var(--in-content-button-border-radius);
}

/* sizes: chars + 8px padding + 1px borders + spin buttons 25+2+10px  */
input[type="number"].size3 {
  width: calc(3ch + 55px);
}
input[type="number"].size5 {
  width: calc(5ch + 55px);
}

input[type="number"]::-moz-number-spin-box {
  padding-inline-start: 10px;
}

input[type="number"]::-moz-number-spin-up,
input[type="number"]::-moz-number-spin-down {
  appearance: none;
  min-width: 25px;
  border-color: var(--in-content-box-border-color);
  border-radius: 0;
  background-color: var(--in-content-button-background);
  background-position: center;
  -moz-context-properties: fill;
  fill: currentColor;
}

input[type="number"]::-moz-number-spin-up:hover,
input[type="number"]::-moz-number-spin-down:hover {
  background-color: var(--in-content-button-background-hover);
}

input[type="number"]::-moz-number-spin-up {
  min-height: 13px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-start-end-radius: var(--in-content-button-border-radius);
  background-image: url("chrome://global/skin/icons/arrow-up-12.svg");
}

input[type="number"]::-moz-number-spin-down {
  min-height: 12px;
  border-end-end-radius: var(--in-content-button-border-radius);
  background-image: url("chrome://global/skin/icons/arrow-down-12.svg");
}

/* Generic dialog stuff, TODO refactor this out of here */

.account-setup-dialog {
  border-radius: 6px;
  border: none;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
  box-shadow: 0 2px 6px -5px #000;
}

.account-setup-dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog-title {
  display: flex;
  align-items: center;
  padding: 6px;
  margin-block: 0px 9px;
}

.dialog-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.dialog-container.vertical {
  flex-direction: column;
  align-items: stretch;
}

.dialog-header-image {
  -moz-context-properties: fill;
  fill: var(--in-content-primary-button-background);
  margin-inline-end: 12px;
  height: 32px;
}

.dialog-header-image.small {
  height: 16px;
}

.dialog-description {
  margin-block: 0.2em;
  line-height: 1.4em;
}

.dialog-menu-container {
  display: flex;
  align-items: center;
  margin-block-end: 0;
  margin-inline: 0;
  padding-inline: 0;
  justify-content: end;
}

.dialog-menu-container.two-columns {
  justify-content: space-between;
}

/* Photo dialog */

#photoDialogInner {
  width: 500px;
  text-align: center;
}

#photoDropTarget {
  height: 150px;
  background-color: var(--in-content-button-background);
  background-image: url("chrome://messenger/skin/icons/contact.svg");
  background-size: 80px;
  background-position: center;
  -moz-context-properties: fill;
  fill: var(--in-content-box-background);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#photoDropTarget[hidden] {
  display: none;
}

#photoDropTarget .icon {
  display: none;
  margin-inline-end: 8px;
  width: 16px;
  height: 16px;
  -moz-context-properties: fill;
  fill: currentColor;
}

@media (prefers-reduced-motion: no-preference) {
  #photoDropTarget.drop-loading .icon {
    display: unset;
    position: relative;
    overflow: hidden;
    text-align: start;
  }

  #photoDropTarget.drop-loading .icon::before {
    content: "";
    position: absolute;
    background-image: url("chrome://messenger/skin/icons/loading.svg");
    width: 480px;
    height: 100%;
    animation: tab-throbber-animation 1.05s steps(30) infinite;
  }

  #photoDropTarget.drop-loading .icon:dir(rtl)::before {
    animation-name: tab-throbber-animation-rtl;
  }

  @keyframes tab-throbber-animation {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

  @keyframes tab-throbber-animation-rtl {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
  }
}

#photoDropTarget.drop-error .icon {
  display: unset;
  background-image: url("chrome://global/skin/icons/warning.svg");
  background-size: contain;
}

#photoDialog svg {
  margin: -10px;
}

#photoDialog svg[hidden] {
  display: none;
}

#photoDialog rect {
  fill: transparent;
}

#photoDialog rect:not(.corner) {
  shape-rendering: crispEdges;
  stroke: #fff;
  stroke-width: 1px;
}

#photoDialog .corner.nw {
  cursor: nw-resize;
}

#photoDialog .corner.ne {
  cursor: ne-resize;
}

#photoDialog .corner.se {
  cursor: se-resize;
}

#photoDialog .corner.sw {
  cursor: sw-resize;
}

#photoDialog .extra1 {
  margin-inline-end: auto;
}

/* Align the elements correctly */
#directoryTabPanels radiogroup {
  margin-inline-start: 4px;
}

#directoryTabPanels textarea {
  width: calc(100% - 22px);
}

#directoryTabPanels menulist {
  width: calc(100% - 4px);
  margin-inline-start: 4px;
}
