/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/messenger.css");

html {
  height: 100%;
}

:root {
  --bg-color: #ffffff;
  --bg-watermark: url("chrome://messenger/skin/images/account-watermark.png");
  --header-bg-color: rgba(0, 0, 0, 0.05);
  --accounts-bg-color: rgba(0, 0, 0, 0.03);
  --text-color: #36385A;
  --title-color: #002275;
  --primary-color: #0a84ff;
  --primary-color-hover: #0060df;
  --btn-color: #36385A;
  --btn-color-hover: #FFFFFF;
  --btn-bg: #FFFFFF;
  --btn-bg-hover: #0060df;
  --btn-shadow-hover: rgba(0, 0, 0, 0.3);
  --popup-bg: #EDEDF0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #2f2f33;
    --bg-watermark: url("chrome://messenger/skin/images/account-watermark-light.png");
    --header-bg-color: rgba(255, 255, 255, 0.05);
    --accounts-bg-color: rgba(255, 255, 255, 0.03);
    --text-color: #f9f9fa;
    --title-color: #fefefe;
    --primary-color: #0a84ff;
    --primary-color-hover: #0a84ff;
    --btn-color: #FFFFFF;
    --btn-color-hover: #FFFFFF;
    --btn-bg: #38383d;
    --btn-bg-hover: #0060df;
    --btn-shadow-hover: rgba(0, 0, 0, 0.3);
    --popup-bg: #474749;
  }
}

:root[lwt-tree-brighttext] {
  --bg-color: #2f2f33;
  --bg-watermark: url("chrome://messenger/skin/images/account-watermark-light.png");
  --header-bg-color: rgba(255, 255, 255, 0.05);
  --accounts-bg-color: rgba(255, 255, 255, 0.03);
  --text-color: #f9f9fa;
  --title-color: #fefefe;
  --primary-color: #0a84ff;
  --primary-color-hover: #0a84ff;
  --btn-color: #FFFFFF;
  --btn-color-hover: #FFFFFF;
  --btn-bg: #38383d;
  --btn-bg-hover: #0060df;
  --btn-shadow-hover: rgba(0, 0, 0, 0.3);
  --popup-bg: #474749;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--body-background-color);
  text-shadow: none;
}

#accountCentral {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  background-image: var(--bg-watermark);
  background-position: bottom right;
  background-repeat: no-repeat;
  color: var(--text-color);
  overflow: auto;
  height: 100vh;
}

#brandLogo {
  width: 64px;
  height: 64px;
  margin-inline-end: 20px;
  flex-shrink: 0;
}

#accountLogo {
  -moz-context-properties: fill;
  fill: currentColor;
  color: var(--primary-color);
  width: 18px;
  height: 18px;
  margin-inline-end: 10px;
  flex-shrink: 0;
  background: url("chrome://messenger/skin/icons/message.svg") center no-repeat;
  background-size: contain;
  display: block;
}

#accountLogo[type="none"] {
  background-image: url("chrome://messenger/skin/icons/folder.svg");
}

#accountLogo[type="rss"],
#setupFeeds::before,
#rssSubscriptionButton::before,
#nntpSubscriptionButton::before {
  background-image: url("chrome://messenger/skin/icons/feeds.svg");
}

#accountLogo[type="nntp"] {
  background-image: url("chrome://messenger/skin/icons/reader-mode.svg");
}

.account-central-header {
  display: flex;
  align-items: center;
  background-color: var(--header-bg-color);
  padding: 20px 30px;
}

.account-central-header.summary-header {
  padding-block: 16px;
}

[hidden] {
  display: none !important; /* Ensure flex items obey hidden="hidden". */
}

.account-central-header > aside {
  display: flex;
  align-items: center;
  width: 160px;
  flex: 1 1 auto;
}

aside.settings-btn-container {
  justify-content: end;
}

.account-central-title {
  font-size: x-large;
  margin-inline-end: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-block: 0;
}

#accountName {
  font-size: 1.2em;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-block: 0;
  /* Prevents UI jumping when dynamically changing the content. */
  min-height: 21px;
}

.account-central-version {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: small;
  margin-top: 10px;
  line-height: 1em;
}

.account-central-version > label {
  margin-inline: 0 1px;
}

#releasenotes {
  cursor: pointer;
}

#releasenotes img {
  -moz-context-properties: fill, fill-opacity;
  color: var(--primary-color);
  fill: currentColor;
  fill-opacity: 1;
  width: 16px;
  height: 16px;
}

#releasenotes img:hover,
#releasenotes img:focus {
  color: var(--primary-color-hover);
}

.account-central-section {
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
  padding-block: 10px;
  position: relative;
}

.account-central-section.setup-section {
  padding-block-end: 30px;
}

.account-central-section.zebra {
  background-color: var(--accounts-bg-color);
}

#accountFeaturesSection {
  margin-block-start: 20px;
}

.section-title {
  font-size: larger;
  font-weight: 600;
  color: var(--title-color);
  margin-block: 10px 20px;
  /* Prevents UI jumping when dynamically changing the content. */
  min-height: 21px;
}

.row-container {
  margin-inline: -10px;
  display: flex;
  flex-wrap: wrap;
}

.row-container > p {
  flex: 1;
  display: block;
  min-width: 300px;
  max-width: 550px;
  margin-inline: 10px;
  margin-block: 0 20px;
}

.row-container.account-options > .btn-link {
  margin-inline: 5px 15px;
  padding-inline: 5px;
}

/* Custom buttons style */
.btn-hub {
  transition: background-color 280ms ease,
              color 280ms ease,
              box-shadow 280ms ease;
  appearance: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  color: var(--btn-color);
  background-color: var(--btn-bg);
  -moz-context-properties: fill, stroke-opacity;
  fill: currentColor;
  stroke-opacity: 0;
  min-width: 110px;
  height: 90px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-inline: 10px;
  margin-block-end: 10px;
  cursor: pointer;
  box-shadow: 0 5px 20px -5px var(--btn-shadow-hover);
}

.btn-hub:not([disabled="true"]):hover {
  color: var(--btn-color-hover) !important;
  background-color: var(--btn-bg-hover);
  box-shadow: 0 14px 16px -12px var(--btn-shadow-hover),
              inset 20px 20px 50px -30px rgba(255, 255, 255, .35);
}

.btn-hub.btn-inline {
  flex-direction: row;
  width: auto;
  height: auto;
  padding: 8px 12px;
  justify-content: flex-start;
  min-width: 140px;
}

.btn-hub:focus:not(:hover) {
  color: var(--primary-color) !important;
}

.btn-hub::before {
  position: relative;
  display: block;
  content: '';
  margin-block-end: 10px;
  margin-inline-end: 0;
  width: 18px;
  height: 18px;
  color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: color 280ms ease;
}

.btn-hub.btn-inline::before {
  margin-block-end: 0;
  margin-inline-end: 10px;
  width: 16px;
  height: 16px;
}

.btn-hub:hover::before {
  color: var(--btn-color-hover) !important;
}

#setupEmail::before {
  background-image: url("chrome://messenger/skin/icons/message.svg");
}

#setupCalendar::before {
  background-image: url("chrome://messenger/skin/shared/preferences/calendar.svg");
}

#setupAddressBook::before {
  background-image: url("chrome://messenger/skin/icons/address.svg");
}

#setupChat::before {
  background-image: url("chrome://messenger/skin/icons/chat.svg");
}

#setupFilelink::before {
  background-image: url("chrome://global/skin/icons/link.svg");
}

#setupNewsgroups::before {
  background-image: url("chrome://messenger/skin/icons/reader-mode.svg");
}

#importButton::before {
  background-image: url("chrome://messenger/skin/icons/import.svg");
}

.account-description {
  position: absolute;
  opacity: 0;
  top: 100%;
  margin-top: -30px;
  width: 90vw;
  left: 30px;
  text-align: left;
  transition: opacity 280ms ease;
  z-index: 1;
}

.account-description > p {
  display: inline-block;
  background-color: var(--popup-bg);
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.8);
}

.btn-hub:hover + .account-description {
  opacity: 1;
}

/* Custom link style */
.donation-link {
  color: var(--primary-color);
  font-style: italic;
  font-weight: 600;
  transition: color .2s;
  cursor: pointer;
}

.donation-link:hover {
  color: var(--primary-color-hover);
}

.donation-link:focus:not(:hover) {
  outline: 1px dotted SelectedItem;
}

.btn-link {
  appearance: none;
  display: flex;
  background-color: transparent;
  -moz-context-properties: fill;
  fill: currentColor;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1em;
  align-items: center;
  transition: color .2s;
}

.btn-link.btn-inline {
  margin-block-end: 20px;
}

.resource-link {
  color: var(--text-color);
  -moz-context-properties: fill;
  fill: currentColor;
  margin-block-end: 10px;
  margin-inline: 10px 30px;
  transition: color .2s;
  cursor: pointer;
}

.btn-link::before,
.resource-link::before {
  position: relative;
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-inline-end: 5px;
  vertical-align: sub;
}

.btn-link:hover,
.resource-link:hover {
  color: var(--primary-color-hover) !important;
  background-color: transparent;
}

.resource-link:focus:not(:hover) {
  outline: 1px dotted SelectedItem;
}

#featuresLink::before {
  background-image: url("chrome://messenger/skin/icons/highlights.svg");
}

#supportLink::before {
  background-image: url("chrome://messenger/skin/icons/help.svg");
}

#involvedLink::before {
  background-image: url("chrome://messenger/skin/icons/globe.svg");
}

#developerLink::before {
  background-image: url("chrome://messenger/skin/icons/developer.svg");
}

#settingsButton::before {
  background-image: url("chrome://global/skin/icons/settings.svg");
}

#readButton::before {
  background-image: url("chrome://messenger/skin/icons/inbox.svg");
}

#composeButton::before {
  background-image: url("chrome://messenger/skin/icons/newmsg.svg");
}

#searchButton::before {
  background-image: url("chrome://global/skin/icons/search-glass.svg");
}

#filterButton::before {
  background-image: url("chrome://messenger/skin/icons/filter.svg");
}

#e2eButton::before {
  background-image: url("chrome://messenger/skin/icons/encryption-key.svg");
}
