/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

:root {
  --lwt-additional-images: none;
  --lwt-background-alignment: right top;
  --lwt-background-tiling: no-repeat;

  --toolbar-bgcolor: var(--toolbar-non-lwt-bgcolor);
  --toolbar-bgimage: var(--toolbar-non-lwt-bgimage);
  --toolbar-color: var(--toolbar-non-lwt-textcolor);
}

#ab-toolbox:-moz-lwtheme {
  position: relative;
  color: var(--toolbar-color, inherit);
}

#ab-toolbox:-moz-lwtheme::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  top: -1px;
  width: -moz-available;
  height: 1px;
  border-bottom: 1px solid var(--lwt-tabs-border-color, transparent);
}

#ab-toolbox > toolbar {
  background-color: var(--toolbar-bgcolor);
}

/* primary toolbar buttons */

#button-newcard {
  list-style-image: url("chrome://messenger/skin/icons/addcontact.svg");
}

#button-newlist {
  list-style-image: url("chrome://messenger/skin/icons/addlist.svg");
}

#button-editcard {
  list-style-image: url("chrome://messenger/skin/icons/accounts.svg");
}

#button-newmessage {
  list-style-image: url("chrome://messenger/skin/icons/newmsg.svg");
}

#button-newim {
  list-style-image: url("chrome://messenger/skin/icons/chat.svg");
  -moz-context-properties: fill, fill-opacity, stroke-opacity;
  stroke-opacity: 0;
}

#button-abdelete {
  list-style-image: url("chrome://messenger/skin/icons/delete.svg");
}

#abContent {
  text-shadow: none;
  color: -moz-DialogText;
}

#dirTree {
  padding-inline-end: 1px;
}

#dirTree [sortDirection="ascending"],
#dirTree [sortDirection="descending"] {
  list-style-image: none;
}

/* directory pane icons */

treechildren::-moz-tree-image(DirCol) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/address.svg");
  opacity: 0.85;
}

treechildren::-moz-tree-image(DirCol, IsMailList-true) {
  list-style-image: url("chrome://messenger/skin/icons/ablist.svg");
}

treechildren::-moz-tree-image(DirCol, IsRemote-true) {
  list-style-image: url("chrome://messenger/skin/icons/globe.svg");
}

treechildren::-moz-tree-image(DirCol, IsRemote-true, IsSecure-true) {
  list-style-image: url("chrome://messenger/skin/icons/globe-secure.svg");
}

/* results pane */

:root[lwt-tree] #abResultsBox {
  background-color: var(--sidebar-background-color);
  background-image: linear-gradient(rgba(255,255,255,.15), rgba(255,255,255,.15));
  color: var(--sidebar-text-color);
}

treechildren::-moz-tree-image(GeneratedName) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/contact.svg");
  opacity: 0.85;
}

treechildren::-moz-tree-image(GeneratedName, MailList) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/ablist.svg");
}

/* card view pane */

#CardViewBox {
  -moz-user-focus: ignore;
  overflow: auto;
  min-width: 150px;
}

#CardViewInnerBox {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0 8px;
}

.cardViewGroup {
  margin: 0;
  padding: 6px;
  min-width: 50px;
}

#cvPhoto {
  margin-top: 6px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/contact-generic.svg");
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.7);
}

#cvBuddyIcon {
  padding-inline-start: 20px;
  padding-top: 2px;
}

#CardTitle,
.CardViewHeading,
.CardViewText,
.CardViewLink {
  user-select: text;
}

#CardTitle {
  font-size: 150%;
  font-weight: bold;
  border-bottom: 2px solid currentColor;
  min-width: 120px;
  margin: 0;
}

.CardViewHeading {
  font-weight: 600;
}

.CardViewText,
.CardViewLink {
  padding-inline-start: 20px;
  padding-inline-end: 2px;
  min-width: 30px;
  margin: 0;
}

.CardViewLink {
  cursor: pointer;
}

#blankResultsPaneMessage {
  font-style: italic;
}

#localResultsOnlyMessage {
  font-style: italic;
  text-align: center;
}

/* Hide the splitter when the blankResultsPaneMessageBox is shown */
#abResultsTree[hidden="true"] + #results-splitter {
  display: none;
}

html|a {
  padding-inline-start: 0;
  padding-inline-end: 2px;
  border: none !important;
  text-decoration: underline;
}

html|p {
  border: none !important;
}

#dirTree > treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true) {
  margin-inline-start: -26px;
  padding-inline-start: 29px;
}

/* UI Density customization */

#dirTree > treechildren::-moz-tree-row {
  min-height: 1.8rem;
}

:root[uidensity="compact"] #dirTree > treechildren::-moz-tree-row {
  min-height: 1.6rem;
}

:root[uidensity="compact"] #dirTree
  treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true) {
  margin-inline-start: -20px;
  padding-inline-start: 23px;
}

:root[uidensity="touch"] #dirTree > treechildren::-moz-tree-row {
  min-height: 2.4rem;
}

:root[uidensity="touch"] #dirTree > treechildren::-moz-tree-image {
  width: 22px;
  height: 22px;
}
