/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

#carddav-statusArea {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 3px 4px;
  color: var(--text-color);
}

#carddav-statusArea[status=error] {
  background-color: #FFE900;
  border-color: #F2D00F;
  color: -moz-DialogText;
}

#carddav-statusArea[status=loading] {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.1);
}

#carddav-statusContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  /* center align */
  max-width: max-content;
  margin-inline: auto;
}

#carddav-statusContainer > #carddav-statusImage {
  flex: 0 0 auto;
}

#carddav-statusContainer > #carddav-statusMessage {
  flex: 1 1 auto;
}

#carddav-statusImage {
  -moz-context-properties: fill;
  fill: currentColor;
  width: 16px;
  height: 16px;
}

#carddav-statusImage:not([src]) {
  display: none;
}

#carddav-properties-table {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: baseline;
}

.input-container {
  display: flex;
}

.input-container > * {
  flex: 1;
}

#carddav-refreshActive-cell {
  /* This shouldn't be necessary, but there's no good combination of checkbox
   * and label that play nicely with the align-items: baseline above. */
  align-self: center;
}

#carddav-refreshInterval-cell {
  display: flex;
  align-items: baseline;
}

#carddav-refreshInterval {
  flex: 1;
  margin: 2px 4px;
}
