/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

.main-header-area {
  border-bottom-style: none;
  display: block;
}

.message-header-container,
.message-header-extra-container {
  display: grid;
  row-gap: 3px;
}

.message-header-container {
  padding: 3px;
}

.message-header-row:not([hidden]) {
  display: flex;
  align-items: baseline;
  min-height: 1.7em;
  line-height: 1.3;
}

.message-header-wrap {
  flex-wrap: wrap;
}

.message-header-row.header-row-reverse {
  flex-direction: row-reverse;
}

.message-header-row.items-center {
  /* Variation for those rows that include buttons. */
  align-items: center;
}

.header-buttons-container {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.header-row-grow:not([hidden]) {
  flex: 1;
  display: flex;
  align-items: baseline;
}

.message-header-multi-field {
  flex: 1;
}

#mail-notification-top {
  border-bottom: 1px solid var(--splitter-color);
}

/* ::::: msg header toolbars ::::: */

#messageHeader[show_header_mode="all"] {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 14em;
}

#expandedBoxSpacer {
  display: block;
  height: 4px;
}

mail-tagfield[collapsed="true"] {
  display: none;
}

/* ::::: msg header buttons ::::: */

#otherActionsButton > .toolbarbutton-icon {
  display: none;
}

.message-header-view-button {
  -moz-box-orient: horizontal;
  min-width: 1em;
  margin-block: 1px;
  margin-inline: 1px 2px;
  padding-inline: 3px !important;
  fill: currentColor;
}

.message-header-view-button[type="menu-button"] {
  padding: 0 !important;
}

.message-header-view-button[type="menu-button"] > .toolbarbutton-menubutton-button {
  -moz-box-orient: horizontal;
  padding-inline: 3px !important;
}

.toolbarbutton-1.message-header-view-button:not([type="menu-button"]),
.toolbarbutton-1.message-header-view-button > .toolbarbutton-menubutton-button,
.toolbarbutton-1.message-header-view-button > .toolbarbutton-menubutton-dropmarker {
  border-color: var(--toolbarbutton-header-bordercolor);
}

.toolbarbutton-1.message-header-view-button:not([disabled=true]):is(:hover,[open]) >
.toolbarbutton-menubutton-button,
.toolbarbutton-1.message-header-view-button:not([disabled=true]):is(:hover,[open]) >
.toolbarbutton-menubutton-dropmarker,
.toolbarbutton-1.message-header-view-button:not([type="menu-button"],[disabled=true],[checked=true],[open],:active):hover,
.toolbarbutton-1.message-header-view-button:not([buttonover],[open],:active):hover >
.toolbarbutton-menubutton-dropmarker:not([disabled]) {
  border-color: var(--toolbarbutton-active-bordercolor);
}

/* Separator between menu and split type buttons */
.toolbarbutton-1.message-header-view-button:not(:hover,:active,[open],[checked]) >
.toolbarbutton-menubutton-dropmarker::before,
.toolbarbutton-1.message-header-view-button[disabled="true"] >
.toolbarbutton-menubutton-dropmarker::before {
  background-image: none;
}

.message-header-view-button .toolbarbutton-text {
  padding-inline-start: 2px;
}

#msgHeaderView[shrink] .message-header-view-button .toolbarbutton-text {
  display: none;
}

#msgHeaderView[shrink] .toolbarbutton-1 .toolbarbutton-menu-dropmarker {
  margin-inline: 3px;
}

.hdrReplyToSenderButton,
.hdrDummyReplyButton,
.hdrReplyButton {
  list-style-image: url("chrome://messenger/skin/icons/reply.svg");
}

.hdrReplyAllButton {
  list-style-image: url("chrome://messenger/skin/icons/replyall.svg");
}

.hdrReplyListButton,
.hdrFollowupButton {
  list-style-image: url("chrome://messenger/skin/icons/replylist.svg");
}

.hdrForwardButton {
  list-style-image: url("chrome://messenger/skin/icons/forward.svg");
}

.hdrArchiveButton {
  list-style-image: url("chrome://messenger/skin/icons/archive.svg");
}

.hdrJunkButton {
  list-style-image: url("chrome://messenger/skin/icons/junk.svg");
}

.hdrTrashButton {
  list-style-image: url("chrome://messenger/skin/icons/delete.svg");
}

#attachmentSaveAllSingle,
#attachmentSaveAllMultiple {
  list-style-image: url("chrome://messenger/skin/icons/save.svg");
}

/* ::::: msg header toolbars ::::: */

#expandedHeadersTopBox {
  /* Use the HTML layout model to allow the message header toolbar to float to
     the right of the From field. */
  display: block;
}

/* ::::: expanded header pane ::::: */

#expandedsubjectBox {
  font-weight: bold;
  flex: 1;
}

/* ::::: attachment view ::::: */

#attachmentBar {
  color: -moz-dialogtext;
  background-color: -moz-Dialog;
  padding: 3px 0;
}

#attachmentToggle {
  /* Override button appearance */
  appearance: none;
  min-width: 20px;
  margin-block: 0;
  margin-inline: 1px 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  -moz-user-focus: normal;
  list-style-image: url("chrome://global/skin/icons/arrow-down-12.svg");
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 1;
}

#attachmentToggle:not([checked="true"]) > .button-box > .button-icon {
  transform: rotate(-90deg);
}

#attachmentToggle:not([checked="true"]):-moz-locale-dir(rtl) >
  .button-box > .button-icon {
  transform: rotate(90deg);
}

@media (prefers-reduced-motion: no-preference) {
  #attachmentToggle > .button-box > .button-icon {
    transition: transform 200ms ease;
  }
}

#attachmentToggle > .button-box > .button-text {
  display: none;
}

#attachmentToggle:focus-visible {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -2px;
}

#attachmentName:hover,
#attachmentName[selected="true"] {
  cursor: pointer;
  color: SelectedItemText;
  background-color: SelectedItem;
}

#attachmentSize {
  margin: 0;
  margin-inline-start: 8px;
}

#attachmentIcon {
  margin-inline-start: 5px;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#attachmentCount {
  margin: 0;
  padding: 2px 0;
  margin-inline: 2px 1px;
}

#attachmentName {
  -moz-user-focus: normal;
  margin: 0;
  margin-inline-end: -3px;
  padding: 2px 3px;
  border-radius: 2px;
}

#attachmentName:focus-visible:not(:hover) {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -1px;
}

#attachmentList {
  background-color: Field;
  color: FieldText;
}

#attachment-splitter {
  appearance: none;
  background-color: transparent;
  border-width: 0;
  border-bottom: 1px solid ThreeDShadow;
  /* splitter grip area */
  height: 5px;
  /* make only the splitter border visible */
  margin-top: -5px;
  /* because of the negative margin needed to make the splitter visible */
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

#attachment-splitter:not([state="collapsed"]) {
  border-bottom: 1px solid transparent;
}

#attachment-splitter {
  transition: border-color .3s;
}

#attachment-splitter[state="collapsed"]:hover {
  border-bottom: 4px solid SelectedItem;
}

/* ::::: msg header captions ::::: */

#header-view-toolbar .message-header-view-button[disabled="true"] {
  display: none;
}

.message-header-label {
  padding: 0;
  margin-block: 0;
  margin-inline: 6px 8px;
  text-align: end;
  flex-shrink: 0;
  align-self: flex-start;
}

.message-header-label.header-pill-label {
  /* 2px is to match the sum of the padding-block-start: 1px and
    border-block-start-width: 1px of .emailDisplayButton. */
  padding-block-start: 2px;
}

mail-multi-emailheaderfield, mail-newsgroups-headerfield {
  /* The margin by 3px is to 'undo' the padding-inline-start: 2px and
    border-inline-start-width: 1px of .emailDisplayButton. */
  margin-inline-start: -3px;
}

.message-header-label,
#attachmentSize {
  opacity: 0.7;
}

.headerValueBox {
  display: inline-block;
}

.headerValue {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

mail-headerfield.headerValue:focus-visible:not(:hover) {
  outline: 1px solid var(--focus-outline-color);
}

/* Separator for multifield emailaddress/newsgroup and messageid header rows. */
.emailDisplayButton:not(:last-child):after,
.messageIdDisplayButton:not(:last-child):after {
  content: ",";
}

.headerValueUrl,
.messageIdDisplayButton {
  cursor: pointer;
  color: -moz-hyperlinktext;
  text-decoration: underline;
  display: inline-block;
  word-break: break-all;
}

.headerValueUrl:hover,
.messageIdDisplayButton:hover {
  color: -moz-activehyperlinktext;
}

mail-newsgroups-headerfield {
  display: inline-block;
}

.headerField {
  color: inherit;
}

.moreIndicator {
  font-weight: bold;
  margin-block: 2px;
}

.moreIndicator:hover {
  text-decoration: underline;
  color: darkred;
}

.tagvalue {
  padding: 0 0.5ex;
  margin-inline-start: 0;
  background-image: linear-gradient(rgba(255,255,255,0.35),
                                    rgba(255,255,255,0.35));
  border-radius: 3px;
  border-width: 0.5px;
  border-style: outset;
  text-shadow: 0 1px 0 rgba(238, 238, 236, 0.4); /* Tango Alumninum 1 */
  color: #111111;
}

.message-header-datetime {
  user-select: text;
  -moz-user-focus: normal;
  cursor: text;
  margin: 0 6px;
}

#expandedtoRow .message-header-datetime {
  align-self: flex-start;
  margin-block: 2px;
}

/* ::::: msg header email addresses ::::: */

.emailDisplayButton {
  -moz-user-focus: normal;
  padding: 1px 2px;
  border: 1px solid transparent;
  border-radius: var(--toolbarbutton-border-radius);
  display: inline-block;
  white-space: nowrap;
}

.emailDisplayButton,
.emailDisplayButton > label,
.emailDisplayButton > button {
  cursor: pointer;
}

.emailDisplayButton:hover {
  color: SelectedItemText;
  background-color: SelectedItem;
}

.emailDisplayButton:focus-visible:not(:hover) {
  border-color: var(--focus-outline-color);
}

mail-emailaddress[selected="true"] > .emailDisplayButton {
  /* when an email address context menu is selected,
   * make sure that the email menupopup stays displayed,
   * and tweak the bottom to blend in more w/ the menu
   */
  cursor: pointer;
  color: SelectedItemText;
  background-color: SelectedItem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

button.email-action-button {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

button.email-action-button:hover,
button.email-action-button:hover:active {
  background-color: transparent;
}

button.email-action-button:focus-visible:not(:hover) {
  outline: 1px solid var(--focus-outline-color);
}

mail-emailaddress button.email-action-button {
  margin-inline-start: 2px;
}

.emailStar {
  width: 1em;
  height: 1em;
}

.emailStar {
  -moz-context-properties: fill;
  fill: currentColor;
}

.emailStar.starredFill {
  fill: var(--toolbarbutton-icon-fill-attention);
}

.emailDisplayButton:hover .emailStar,
mail-emailaddress[selected="true"] > .emailDisplayButton .emailStar {
  fill: SelectedItemText;
}

.emaillabel {
  max-width: 60vw; /* for very long email fields */
}

.emaillabel,
.newsgrouplabel {
  padding: 0;  /* override <label> defaults */
  margin: 0;  /* override <label> defaults */
  overflow: hidden;
}

mail-messageids-headerfield {
  display: flex;
  align-items: baseline;
}

mail-messageids-headerfield button.email-action-button {
  margin-inline: 0 2px;
}

.emailToggleHeaderfield {
  margin-block: auto;
  background: url("chrome://global/skin/icons/arrow-right-12.svg") no-repeat center;
  background-size: contain;
  -moz-context-properties: fill;
  fill: currentColor;
  width: 10px;
  height: 10px;
}

.emailToggleHeaderfield:-moz-locale-dir(rtl) {
  transform: rotate(180deg);
}

.emailToggleHeaderfield.open {
  transform: rotate(90deg);
}

@media (prefers-reduced-motion: no-preference) {
  .emailToggleHeaderfield {
    transition: transform 200ms ease;
  }
}

mail-headerfield {
  -moz-user-focus: normal;
  user-select: text;
  word-wrap: anywhere;
  display: inherit;
}

mail-headerfield:focus-visible:not(:hover) {
  outline: 1px solid var(--focus-outline-color);
  outline-offset: -1px;
}

#attachmentView {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* Allow the area to shrink. */
  min-width: 0;
}

#attachmentView,
#attachmentList {
  border-top: 1px solid var(--splitter-color); /* The same color as the splitters */
}

:root[lwt-tree] #singleMessage,
:root[lwt-tree] #attachmentView,
:root[lwt-tree] #attachmentList {
  background-color: var(--toolbar-bgcolor) !important;
  background-image: none !important;
  color: var(--lwt-text-color);
}

:root[lwt-tree] .headerValue {
  color: inherit;
}

:root[lwt-tree] #attachmentBar {
  background-color: hsla(0, 0%, 50%, .15);
  color: inherit;
}

/* OpenPGP and S/MIME encryption and signature status icons */

#cryptoBox:not([hidden]) {
  display: contents;
}

.crypto-label {
  font-weight: 600;
}

.crypto-button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-block: 0;
  margin-inline-end: 3px;
  fill: currentColor;
  background-color: transparent;
  gap: 4px;
}

.crypto-button[hidden] {
  display: none;
}

.crypto-button > auto {
  flex: 1 0 auto;
}

.crypto-button > img {
  flex: 0 0 auto;
}

/* Encryption security pane */
#messageSecurityPanel {
  width: 34rem;
}

#messageSecurityPanel .security-panel-body {
  overflow-x: hidden;
  -moz-box-flex: 1;
  padding-inline: 6px;
}

html|header.message-security-header {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  margin-bottom: 6px;
}

html|header.message-security-header html|h3 {
  flex: 1;
  margin-block: 0;
}

.message-security-body {
  overflow-y: auto;
  -moz-box-flex: 1;
}

.message-security-body > description {
  margin-bottom: 18px;
}

.message-security-label {
  font-weight: 600;
  font-size: 1.1em;
  padding-inline-start: 21px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px;
  margin-bottom: 6px;
  fill: currentColor;
  -moz-context-properties: fill;
}

.message-security-label.none,
#encryptionLabel.none,
#signatureLabel.none {
  padding-inline-start: 0;
}

#signatureLabel.ok {
  background-image: url("chrome://messenger/skin/icons/message-signed-ok.svg");
}

#signatureLabel.verified {
  background-image: url("chrome://messenger/skin/icons/message-signed-verified.svg");
}

#signatureLabel.unverified {
  background-image: url("chrome://messenger/skin/icons/message-signed-unverified.svg");
}

#signatureLabel.unknown {
  background-image: url("chrome://messenger/skin/icons/message-signed-unknown.svg");
}

#signatureLabel.mismatch,
#signatureLabel.notok {
  background-image: url("chrome://messenger/skin/icons/message-signed-mismatch.svg");
}

#encryptionLabel.ok {
  background-image: url("chrome://messenger/skin/icons/message-encrypted-ok.svg");
}

#encryptionLabel.notok {
  background-image: url("chrome://messenger/skin/icons/message-encrypted-notok.svg");
}

#openpgpImportButton {
  list-style-image: url("chrome://messenger/skin/icons/encryption-key.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

#openpgpImportButton .button-icon {
  margin-inline-end: 2px;
}

.message-security-container {
  margin-bottom: 21px;
}

#signatureKeyId,
#encryptionKeyId,
.cert-label {
  font-weight: 600;
}

#otherEncryptionKeysList {
  margin: 9px 6px;
}

.other-key-row {
  border-radius: 2px;
  padding: 3px 2px;
  border: 1px solid var(--button-border-color);
  background-color: rgba(215, 215, 219, 0.2);
  margin-bottom: 3px;
}

.openpgp-key-id {
  font-weight: bold;
}

.openpgp-key-name {
  font-size: 0.9em;
}

#signatureKeyId,
#encryptionKeyId,
.openpgp-key-id,
.openpgp-key-name {
  user-select: text;
  cursor: text;
}

.button-focusable {
  -moz-user-focus: normal;
}

.button-focusable:focus-visible:not(:hover) {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -1px;
}

.button-focusable:focus:not(:focus-visible) {
  outline: none;
}

button.email-action-flagged {
  margin-inline: 6px;
  cursor: pointer;
  -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
  fill: currentColor;
  stroke: currentColor;
  fill-opacity: 0.2;
  stroke-opacity: 0;
  align-self: center;
}

button.email-action-flagged.flagged {
  fill: #f4bc44 !important;
  fill-opacity: 1;
  stroke: #f4bc44;
  stroke-opacity: 1;
}

.email-action-flagged:not(.flagged):hover {
  fill-opacity: 0.4;
}

/* Responsive style */
@media (max-width: 768px) {
  .message-header-row.items-center {
    align-items: baseline;
  }

  .message-header-container {
    padding: 6px;
  }

  .message-header-wrap:not([hidden]) {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-buttons-container {
    align-self: end;
  }

  .message-header-label {
    min-width: 0 !important;
    margin-inline-start: 0;
    text-align: start;
  }
}
