/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Generic (cross-platform) multimessage view CSS.  Some bits will be overridden
  by theme specific files */

:root {
  --body-background-color: Field;
  --body-text-color: FieldText;
  --header-background-color: SelectedItem;
  --head-text-color: SelectedItemText;
  --info-text-color: GrayText;
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  appearance: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #2a2a2e;
    --body-text-color: rgb(249, 249, 250);
    --header-background-color: #002b57;
    --head-text-color: var(--body-text-color);
    --info-text-color: #b1b1b3;

  --toolbarbutton-hover-background: rgba(255, 255, 255, .25);
  --toolbarbutton-hover-bordercolor: rgba(255, 255, 255, .5);
  --toolbarbutton-header-bordercolor: rgba(255, 255, 255, .25);

  --toolbarbutton-active-background: rgba(255, 255, 255, .4);
  --toolbarbutton-active-bordercolor: rgba(255, 255, 255, .7);
  --toolbarbutton-active-boxshadow: 0 0 0 1px rgba(255, 255, 255, .4) inset;
  }
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* The heading area */

#heading_wrapper {
  flex: 0 0 auto;
  color: var(--head-text-color);
  background-color: var(--header-background-color);
}

#heading {
  padding: 1ex 0 1ex 1ex;
  margin: 0;
  font-size: large;
  font-weight: normal;
  vertical-align: middle;
}

#summary_subtitle {
  margin-inline-start: 1em;
  font-size: small;
  white-space: nowrap;
}

/* The main content area */

#content {
  flex: 1 1 0;
  overflow: auto;
  padding: 1ex 1em;
  font-size: initial;
}

#message_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#footer {
  margin-top: 1em;
  padding-inline-start: 1em;
}

.info {
  font-size: small;
}

/* The message/thread summary rows */

#message_list > li {
  position: relative;
  margin-bottom: 1ex;
  border-width: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  border-bottom-color: lightgrey;
}

#message_list > li.thread {
  border-color: lightgrey;
}

.star {
  width: 16px;
  height: 16px;
  position: absolute;
  left: -4px;
  top: 6px;
  display: inline-block;
  margin-left: 1ex;
  margin-right: 1ex;
  background-repeat: no-repeat;
}

.star:-moz-locale-dir(rtl) {
  right: -4px;
}

.starred .star {
  background-image: url("chrome://messenger/skin/icons/flagged.svg");
  background-size: contain;
  -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
  fill: #f4bc44;
  fill-opacity: 1;
  stroke: #f4bc44;
  stroke-opacity: 1;
}

.item_summary {
  margin-inline-start: 19px;
  padding: 0.3ex 0;
}

.item_header {
  padding-inline-end: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.unread .primary_header  {
  font-weight: bold;
}

.right {
  float: inline-end;
}

.count {
  white-space: nowrap;
  margin-inline-start: 1ch;
}

.tags {
  padding-top: 4px;
  margin-inline-start: 1ch;
}

.tag {
  display: inline-block; /* to avoid splitting 'To' and 'Do' e.g. */
  margin-inline-start: 0;
  margin-inline-end: 3px;
  padding: 0 0.5ex;
  background-image: linear-gradient(rgba(255,255,255,0.35),
                                    rgba(255,255,255,0.35));
  border-radius: 3px;
  border-style: outset;
  border-width: 0.5px;
  text-shadow: 0 1px 0 rgba(238,238,236,0.4); /* Tango Alumninum 1 */
  color: #111;
}

.snippet {
  opacity: .65;
  padding-inline-end: 1.5em;
  padding-bottom: 1ex;
}

.count, .info, .date,
.message > .header > .snippet,
.message > .header > .senders {
  color: var(--info-text-color);
}

a {
  color: -moz-nativehyperlinktext;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#header-view-toolbox {
  font: message-box;
  float: inline-end;
  display: block;
  padding-top: 2px;
}

@media print {
  #header-view-toolbox {
    display: none;
  }

  #heading_wrapper {
    position: static;
  }
}
