/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: Mail Toolbars and Menubars ::::: */

.mail-toolbox,
.contentTabToolbox {
  appearance: none;
  background-color: var(--toolbar-bgcolor);
}

.mail-toolbox:-moz-lwtheme,
.contentTabToolbox:-moz-lwtheme {
  color: var(--toolbar-color, inherit);
  background-color: var(--lwt-accent-color);
  background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent),
                    var(--lwt-selected-tab-background-color, transparent)),
                    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                    var(--lwt-header-image, none);
  background-position: right top, var(--lwt-background-alignment);
}

.mail-toolbox > toolbar {
  /* force iconsize="small" on these toolbars */
  counter-reset: smallicons;
}

#button-getmsg {
  list-style-image: url("chrome://messenger/skin/icons/getmsg.svg");
}

#button-newmsg {
  list-style-image: url("chrome://messenger/skin/icons/newmsg.svg");
}

#button-address {
  list-style-image: url("chrome://messenger/skin/icons/address.svg");
}

#button-reply {
  list-style-image: url("chrome://messenger/skin/icons/reply.svg");
}

#button-replyall {
  list-style-image: url("chrome://messenger/skin/icons/replyall.svg");
}

#button-replylist {
  list-style-image: url("chrome://messenger/skin/icons/replylist.svg");
}

#button-forward {
  list-style-image: url("chrome://messenger/skin/icons/forward.svg");
}

#button-redirect {
  list-style-image: url("chrome://messenger/skin/icons/redirect.svg");
}

.delete-button {
  list-style-image: url("chrome://messenger/skin/icons/delete.svg");
}

.junk-button {
  list-style-image: url("chrome://messenger/skin/icons/junk.svg");
}

#button-print {
  list-style-image: url("chrome://messenger/skin/icons/print.svg");
}

#button-stop {
  list-style-image: url("chrome://messenger/skin/icons/stop.svg");
}

#button-file {
  list-style-image: url("chrome://messenger/skin/icons/file.svg");
}

#button-nextUnread {
  list-style-image: url("chrome://messenger/skin/icons/nextunread.svg");
}

#button-previousUnread {
  list-style-image: url("chrome://messenger/skin/icons/previousunread.svg");
}

#button-mark {
  list-style-image: url("chrome://messenger/skin/icons/mark.svg");
}

#button-tag {
  list-style-image: url("chrome://messenger/skin/icons/tag.svg");
}

#button-goback {
  list-style-image: url("chrome://messenger/skin/icons/goback.svg");
}

#button-goforward {
  list-style-image: url("chrome://messenger/skin/icons/goforward.svg");
}

#button-compact {
  list-style-image: url("chrome://messenger/skin/icons/compact.svg");
}

#button-archive {
  list-style-image: url("chrome://messenger/skin/icons/archive.svg");
}

#button-chat {
  -moz-context-properties: fill, fill-opacity, stroke-opacity;
  stroke-opacity: 0;
}

#button-nextMsg {
  list-style-image: url("chrome://messenger/skin/icons/nextmsg.svg");
}

#button-previousMsg {
  list-style-image: url("chrome://messenger/skin/icons/previousmsg.svg");
}

#qfb-show-filter-bar {
  list-style-image: url("chrome://messenger/skin/icons/filter.svg");
}

#button-showconversation {
  list-style-image: url("chrome://messenger/skin/icons/conversation.svg");
}

#button-addons {
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}

.button-appmenu {
  list-style-image: url("chrome://messenger/skin/icons/appbutton.svg");
  min-width: 35px !important;
  margin-inline: 4px;
}

.button-appmenu[badge-status="addon-alert"] {
  list-style-image: url("chrome://messenger/skin/icons/appbutton-badged.svg");
}

#button-chat[unreadMessages="true"] {
  fill: var(--toolbarbutton-icon-fill-attention);
  stroke-opacity: 0.5;
}

toolbar[mode="text"] > #button-chat[unreadMessages="true"] {
  color: var(--toolbarbutton-icon-fill-attention);
}

#button-newMsgPopup .menuitem-iconic {
  fill: currentColor;
}

/* remove the small icons checkbox in Customize window */
#smallicons {
  display: none;
}

.button-appmenu .toolbarbutton-text {
  display: none;
}

toolbar[mode="text"] .button-appmenu .toolbarbutton-icon {
  display: -moz-box;
}

/* Force the folder location and mail view items to fit in the available width
   in the Customize Toolbar dialog. */
#palette-box #locationFolders,
#palette-box #folder-location-container,
#palette-box #folderpane-mode-selector,
#palette-box #viewPicker {
  -moz-box-flex: 1;
}

/* ::::: message notification bar style rules ::::: */

.msgNotificationBarText {
  font-weight: bold;
  margin-bottom: 0;
}

.msgNotificaton-smallText {
  padding-inline-start: 10px;
  font-size: 90%;
}

.subviewbutton-iconic {
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#appmenu_new {
  list-style-image: url("chrome://global/skin/icons/add.svg");
}

#appmenu_msgAttachmentMenu {
  list-style-image: url("chrome://messenger/skin/icons/attach.svg");
}

#appmenu-cut,
#appmenu-editmenu-cut {
  list-style-image: url("chrome://messenger/skin/icons/cut.svg");
}

#appmenu-copy,
#appmenu-editmenu-copy {
  list-style-image: url("chrome://global/skin/icons/edit-copy.svg");
}

#appmenu-paste,
#appmenu-editmenu-paste {
  list-style-image: url("chrome://messenger/skin/icons/paste.svg");
}

#appmenu_find {
  list-style-image: url("chrome://global/skin/icons/search-glass.svg");
}

#appmenu_print,
#appmenu_print_popup {
  list-style-image: url("chrome://messenger/skin/icons/print.svg");
}

#appmenu_saveAs {
  list-style-image: url("chrome://messenger/skin/icons/save-as.svg");
}

#appmenu_emptyTrash {
  list-style-image: url("chrome://messenger/skin/icons/delete.svg");
}

#appmenu_activityManager {
  list-style-image: url("chrome://messenger/skin/icons/file-item.svg");
}

#appmenu_accountmgr {
  list-style-image: url("chrome://messenger/skin/icons/sidebar-left.svg");
}

#appmenu_filters,
#appmenu_filtersCmd {
  list-style-image: url("chrome://messenger/skin/icons/filter.svg");
}

#appmenu_customize {
  list-style-image: url("chrome://mozapps/skin/extensions/category-themes.svg");
}

#appmenu_preferences {
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}

#appmenu-quit {
  list-style-image: url("chrome://messenger/skin/icons/quit.svg");
}

#appmenu_addons,
#appmenu_Add-Ons {
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}

#appmenu_help,
#appmenu_openHelp {
  list-style-image: url(chrome://global/skin/icons/help.svg);
}

#appmenu_addressBook {
  list-style-image: url("chrome://messenger/skin/icons/address.svg");
}

#button-getAllNewMsg,
#menu_getnewmsgs_all_accounts,
#appmenu_getnewmsgs_all_accounts {
  list-style-image: url("chrome://messenger/skin/icons/get-all.svg");
}
