/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.gloda-search {
  padding-inline-start: 21px !important;
  -moz-box-flex: 1;
}

.search-icon {
  margin-inline-end: -21px;
}

.search-icon:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.searchBox,
.themeableSearchBox {
  appearance: none;
  color: FieldText;
  background-color: Field;
  border: 1px solid;
  border-radius: var(--toolbarbutton-border-radius);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  outline: none;
  min-height: 24px;
  height: 1.2em;
}

.textbox-search-clear {
  opacity: 0.8;
}

.textbox-search-clear:not([disabled]):hover {
  opacity: 1;
}

.themeableSearchBox[disabled] {
  border-color: hsla(240, 5%, 5%, 0.1) !important;
}

.searchBox:hover,
.themeableSearchBox:not([disabled]):hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.searchBox:-moz-lwtheme-brighttext:hover,
:root[lwt-tree-brighttext] .themeableSearchBox:not([disabled]):hover {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.25);
}

/* special treatment because these boxes are on themable toolbars */
.gloda-search:-moz-lwtheme,
.remote-gloda-search:-moz-lwtheme,
:root[lwt-tree] .themeableSearchBox,
#peopleSearchInput:not([focused="true"]):-moz-lwtheme {
  color: var(--toolbar-field-color);
  background-color: var(--toolbar-field-background-color);
  border-color: var(--toolbar-field-border-color);
}

.gloda-search:focus,
.searchBox[focused="true"],
.themeableSearchBox:not([disabled="true"]):focus,
.themeableSearchBox:not([disabled="true"])[focused="true"] {
  border-color: var(--toolbar-field-focus-border-color);
  outline: 1px solid var(--toolbar-field-focus-border-color);
}

.gloda-search:-moz-lwtheme:focus,
:root[lwt-tree] .themeableSearchBox:focus,
:root[lwt-tree] .themeableSearchBox[focused="true"],
#peopleSearchInput:-moz-lwtheme[focused="true"],
.remote-gloda-search:-moz-lwtheme[focused="true"] {
  color: var(--toolbar-field-focus-color);
  background-color: var(--toolbar-field-focus-background-color);
}

.gloda-search:-moz-lwtheme::selection,
#peopleSearchInput .textbox-input:-moz-lwtheme::selection,
.themeableSearchBox .textbox-input:-moz-lwtheme::selection,
.remote-gloda-search .textbox-input:-moz-lwtheme::selection {
  background-color: var(--lwt-toolbar-field-highlight,
                        -moz-system-color(text-select-background, light));
  color: var(--lwt-toolbar-field-highlight-text,
             -moz-system-color(text-select-foreground, light));
}

.gloda-search:not(:focus)::selection,
#peopleSearchInput:not([focused="true"]) .textbox-input::selection,
.themeableSearchBox:not(:focus) .textbox-input::selection,
.themeableSearchBox:not([focused="true"]) .textbox-input::selection,
.remote-gloda-search:not([focused="true"]) .textbox-input::selection {
  background-color: var(--lwt-toolbar-field-highlight,
                        -moz-system-color(text-select-background-disabled,
                        light));
}

:root[lwt-toolbar-field-focus-brighttext] .gloda-search:focus::selection,
:root[lwt-toolbar-field-focus-brighttext]
  #peopleSearchInput[focused="true"] .textbox-input::selection,
:root[lwt-toolbar-field-focus-brighttext]
  .themeableSearchBox:focus .textbox-input::selection,
:root[lwt-toolbar-field-focus-brighttext]
  .themeableSearchBox[focused="true"] .textbox-input::selection,
:root[lwt-toolbar-field-focus-brighttext]
  .remote-gloda-search[focused="true"] .textbox-input::selection {
  background-color: var(--lwt-toolbar-field-highlight,
                        -moz-system-color(text-select-background, dark));
  color: var(--lwt-toolbar-field-highlight-text,
             -moz-system-color(text-select-foreground, dark));
}

:root[lwt-toolbar-field-brighttext] .gloda-search:not(:focus)::selection,
:root[lwt-toolbar-field-brighttext]
  #peopleSearchInput:not([focused="true"]) .textbox-input::selection,
:root[lwt-toolbar-field-brighttext]
  .themeableSearchBox:not(:focus) .textbox-input::selection,
:root[lwt-toolbar-field-brighttext]
  .themeableSearchBox:not([focused="true"]) .textbox-input::selection,
:root[lwt-toolbar-field-brighttext]
  .remote-gloda-search:not([focused="true"]) .textbox-input::selection {
  background-color: var(--lwt-toolbar-field-highlight,
                        -moz-system-color(text-select-background-disabled,
                        dark));
  color: var(--lwt-toolbar-field-highlight-text,
             -moz-system-color(text-select-foreground, dark));
}

#PopupGlodaAutocomplete {
  appearance: none;
  margin-top: -1px;
  background-color: var(--arrowpanel-background);
  color: var(--arrowpanel-color);
  border: 1px solid var(--arrowpanel-border-color);
}

#PopupGlodaAutocomplete > .autocomplete-richlistbox {
  padding: 2px 0;
  color: inherit;
  background-color: inherit;
}

#PopupGlodaAutocomplete .ac-url {
  display: -moz-box;
  margin-bottom: 2px;
}

.ac-url:not([selected=true]) > .ac-url-text {
  color: var(--autocomplete-popup-url-color);
}

.autocomplete-richlistitem[type^="gloda-"] {
  margin-inline: 2px;
  padding-inline-start: 12px;
  border-radius: 2px;
}

.autocomplete-richlistitem[type^="gloda-"]:hover {
  background-color: hsla(0, 0%, 80%, 0.3);
}

.autocomplete-richlistitem[type^="gloda-"][selected] {
  background: var(--autocomplete-popup-highlight-background);
  color: var(--autocomplete-popup-highlight-color);
}

.remote-gloda-search-container {
  min-width: 10em;
}
