/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/message-bar.css");

.notification-button.small-button {
  padding-block: 2px;
}

#reminderBarPopup {
  background-color: Menu;
  border-radius: var(--panel-border-radius);
}

#reminderBarPopup::part(content) {
  margin: 0;
}
