/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/multimessageview.css");

/* linux-specific overrides for multimessageview.css*/

.star {
  width: 12px;
  height: 12px;
  margin-right: 0.5em;
}

@media not all and (prefers-color-scheme: dark) {
  .toolbarbutton-1.message-header-view-button {
    background: -moz-Dialog;
    color: -moz-DialogText !important;
  }

  .toolbarbutton-1.message-header-view-button:not([disabled=true],[checked=true],[open],:active):hover {
    background: -moz-dialog linear-gradient(rgba(255, 255, 255, .5), transparent);
  }

  .toolbarbutton-1.message-header-view-button:not([disabled=true],[checked=true],[open],:active):hover {
    background: rgb(154, 154, 154) linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .4));
  }
}
