# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

<menu id="menu_Event_Task"
      class="hide-when-calendar-deactivated"
      label="&lightning.menu.eventtask.label;"
      accesskey="&lightning.menu.eventtask.accesskey;">
  <menupopup id="menu_Event_Task_Popup" onpopupshowing="changeMenuForTask(event); setupDeleteMenuitem('calDeleteSelectedCalendar')">
    <menuitem id="calNewEvent2"
              label="&event.new.event;"
              accesskey="&event.new.event.accesskey;"
              key="calendar-new-event-key"
              command="calendar_new_event_command"/>
    <menuitem id="calNewTask2"
              label="&event.new.task;"
              accesskey="&event.new.task.accesskey;"
              key="calendar-new-todo-key"
              command="calendar_new_todo_command"/>
    <menuseparator id="before-Calendar-Mode-Section"/>
    <menuitem id="calMenuSwitchToCalendar"
              type="checkbox"
              label="&lightning.toolbar.calendar.label;"
              accesskey="&lightning.toolbar.calendar.accesskey;"
              command="switch2calendar"
              value="calendar"
              key="openCalendarKey"
              autocheck="false">
    </menuitem>
    <menuitem id="calMenuSwitchToTask"
              type="checkbox"
              label="&lightning.toolbar.task.label;"
              accesskey="&lightning.toolbar.task.accesskey;"
              command="switch2task"
              value="task"
              key="openTasksKey"
              autocheck="false">
    </menuitem>
    <menuseparator id="calBeforeCalendarSection"/>
    <menuitem id="calExportCalendar"
              label="&calendar.export.label;"
              accesskey="&calendar.export.accesskey;"
              command="calendar_export_command"/>
    <menuitem id="calImportCalendar"
              label="&calendar.import.label;"
              accesskey="&calendar.import.accesskey;"
              command="calendar_import_command"/>
    <menuitem id="calPublishCalendar"
              label="&calendar.publish.label;"
              accesskey="&calendar.publish.accesskey;"
              command="calendar_publish_calendar_command"/>
    <menuitem id="calDeleteSelectedCalendar"
              labeldelete="&calendar.deletecalendar.label;"
              labelremove="&calendar.removecalendar.label;"
              labelunsubscribe="&calendar.unsubscribecalendar.label;"
              accesskeydelete="&calendar.deletecalendar.accesskey;"
              accesskeyremove="&calendar.removecalendar.accesskey;"
              accesskeyunsubscribe="&calendar.unsubscribecalendar.accesskey;"
              command="calendar_delete_calendar_command"/>
    <menuseparator id="calBeforeTaskActions"/>
    <menuitem id="calTaskActionsMarkCompletedMenuitem"
              type="checkbox"
              label="&calendar.context.markcompleted.label;"
              accesskey="&calendar.context.markcompleted.accesskey;"
              command="calendar_toggle_completed_command"/>
    <menu id="calTaskActionsProgressMenuitem"
          label="&calendar.context.progress.label;"
          accesskey="&calendar.context.progress.accesskey;"
          command="calendar_general-progress_command">
      <menupopup is="calendar-task-progress-menupopup"/>
    </menu>
    <menu id="calTaskActionsPriorityMenuitem"
          label="&calendar.context.priority.label;"
          accesskey="&calendar.context.priority.accesskey;"
          command="calendar_general-priority_command">
      <menupopup is="calendar-task-priority-menupopup"/>
    </menu>
    <menu id="calTaskActionsPostponeMenuitem"
          label="&calendar.context.postpone.label;"
          accesskey="&calendar.context.postpone.accesskey;"
          command="calendar_general-postpone_command">
      <menupopup id="calTaskActionsPostponeMenuPopup">
        <menuitem id="calTaskActionsPostponeMenu-1hour"
                  label="&calendar.context.postpone.1hour.label;"
                  accesskey="&calendar.context.postpone.1hour.accesskey;"
                  command="calendar_postpone-1hour_command"/>
        <menuitem id="calTaskActionsPostponeMenu-1day"
                  label="&calendar.context.postpone.1day.label;"
                  accesskey="&calendar.context.postpone.1day.accesskey;"
                  command="calendar_postpone-1day_command"/>
        <menuitem id="calTaskActionsPostponeMenu-1week"
                  label="&calendar.context.postpone.1week.label;"
                  accesskey="&calendar.context.postpone.1week.accesskey;"
                  command="calendar_postpone-1week_command"/>
      </menupopup>
    </menu>
    <menuseparator id="calBeforeUnifinderSection" />
    <menuitem id="calShowUnifinder"
              type="checkbox"
              checked="true"
              label="&showUnifinderCmd.label;"
              accesskey="&showUnifinderCmd.accesskey;"
              command="calendar_show_unifinder_command"/>
  </menupopup>
</menu>
