# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

<splitter id="today-splitter"
          class="calendar-sidebar-splitter hide-when-calendar-deactivated"
          collapse="after"
          resizebefore="closest"
          state="collapsed"
          oncommand="TodayPane.onCommandTodaySplitter();">
</splitter>
<calendar-modevbox id="today-pane-panel"
                   class="hide-when-calendar-deactivated"
                   mode="mail,calendar,task,chat,calendarEvent,calendarTask"
                   modewidths="200,200,200,200,200,200"
                   modesplitterstates="open,open,open,open,open,open"
                   refcontrol="calendar_toggle_todaypane_command"
                   persist="modewidths">
  <box class="sidebar-header" align="center">
    <label id="today-pane-header"/>
    <spacer flex="1"/>
    <calendar-modebox mode="mail,calendar,chat,calendarEvent,calendarTask">
      <toolbarbutton id="today-pane-cycler-prev"
                     dir="prev"
                     class="today-pane-cycler"
                     oncommand="TodayPane.cyclePaneView(-1);"/>
      <toolbarbutton id="today-pane-cycler-next"
                     dir="next"
                     class="today-pane-cycler"
                     oncommand="TodayPane.cyclePaneView(1);"/>
    </calendar-modebox>
    <spacer id="buttonspacer"/>
    <toolbarbutton id="today-closer" class="today-closebutton close-icon"
                   oncommand="document.getElementById('today-pane-panel').setVisible(false, true, true);
                              TodayPane.updateDisplay();
                              TodayPane.updateSplitterState();"/>
  </box>
  <vbox flex="1">
    <calendar-modevbox id="agenda-panel"
                       flex="1"
                       mode="mail,calendar,task,chat,calendarEvent,calendarTask"
                       collapsedinmodes="calendar"
                       persist="collapsed height collapsedinmodes">
      <calendar-modebox id="today-none-box"
                        mode="mail,calendar,task,chat,calendarEvent,calendarTask"
                        collapsedinmodes="mail,calendar,task,chat,calendarEvent,calendarTask"
                        refcontrol="calTodayPaneDisplayNone"
                        persist="collapsedinmodes"/>
      <calendar-modebox id="today-minimonth-box"
                        pack="center"
                        class="today-subpane"
                        mode="mail,calendar,task,chat,calendarEvent,calendarTask"
                        collapsedinmodes="mail,calendar,task,chat,calendarEvent,calendarTask"
                        refcontrol="calTodayPaneDisplayMinimonth"
                        persist="collapsedinmodes">
        <calendar-minimonth id="today-minimonth"
                            onchange="TodayPane.setDaywithjsDate(this.value);"/>
      </calendar-modebox>
      <calendar-modebox id="mini-day-box"
                        mode="mail,calendar,task,chat,calendarEvent,calendarTask"
                        class="today-subpane"
                        refcontrol="calTodayPaneDisplayMiniday"
                        collapsedinmodes=""
                        persist="collapsedinmodes"
                        onwheel="TodayPane.advance(event.detail > 0 ? 1 : -1);">
        <hbox id="mini-day-image" flex="1">
          <stack id="dateContainer">
            <hbox pack="center"
                  align="center">
              <label id="datevalue-label" class="dateValue"
                     ondblclick="TodayPane.onDoubleClick(event);"
                     onmousedown="TodayPane.onMousedown(event);"/>
            </hbox>
            <hbox id="dragCenter-image-container" flex="1" pack="center" align="center">
              <html:img id="dragCenter-image"
                        src="chrome://calendar/skin/shared/widgets/drag-center.svg"
                        alt=""
                        hidden="true" />
            </hbox>
          </stack>
          <vbox flex="1">
            <hbox pack="center">
              <label id="weekdayNameLabel"
                     ondblclick="TodayPane.onDoubleClick(event);"
                     flex="1"/>
              <hbox pack="end">
                <toolbarbutton id="previous-day-button"
                               class="miniday-nav-buttons"
                               tooltiptext="&onedaybackward.tooltip;"
                               onmousedown="TodayPane.onMousedown(event, -1);"
                               dir="-1"/>
                <toolbarbutton id="today-button"
                               class="miniday-nav-buttons"
                               tooltiptext="&showToday.tooltip;"
                               oncommand="TodayPane.setDay(cal.dtz.now());"/>
                <toolbarbutton id="next-day-button"
                               class="miniday-nav-buttons"
                               tooltiptext="&onedayforward.tooltip;"
                               onmousedown="TodayPane.onMousedown(event, 1);"
                               dir="1"/>
              </hbox>
            </hbox>
            <hbox pack="start">
              <label id="monthNameContainer" class="monthlabel"
                     ondblclick="TodayPane.onDoubleClick(event);"/>
              <label id="currentWeek-label" class="monthlabel"
                     ondblclick="TodayPane.onDoubleClick(event);"/>
              <spacer flex="1"/>
            </hbox>
          </vbox>
          <toolbarbutton id="miniday-dropdown-button"
                         tooltiptext="&showselectedday.tooltip;"
                         type="menu"
                         wantdropmarker="true">
            <panel id="miniday-month-panel" position="after_end"
                   onpopupshown="this.firstElementChild.focusCalendar();">
              <calendar-minimonth id="miniday-dropdown-minimonth"
                                  flex="1"
                                  onchange="TodayPane.setDaywithjsDate(this.value);
                                            document.getElementById('miniday-month-panel').hidePopup();"/>
            </panel>
          </toolbarbutton>
        </hbox>
      </calendar-modebox>
      <vbox id="agenda-container" flex="1" tooltip="itemTooltip">
        <hbox id="agenda-toolbar" class="themeable-brighttext">
          <toolbarbutton id="todaypane-new-event-button"
                         mode="mail"
                         iconsize="small"
                         orient="horizontal"
                         label="&calendar.newevent.button.label;"
                         tooltiptext="&calendar.newevent.button.tooltip;"
                         command="calendar_new_event_command"/>
        </hbox>
        <html:ul is="agenda-list" id="agenda"></html:ul>
        <template id="agenda-listitem" xmlns="http://www.w3.org/1999/xhtml">
          <div class="agenda-date-header"></div>
          <div class="agenda-listitem-details">
            <div class="agenda-listitem-calendar"></div>
            <div class="agenda-listitem-details-inner">
              <time class="agenda-listitem-time"></time>
              <span class="agenda-listitem-title"></span>
              <span class="agenda-listitem-relative"></span>
            </div>
            <img class="agenda-listitem-overlap" />
          </div>
        </template>
      </vbox>
    </calendar-modevbox>
    <splitter id="today-pane-splitter" persist="hidden" orient="vertical"/>
    <calendar-modevbox id="todo-tab-panel"
                       flex="1"
                       mode="mail,calendar,chat,calendarEvent,calendarTask"
                       collapsedinmodes="mail,task,chat,calendarEvent,calendarTask"
                       persist="height collapsedinmodes"
                       ondragover="calendarTaskButtonDNDObserver.onDragOver(event);"
                       ondrop="calendarTaskButtonDNDObserver.onDrop(event);">
      <!-- This second vbox means all of this is added to the DOM at once,
           so the label's binding doesn't complain about not having a control. -->
      <vbox flex="1">
        <box id="show-completed-checkbox-box" align="center">
          <checkbox id="show-completed-checkbox"
                    label="&calendar.unifinder.showcompletedtodos.label;"
                    flex="1"
                    crop="end"
                    oncommand="TodayPane.updateCalendarToDoUnifinder()"
                    persist="checked"
                    autocheck="false"/>
        </box>
        <vbox id="calendar-task-tree-detail" flex="1">
          <tree is="calendar-task-tree-todaypane" id="unifinder-todo-tree"
                flex="1"
                visible-columns="completed priority title"
                persist="visible-columns ordinals widths sort-active sort-direction filterValue"
                context="taskitem-context-menu"/>
          <html:input id="unifinder-task-edit-field"
                      class="task-edit-field themeableSearchBox"
                      onfocus="taskEdit.onFocus(event)"
                      onblur="taskEdit.onBlur(event)"
                      onkeypress="taskEdit.onKeyPress(event)"/>
        </vbox>
      </vbox>
    </calendar-modevbox>
  </vbox>
</calendar-modevbox>
