/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== addressbook.css ================================================
  == Styles for the main Address Book window.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://messenger/skin/shared/addressbook.css");

#ab-bar2 {
  /* Cover the titlebar with the toolbox background */
  margin-top: -22px;
  padding: 22px 4px 0;
}

#ab-toolbox:-moz-lwtheme {
  appearance: none;
}

#ab-toolbox:-moz-lwtheme::after {
  content: "";
  display: -moz-box;
  position: absolute;
  top: 100%;
  margin-top: -1px;
  height: 1px;
  border-bottom: 1px solid var(--chrome-content-separator-color);
}

#ab-toolbox > toolbar {
  /* force iconsize="small" on these toolbars */
  counter-reset: smallicons;
}

/* Give the tree a vibrant appearance. Only do this when no lwtheme tree rules
 * are in use. Vibrant appearance values only work if there is no
 * background-color rendered behind the element. If the active theme has tree
 * rules, we want to show the theme's background-color in the tree. */
:root:not([lwt-tree]) #dirTree {
  appearance: auto;
  -moz-default-appearance: -moz-mac-source-list;
  -moz-font-smoothing-background-color: -moz-mac-source-list;
  border-inline-end: 1px solid #bdbdbd;
}

#dirTree treechildren::-moz-tree-row {
  padding-bottom: 1px;
  background-color: transparent;
}

:root:not([lwt-tree]) #dirTree treechildren::-moz-tree-row(selected) {
  appearance: auto;
  -moz-default-appearance: -moz-mac-source-list-selection;
  -moz-font-smoothing-background-color: -moz-mac-source-list-selection;
}

:root:not([lwt-tree]) #dirTree treechildren::-moz-tree-row(selected, focus) {
  appearance: none;
  background-color: SelectedItem;
}

#dirTree treechildren::-moz-tree-cell-text {
  font-family: -apple-system;
  font-size: 9pt;
  font-weight: 400;
}

:root:not([lwt-tree]) #dirTree treechildren::-moz-tree-image(selected),
:root:not([lwt-tree]) #dirTree treechildren::-moz-tree-twisty(selected),
:root:not([lwt-tree]) #dirTree treechildren::-moz-tree-cell-text(selected) {
  color: currentColor;
}

:root:not([lwt-tree]) #dirTree treechildren::-moz-tree-image(selected, focus),
:root:not([lwt-tree]) #dirTree treechildren::-moz-tree-twisty(selected, focus),
:root:not([lwt-tree]) #dirTree treechildren::-moz-tree-cell-text(selected, focus) {
  color: SelectedItemText;
}

/* splitters */

#dirTree-splitter {
  border-width: 0;
  border-inline-end: 1px solid var(--splitter-color);
  min-width: 0;
  width: 5px;
  background-color: transparent;
  margin-inline-start: -5px;
  position: relative;
  z-index: 10;
}

#results-splitter {
  border-width: 0;
  border-top: 1px solid var(--splitter-color);
  min-height: 0;
  height: 5px;
  background-color: transparent;
  margin-bottom: -5px;
  position: relative;
  z-index: 10;
}

/* results pane */

#GeneratedName {
  padding-inline-start: 42px;
}

/* card view pane */

.CardViewHeading {
  padding: 3px 5px;
  font: icon;
  font-weight: bold;
  min-width: 30px;
}

#cvHomeMapIt,
#cvWorkMapIt {
  margin-bottom: 0;
  min-height: 19px; /* aqua size for small buttons */
}

#titlebar {
  height: 22px;
}

.titlebar-buttonbox-container {
  margin-top: 3px;
  margin-inline-start: 7px;
}

.titlebar-buttonbox {
  margin-inline: 0;
}

#titlebar-title {
  text-align: center;
  /* Equalize  the titlebar-buttonbox width */
  padding-inline-end: 60px;
}
