/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/shared/calendar.css);

#calendarContent {
  color: -moz-DialogText;
  background-color: -moz-Dialog;
}

#calsidebar_splitter {
  border-inline-start: 1px solid var(--splitter-color);
  /* make only the splitter border visible */
  margin-inline-end: -5px;
}

/* Calendar list rules */
#calendar-panel {
  padding-bottom: 5px;
}

/* Calendar sidebar background in calendar and task mode */
#calSidebar {
  background-color: Field;
}

/* Today pane button in status bar */
#calendar-status-todaypane-button,
#calendar-status-todaypane-button[checked="true"] {
  padding: 0 2px !important;
}

#calendar-status-todaypane-button[hideLabel] > stack {
  margin-top: -2px;
  margin-inline-start: 5px;
}

#calendar-status-todaypane-button > stack > .toolbarbutton-day-text {
  margin-top: 4px;
}

/* shift the today pane button label up by one pixel to center it */
#calendar-status-todaypane-button > .toolbarbutton-text {
  margin: 0 0 1px !important;
}

#calMinimonthBox {
  margin-top: 3px;
}

#calsidebar_splitter,
#today-splitter {
  min-width: 0;
  background-color: transparent;
}

#today-splitter {
  border-inline-end: 1px solid var(--splitter-color);
  margin-inline-start: -5px;
  position: relative;
}

#today-splitter.calendar-sidebar-splitter:-moz-lwtheme {
  background-image: none;
}

#imip-view-toolbar {
  --imip-button-background: ButtonFace;
}
