/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/shared/calendar-task-view.css);

#calendar-task-details-container {
  padding-top: 0;
}

#task-text-filter-field {
  margin-block: 5px;
}

#task-text-filter-field .textbox-search-icons {
  margin-bottom: -1px;
}

/* ::::: task actions toolbar ::::: */

#calendar-add-task-button[disabled="true"] {
  fill-opacity: 0.4;
}

#view-task-edit-field,
#task-text-filter-field {
  width: 15em;
}

#calendar-task-box #calendar-task-view-splitter {
  border-width: 0;
  border-bottom: 1px solid var(--splitter-color);
  min-height: 0;
  height: 5px;
  background-color: transparent;
  margin-top: -5px;
  position: relative;
  z-index: 10;
}

#task-addition-box {
  height: 35px;
}

@media not (prefers-color-scheme: dark) {
  @media (-moz-windows-default-theme) {
    #task-addition-box {
      background-color: #f8f8f8;
    }
  }
}

@media (-moz-os-version: windows-win7) {
  #view-task-edit-field,
  #task-text-filter-field {
    margin-block: 4px;
  }
}
