/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/shared/today-pane.css);

.today-subpane {
  border-bottom-color: ThreeDShadow;
}

#today-pane-splitter {
  border-top-width: 0;
  min-height: 0;
  background-color: transparent;
}

@media (-moz-os-version: windows-win8) and (-moz-windows-default-theme),
       (-moz-os-version: windows-win10) and (-moz-windows-default-theme) {
  #today-pane-panel:not(:-moz-lwtheme) {
    --chrome-content-separator-color: #c2c2c2;
  }
}

#today-pane-panel > .sidebar-header {
  height: 35px;
}

@media (-moz-os-version: windows-win7) {
  #today-pane-panel > .sidebar-header {
    box-shadow: 0 1px 0 rgba(253, 253, 253, 0.45) inset;
  }
}

#today-none-box {
  border-top: 1px solid ThreeDShadow;
}

#todaypane-new-event-button[disabled="true"] > .toolbarbutton-icon {
  opacity: 0.4;
}

@media (-moz-windows-default-theme) {
  .sidebar-header > spacer {
    min-height: 25px;
  }
}

@media all and (-moz-windows-compositor) {
  @media not all and (-moz-os-version: windows-win10) {
    #messengerWindow[sizemode=normal] #today-pane-panel {
      border-inline-end: 1px solid hsla(240, 5%, 5%, .3);
      border-bottom: 1px solid hsla(240, 5%, 5%, .3);
      background-clip: padding-box;
    }
  }

  .today-pane-cycler {
    margin-top: -1px;
  }
}

@media (prefers-color-scheme: dark) {
  :root:-moz-lwtheme-brighttext #agenda {
    list-style: none;
    --selected-background: var(--dark-lwt-highlight-color);
    --selected-foreground: var(--lwt-text-color);
  }
}
