/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/accountManage.css");

window > vbox {
  font-size: 1.36em;
}

description {
  margin: 4px 4px 8px;
}

menulist > menupopup .menu-right {
  margin-inline: 0;
}
