/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/contextMenu.css");

menupopup {
  appearance: none;
  background-color: transparent;
}

menupopup::part(content) {
  margin: 1px;
}

.menu-iconic-icon {
  width: 16px;
}

menuitem > .menu-text {
  margin-inline-start: 16px !important;
}

menuitem > .menu-right {
  margin-inline-end: -4px;
  appearance: none;
}
