/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/editContactPanel.css");

@namespace html url("http://www.w3.org/1999/xhtml");

#editContactAddressBookList {
  margin-inline: 6px;
  padding-inline-start: 8px;
}

#editContactAddressBookList:focus {
  box-shadow: var(--focus-ring-box-shadow);
}

#editContactAddressBookList[disabled="true"] {
  opacity: .5;
}

#editContactAddressBookList::part(dropmarker) {
  appearance: none;
  display: -moz-box;
}

#editContactAddressBookList::part(dropmarker-icon) {
  list-style-image: url(chrome://messenger/skin/icons/toolbarbutton-arrow.svg);
  -moz-context-properties: fill;
  fill: currentColor;
  width: 7px;
  height: 5px;
}

html|input.editContactTextbox {
  padding: 3px 8px;
}
