/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/* ===== mailWindow1.css ================================================
  == Styles for the main Mail window in the default layout scheme.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://messenger/skin/primaryToolbar.css");
@import url("chrome://messenger/skin/folderPane.css");
@import url("chrome://messenger/skin/messageIcons.css");
@import url("chrome://messenger/skin/shared/mailWindow1.css");

#folderPaneHeader {
  border-bottom: 1px solid #bebebe;
}

@media not (prefers-color-scheme: dark) {
  #folderPaneHeader:-moz-window-inactive {
    background-color: -moz-mac-chrome-inactive;
  }
}

:root:not([lwt-tree]) #folderTree {
  appearance: auto;
  -moz-default-appearance: -moz-mac-source-list;
  -moz-font-smoothing-background-color: -moz-mac-source-list;
}

treechildren::-moz-tree-row(modeHeader) {
  appearance: none !important;
}

#folderTree treechildren::-moz-tree-indentation {
 background-color: black !important;
}

#folderTree treechildren::-moz-tree-row {
  padding-inline-start: 2px !important;
  padding-bottom: 2px;
  background: transparent;
}

#folderTree treechildren::-moz-tree-row(hover) {
  background-color: hsla(0, 0%, 50%, 0.15);
}

:root:not([lwt-tree]) #folderTree treechildren::-moz-tree-row(selected) {
  appearance: auto;
  -moz-default-appearance: -moz-mac-source-list-selection;
  -moz-font-smoothing-background-color: -moz-mac-source-list-selection;
}

:root:not([lwt-tree]) #folderTree treechildren::-moz-tree-row(selected, focus) {
  appearance: none;
  background-color: SelectedItem;
}

#folderTree treechildren::-moz-tree-cell-text {
  font-family: -apple-system;
  font-weight: 400;
}

:root:not([lwt-tree]) #folderTree treechildren::-moz-tree-image(selected),
:root:not([lwt-tree]) #folderTree treechildren::-moz-tree-twisty(selected),
:root:not([lwt-tree]) #folderTree treechildren::-moz-tree-cell-text(selected) {
  color: currentColor;
  fill: currentColor;
}

:root:not([lwt-tree]) #folderTree treechildren::-moz-tree-image(selected, focus),
:root:not([lwt-tree]) #folderTree treechildren::-moz-tree-twisty(selected, focus),
:root:not([lwt-tree]) #folderTree treechildren::-moz-tree-cell-text(selected, focus) {
  color: SelectedItemText;
  fill: SelectedItemText;
}

/* ::::: thread decoration ::::: */

/* ::::: group rows ::::: */
treechildren::-moz-tree-row(dummy) {
  padding-inline-start: 0;
}

/* ..... message pane adjustments ..... */

@media not (prefers-color-scheme: dark) {
  #messagepanebox {
    background-color: #fff;
  }
}

.telemetry-text-link {
  color: #fff;
}
