/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/menulist.css");

menulist[is="menulist-editable"][editable="true"] {
  margin: 4px 2px;
}

menulist[is="menulist-editable"][editable="true"]:focus-within {
  box-shadow: var(--focus-ring-box-shadow);
}

menulist[is="menulist-editable"][editable="true"] > menupopup,
menulist[is="menulist-editable"][editable="true"] > menupopup > menuitem,
menulist[is="menulist-editable"][editable="true"] > menupopup > menucaption {
  appearance: none;
}

menulist[is="menulist-editable"][editable="true"] > menupopup > :is(menuitem,menucaption) > .menu-iconic-left {
  display: none;
}

menulist[is="menulist-editable"][editable="true"] > menupopup > menuitem[checked="true"]::before,
menulist[is="menulist-editable"][editable="true"] > menupopup > menuitem[selected="true"]::before {
  display: none;
  margin-inline-start: 0;
}
