/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/message-bar.css");

.notification-button.small-button {
  padding-block: 4px;
}

#reminderBarPopup {
  padding: 5px;
}

#reminderBarPopup > menuitem[_moz-menuactive="true"] {
  -moz-font-smoothing-background-color: -moz-mac-active-menuitem;
  color: -moz-mac-menutextselect;
  background-color: SelectedItem;
}

@media (-moz-mac-big-sur-theme) {
  #reminderBarPopup > menuitem {
    appearance: none;
    border-radius: 4px;
  }

  #reminderBarPopup > menuitem[_moz-menuactive="true"] {
    background-color: color-mix(in srgb, white 25%, -moz-accent-color);
  }
}
