/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/multimessageview.css");

/* osx-specific overrides for multimessageview.css*/

.multimessage {
  min-height: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

@media not all and (prefers-color-scheme: dark) {
  .toolbarbutton-1.message-header-view-button {
    color: -moz-DialogText !important;
    background-color: white;
  }

  .toolbarbutton-1.message-header-view-button:hover {
    background-color: rgb(230, 230, 230) !important;
  }
}
