/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/themeableDialog.css");

@namespace html url("http://www.w3.org/1999/xhtml");

:host,
:root {
  appearance: none;
  --popup-item-hover-text: SelectedItemText;
  --popup-item-hover: SelectedItem;
}

:root[lwt-default-theme-in-dark-mode] {
  --popup-item-hover: SelectedItem;
}

@media (-moz-mac-big-sur-theme) {
  :root:not([lwt-default-theme-in-dark-mode]) {
    --popup-item-hover: color-mix(in srgb, white 25%, -moz-accent-color);
  }
}

button > .button-box {
  padding-block: 3px;
}

#resetColor > .button-box {
  padding-block: 0;
}

.button-menu-dropmarker {
  display: -moz-box;
}

menulist {
  padding-inline-end: 0;
}

menulist::part(dropmarker) {
  display: -moz-box;
}

html|input {
  padding: 4px;
}

html|input[type="number"]::-moz-number-spin-up,
html|input[type="number"]::-moz-number-spin-down {
  width: 16px;
  min-height: 0.7em;
}

menulist[is="menulist-editable"][editable="true"] {
  padding: 0;
}

menulist[is="menulist-editable"][editable="true"]::part(text-input) {
  padding: 4px;
  margin-block: -1px;
  margin-inline: -1px 2px;
}

menulist[is="menulist-editable"][editable="true"]::part(dropmarker) {
  display: -moz-box;
  width: initial;
  min-width: 0;
  margin-block: 0;
  margin-inline-end: 3px;
}

menulist > menupopup:not([position]) {
  margin-inline-start: 0;
  margin-top: 0;
}

.menu-right {
  -moz-image-region: auto;
  margin-top: 3px;
}

tabbox {
  margin-inline: 0;
}

.tab-middle {
  padding: 0;
}
