/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== addressbook.css ================================================
  == Styles for the main Address Book window.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://messenger/skin/shared/addressbook.css");

#abContent {
  background-color: -moz-Dialog;
}

/* results pane */

#GeneratedName {
  padding-inline-start: 30px;
}

/* Toolbar */

#ab-toolbox {
  appearance: none;
  border-bottom: 1px solid var(--chrome-content-separator-color);
}

@media (-moz-windows-default-theme) {
  @media (-moz-os-version: windows-win8),
         (-moz-os-version: windows-win10) {
    #ab-toolbox:not(:-moz-lwtheme) {
      --chrome-content-separator-color: #c2c2c2;
    }
  }
}

toolbar:not(:-moz-lwtheme) {
  appearance: none;
}

#ab-toolbox > toolbar {
  /* force iconsize="small" on these toolbars */
  counter-reset: smallicons;
}

#ab-toolbox > toolbar:not([type="menubar"]) {
  padding: 2px 1px;
}

#ab-toolbox > toolbar:not([type="menubar"]):-moz-lwtheme {
  text-shadow: none;
}

toolbox > toolbar:last-of-type {
  padding-top: 1px;
  padding-bottom: 1px;
}

@media (-moz-os-version: windows-win10) and (-moz-windows-default-theme) {
  #menubar-items > #mail-menubar > menu[disabled="true"] {
    background-color: transparent;
  }

  #menubar-items > #mail-menubar >
    menu:not([disabled="true"])[_moz-menuactive="true"] {
    background-color: hsla(0, 0%, 0%, .12);
  }

  #menubar-items > #mail-menubar >
    menu:not([disabled="true"])[_moz-menuactive="true"]:-moz-lwtheme-brighttext {
    background-color: hsla(0, 0%, 100%, .2);
  }
}

/* Search Textbox */

#peopleSearchInput {
  width: 20em;
  padding-inline-start: 5px;
}

/* directory pane adjustments */

@media (-moz-windows-default-theme) {
  :root:not([lwt-tree],:-moz-lwtheme-brighttext) #dirTree {
    background-color: #fafafa;
  }

  .sidebar-header {
    appearance: none;
    background-color: #f8f8f8;
    border-top: 0;
    border-bottom: 1px solid #a9b1b8;
  }
}

/* splitters */

#dirTree-splitter {
  border-width: 0;
  border-inline-end: 1px solid var(--splitter-color);
  min-width: 0;
  width: 3px;
  background-color: transparent;
  margin-inline-start: -3px;
  position: relative;
  z-index: 10;
}

#results-splitter {
  border-width: 0;
  border-top: 1px solid var(--splitter-color);
  min-height: 0;
  height: 3px;
  background-color: transparent;
  margin-bottom: -3px;
  position: relative;
  z-index: 10;
}

/* card view pane */

#CardViewOuterBox {
  border: none;
  border-top: 1px solid ThreeDShadow;
}

@media (-moz-windows-glass) {
  #ab-toolbox:not(:-moz-lwtheme) {
    color: black;
    text-shadow: 0 0 .7em white, 0 0 .7em white, 0 1px 0 rgba(255, 255, 255, .4);
    --chrome-content-separator-color: #aabccf;
  }
}
